<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<ngb-tabset type="pills">
  <ngb-tab title="Policy Group" id="group">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer [columnAutoWidth]="true" [allowColumnResizing]="true" id="gridContainer"
                [dataSource]="dataSource" [showBorders]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-editing mode="row" [allowDeleting]="true" [allowUpdating]="true" [allowAdding]="true">
                </dxo-editing>
                <dxi-column dataField="Code" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="Description" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Policy Setup" id="setup">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
                [showBorders]="true" (onRowClick)="onUserRowSelect($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="Code" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>

        <div class="col-9">
          <div class="card">
            <div class="card-body font-for-formlable">
              <div id="form-container">
                <dx-form itemType="group" [colCount]="2" [formData]="getSelectedLists" accept-charset="UTF-8">
                  <dxi-item itemType="group">
                    <dxi-item cssClass="font-for-formlable" [template]="'SalesAccount'" [label]="{text: 'Sales Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'ConsignSalesAccount'" [label]="{text: 'Consign Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'SalesCNAccount'" [label]="{text: 'Sales C.N. Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'SalesDiscountAccount'" [label]="{text: 'Sales Disc. Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'PurchaseAccount'" [label]="{text: 'Purchase Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'PurchVATUnRealizedAcct'" [label]="{text: 'Purchase C.N. Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'PurchDiscountAccount'" [label]="{text: 'Purchase Disc. Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                  </dxi-item>
                  <div *dxTemplate="let data of 'SalesAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.SalesAccount:''"
                      (onValueChanged)="onSalesAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.SalesAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'ConsignSalesAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.ConsignSalesAccount:''"
                      (onValueChanged)="onConsignSalesAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.ConsignSalesAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'SalesCNAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.SalesCNAccount:''"
                      (onValueChanged)="onSalesCNAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.SalesCNAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'SalesDiscountAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.SalesDiscountAccount:''"
                      (onValueChanged)="onSalesDiscountAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.SalesDiscountAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'PurchaseAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.PurchaseAccount:''"
                      (onValueChanged)="onPurchaseAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.PurchaseAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'PurchVATUnRealizedAcct'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.PurchaseCNAccount:''"
                      (onValueChanged)="onPurchVATUnRealizedAcctChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.PurchaseCNAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'PurchDiscountAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.PurchDiscountAccount:''"
                      (onValueChanged)="onPurchDiscountAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.PurchDiscountAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                  <dxi-item itemType="group">
                    <dxi-item cssClass="font-for-formlable" [template]="'InventoryAccount'" [label]="{text: 'Inventory Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'COGSAccount'" [label]="{text: 'COGS Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'DirectCostAccount'" [label]="{text: 'Direct Cost Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'InventoryAdjustmentAccount'" [label]="{text: 'Inventory Adj. Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'ExpenseAccount'" [label]="{text: 'Expense Account'}"
                      [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                  </dxi-item>

                  <div *dxTemplate="let data of 'InventoryAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.InventoryAccount:''"
                      (onValueChanged)="onInventoryAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.InventoryAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'COGSAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.COGSAccount:''"
                      (onValueChanged)="onCOGSAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.COGSAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'DirectCostAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.DirectCostAccount:''"
                      (onValueChanged)="onDirectCostAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.DirectCostAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'InventoryAdjustmentAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.InventoryAdjustmentAccount:''"
                      (onValueChanged)="onInventoryAdjustmentAccountChange($event)" hoverStateEnabled="true"
                      [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.InventoryAdjustmentAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>

                  <div *dxTemplate="let data of 'ExpenseAccount'">
                    <dx-select-box #selectBox1 [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                      valueExpr="AccountCode" [minSearchLength]="0" fieldTemplate="field1" [value]="getSelectedLists ? getSelectedLists.ExpenseAccount:''"
                      (onValueChanged)="onExpenseAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.AccountCode:getSelectedLists ? getSelectedLists.ExpenseAccount:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                </dx-form>
                <dx-button type="danger" [disabled]="true" text="Delete" (onClick)="delete()">
                </dx-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

</ngb-tabset>