<a [routerLink]="[ '/warehouse/item-journal-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-12">
    <div class="card bg-darkerbg">
      <div class="card-body">
        <dx-form itemType="group" [colCount]="4" accept-charset="UTF-8">
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp2'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp3'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="2">
            <dxi-item [template]="'MainTemp4'">
            </dxi-item>
          </dxi-item>
          <div *dxTemplate="let data of 'MainTemp'">
            <span *ngIf="IJHeader" style="color: #fff; font-size:20px;"><b>{{IJHeader.Code }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:20px;">Date:
            <span *ngIf="IJHeader"><b>
                {{IJHeader.DocumentDate }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp2'" style="color: #fff; font-size:20px;">User:
            <span *ngIf="IJHeader"><b>
                {{IJHeader.userID }}</b></span>
          </div>
          <div class="clearfix" *dxTemplate="let data of 'MainTemp4'">
            <dx-select-box #selectBoxPRO [dataSource]="ItemJournalOperations" [value]=""></dx-select-box>
            <dx-button type="default" text="GO" (onClick)="ItemJournalOperationsGo(selectBoxPRO.text)">
            </dx-button>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
          [showBorders]="true" [allowColumnResizing]="true" [wordWrapEnabled]="true" (onInitNewRow)="onInitNewRow($event)"
          (onRowInserted)="onRowInserted($event)" (onEditingStart)="onInitNewRow($event)" (onCellPrepared)="onCellPrepared($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
          </dxo-editing>
          <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
          <dxi-column dataField="DocumentNo" [allowSearch]="false" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="EntryType" [allowSearch]="true" dataType="string" [editorOptions]="{showClearButton: false}"
            [setCellValue]="setEntryType">
            <dxo-lookup [dataSource]="EntryTypeSuggestion" [valueExpr]="suggestionFormateForType" [displayExpr]="suggestionFormateForType"
              hoverStateEnabled="true"></dxo-lookup>
          </dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <div title="EntryType"></div>
          </div>
          <dxi-column dataField="Location" caption="Location Code" [allowSearch]="true" [setCellValue]="setLocationCode"
            [editorOptions]="{showClearButton: false, itemTemplate: hoverFormateForLocation, searchExpr: ['LocationCode', 'Name'] }"
            dataType="string">
            <dxo-lookup [dataSource]="receiveLocSuggestions" [valueExpr]="suggestionFormateForLocation" [displayExpr]="suggestionFormateForLocation"
              hoverStateEnabled="true">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="StorageCode" caption="Storage Code" [allowSearch]="true" [editorOptions]="{showClearButton: false, itemTemplate: hoverFormateForStorageLocation, searchExpr: ['LocationCode', 'Name'] }"
            dataType="string">
            <dxo-lookup [dataSource]="receiveStorageLocSuggestions" [valueExpr]="suggestionFormateForStorageLocation"
              [displayExpr]="suggestionFormateForStorageLocation" hoverStateEnabled="true">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="ItemCode" [allowSearch]="true" [setCellValue]="setBaseUOMValueItemCode" dataType="string"
            [allowEditing]="false">
            <!-- <dxo-lookup [dataSource]="itemArray" [valueExpr]="formateForItemListSuggestion2" [displayExpr]="itemLookup2"
              hoverStateEnabled="true"> [editorOptions]="{showClearButton: true, itemTemplate: hoverItemList, searchExpr: ['ItemCode', 'Description'] }"
            </dxo-lookup> -->
          </dxi-column>
          <dxi-column dataField="Lookup" caption="" cellTemplate="cellTemplate" [allowEditing]="false" [allowSearch]="false"
            [visible]="false"></dxi-column>
          <dxi-column dataField="Details" caption="" cellTemplate="cellTemplate2" [allowEditing]="false" [allowSearch]="false"></dxi-column>
          <dxi-column dataField="Description" [allowSearch]="true" dataType="string" [width]="150"></dxi-column>
          <dxi-column dataField="BaseUOM" [allowSearch]="true" dataType="string" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="UnitCost" [allowSearch]="false" [setCellValue]="setPriceValue" dataType='number'
            [editorOptions]="{min: 0, format: ' #,##0.##' }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="Quantity" dataType="number" [allowSearch]="false" [allowEditing]="true" [setCellValue]="setQuantityValue"
            [editorOptions]="{ min: 0, format: ' #,##0.##' }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="UnitAmount" dataType="number" [allowSearch]="false" [allowEditing]="false"
            [editorOptions]="{  min: 0 }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="LotNo" [visible]="false" [allowSearch]="true" [editorOptions]="{showClearButton: false, itemTemplate: hoverFormateForLotNo, searchExpr: ['LotNo'] }"
            dataType="string" [setCellValue]="setLotNumber">
            <dxo-lookup [dataSource]="LotNoSuggestions" [valueExpr]="suggestionFormateForLotNo" [displayExpr]="suggestionFormateForLotNo"
              hoverStateEnabled="true">
            </dxo-lookup>
          </dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
          <dxo-summary>
            <dxi-total-item column="UnitAmount" summaryType="sum" displayFormat="Total: {0}" [customizeText]="getFormatOfNumber">
            </dxi-total-item>
            <dxi-total-item column="Quantity" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
            </dxi-total-item>
          </dxo-summary>
          <div *dxTemplate="let data of 'cellTemplate'">
            <div class="icon">
              <i class="fa fa-search" (click)="ItemLookupvalueChanged(data)"></i>
            </div>
          </div>
          <div *dxTemplate="let data of 'cellTemplate2'">
            <div class="icon">
              <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data,'details')"></i></a>
            </div>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="itemLookupDetailsPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="ItemCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Description2" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BaseUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="UnitPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="UnitCost" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SalesUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="HSNCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="LotNoRequired" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="LegacyCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Brand" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Category" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SubCategory" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Color" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="VatProdPostGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="GenPolicyGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Active" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="ShelfDays" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="itemDetailsPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="ItemCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BaseUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="UnitCost" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="UnitAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="LotNo" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DocumentNo" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="EntryType" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="Quantity" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Location" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="StorageCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="PolicyGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="GenPolicyGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [showTitle]="true" title="Item LookUp" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="globalItemLookupPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [showBorders]="true" [dataSource]="itemArray" [hoverStateEnabled]="true"
          [allowColumnResizing]="true" (onRowClick)="onUserRowSelect($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="ItemCode"></dxi-column>
          <dxi-column dataField="Description"></dxi-column>
          <dxi-column dataField="BaseUOM"></dxi-column>
          <dxi-column dataField="UnitCostAVG" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="Lookup" caption="Item Details" cellTemplate="cellTemplateforItemButton" [allowEditing]="false"
            [allowSearch]="false"></dxi-column>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
          <div *dxTemplate="let data of 'cellTemplateforItemButton'">
            <div class="icon">
              <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data,'Item')"></i></a>
            </div>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="800" [height]="500" [showTitle]="true" title="Check and Confirm Posting" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="onCreateGLBuffResultSet"
          [repaintChangesOnly]="true" [allowColumnResizing]="true">
          <dxi-column dataField="AccountCode"></dxi-column>
          <dxi-column dataField="Description"></dxi-column>
          <dxi-column dataField="DebitAmount" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="CreditAmount" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
        </dx-data-grid>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
          <p><b>Balance</b>: {{ this.balanceforpost | number: '1.2-2'}}</p>
        </div>
      </div>
      <div class="row">
        <dx-button text="Post" type="default" (onClick)="PostBtn()">
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>


<dx-popup class="popup" [height]="'auto'" [showTitle]="true" [showCloseButton]="true" title="Item Import" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [deferRendering]="false" [(visible)]="importpopup">
  <div *dxTemplate="let data of 'content'">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [completed]="isFileSelected1" [editable]="true">
        <ng-template matStepLabel>Import</ng-template>
        <div class="row font-for-formlable">
          <div class="col-9 font-for-formlable">
            Choose a File(.xlsx, .xls, .csv) :
            <span class="btn btn-primary btn-sm btn-file">
              Browse file<input #selectedfile class="selectedfile" type="file" (click)="clearFile()" (change)="onFileChange2($event)"
                multiple="false" accept=".xlsx, .xls, .csv" />
            </span>
            <br>
            <br>
            <div>
              <a href="assets/xlsx/item-journal-sample.xlsx" download>
                <button type="button" class="btn btn-outline-dark btn-sm">DOWNLOAD IMPORT TEMPLATE</button>
              </a>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step [completed]="!isFileSelected1" [editable]="isFileSelected1">
        <ng-template matStepLabel>Validate</ng-template>
        <div class="font-for-formlable">
          <dx-data-grid #gridContainer2 id="gridContainer2" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="dataSourceIJ"
            [repaintChangesOnly]="true" [allowColumnResizing]="true">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
            <dxo-export [enabled]="true" fileName="ItemJounal-Import-Data"></dxo-export>
            <dxi-column dataField="Itemcode" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="unitcost" dataType="number">
              <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
            </dxi-column>
            <dxi-column dataField="barcode"></dxi-column>
            <dxi-column dataField="Quantity" dataType="number">
              <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
            </dxi-column>
            <dxi-column dataField="Location"></dxi-column>
            <dxi-column dataField="DocumentDate"></dxi-column>
            <dxi-column dataField="BaseUOM" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="BatchID"></dxi-column>
            <dxi-column dataField="lineStatus"></dxi-column>
            <dxo-paging [pageSize]="6"></dxo-paging>
            <dxo-pager [showInfo]="true"></dxo-pager>
          </dx-data-grid>
          <br>
          <span style="float: right;">Total Count : {{ rowCount1 }}</span>
          <dx-button type="default" icon="download" text="INSERT" (onClick)="btnImport_clickHandler2()"></dx-button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</dx-popup>