<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-12">
    <div class="card-body font-for-formlable">
      <div class="card">
        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
          [showBorders]="true" [hoverStateEnabled]="true"
          (onRowClick)="onUserRowSelect($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
          </dxo-pager>
          <dxi-column dataField="DocumentNo"></dxi-column>
          <dxi-column dataField="PayToName"></dxi-column>
          <dxi-column dataField="DocumentDate"></dxi-column>
          <dxi-column dataField="AmountIncludingVAT" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="DocumentStatus"></dxi-column>
          <dxi-column dataField="FlowResult"></dxi-column>
          <dxi-column dataField="ActionType"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>