<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="continents" [hoverStateEnabled]="true" [showBorders]="true"
          [allowColumnResizing]="true" (onRowClick)="onUserRowSelect($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-editing mode="row" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
          <dxi-column dataField="Name" [allowSearch]="true" dataType="string"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <dx-form [formData]="ecommerceFormDetails" accept-charset="UTF-8"
          (onFieldDataChanged)="onformFieldsChanges($event)">
          <dxi-item cssClass="font-for-formlable" dataField="AppKey"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="AppSecret"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="StoreURL"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate5'" [label]="{text: 'Location Code'}">
          </dxi-item>
          <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Attirbute Code'}">
          </dxi-item>
          <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate7'" [label]="{text: 'Customer Code'}">
          </dxi-item>
          <div *dxTemplate="let data of 'nameTemplate5'">
            <dx-select-box #selectBox4 [dataSource]="ShipFromSuggestions" [searchEnabled]="true"
              [displayExpr]="suggestionFormateForShippedby" valueExpr="LocationCode" [minSearchLength]="0"
              fieldTemplate="field5" [value]="ecommerceFormDetails ? ecommerceFormDetails.LocationCode:''"
              [disabled]="ShipFromSuggestions!=null ? false:true"
              (onValueChanged)="onDropDownCodeChanged($event,'LocationCode')" hoverStateEnabled="true"
              [itemTemplate]="hover4">
              <div *dxTemplate="let itemData5 of 'field5'">
                <dx-text-box
                  [text]="itemData5 ? itemData5.LocationCode:ecommerceFormDetails ? ecommerceFormDetails.LocationCode:''"
                  [elementAttr]="{ 'class': 'font-for-formlable' }">
                </dx-text-box>
              </div>
            </dx-select-box>
          </div>
          <div *dxTemplate="let data of 'nameTemplate6'">
            <dx-select-box #selectBox4 [dataSource]="ShipFromSuggestions2" [searchEnabled]="true"
              [displayExpr]="suggestionFormateForPaymentMethod" valueExpr="Code" [minSearchLength]="0"
              fieldTemplate="field5" [value]="ecommerceFormDetails ? ecommerceFormDetails.AttirbuteCode:''"
              [disabled]="ShipFromSuggestions2!=null ? false:true"
              (onValueChanged)="onDropDownCodeChanged($event,'AttirbuteCode')" hoverStateEnabled="true"
              [itemTemplate]="hover3">
              <div *dxTemplate="let itemData5 of 'field5'">
                <dx-text-box
                  [text]="itemData5 ? itemData5.Code:ecommerceFormDetails ? ecommerceFormDetails.AttirbuteCode:''"
                  [elementAttr]="{ 'class': 'font-for-formlable' }">
                </dx-text-box>
              </div>
            </dx-select-box>
          </div>
          <div *dxTemplate="let data of 'nameTemplate7'">
            <dx-select-box #selectBox4 [dataSource]="ShipFromSuggestions3" [searchEnabled]="true"
              [displayExpr]="suggestionFormateForCustomer" valueExpr="CustCode" [minSearchLength]="0"
              fieldTemplate="field5" [value]="ecommerceFormDetails ? ecommerceFormDetails.CustomerCode:''"
              [disabled]="ShipFromSuggestions2!=null ? false:true"
              (onValueChanged)="onDropDownCodeChanged($event,'CustomerCode')" hoverStateEnabled="true"
              [itemTemplate]="hover">
              <div *dxTemplate="let itemData5 of 'field5'">
                <dx-text-box
                  [text]="itemData5 ? itemData5.CustCode:ecommerceFormDetails ? ecommerceFormDetails.CustomerCode:''"
                  [elementAttr]="{ 'class': 'font-for-formlable' }">
                </dx-text-box>
              </div>
            </dx-select-box>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>