<a [routerLink]="[ '/warehouse/posted-pick-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="itemDetailsPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="ItemCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BaseUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>

          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="CategoryCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SubCatcode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BrandCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SOUnitPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" width="600" [showTitle]="true" title="Customer Details" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupShipToVendorDetails">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form [formData]="pickHeader" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true}"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoName" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' },  readOnly:true}"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoAddress" [label]="{text: 'Ship-To Address'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoAddress2" [label]="{text: 'Ship-To Address2'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoCity" [label]="{text: 'Sell-To City'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoPostCode" [label]="{text: 'Sell-To Zip'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' },  readOnly:true }"></dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" width="'auto'" height="'auto'" [showTitle]="true" title="Delivery Status" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupDeliveryStatus">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-select-box #selectBoxDS [dataSource]="DeliveryStatus" [value]=""></dx-select-box>
        <dx-button type="default" text="GO" (onClick)="UpdateDeliveryStatusGo(selectBoxDS.text)"></dx-button>
      </div>
    </div>
  </div>
</dx-popup>

<div class="row">
  <div class="col-12">
    <div class="card bg-darkerbg">
      <div class="card-body">
        <dx-form id="PurchaseOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp3'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="2">
            <dxi-item [template]="'MainTemp2'">
            </dxi-item>
          </dxi-item>
          <div *dxTemplate="let data of 'MainTemp'">
            <span *ngIf="pickHeader" style="color: #fff; font-size:22px;"><b>{{ pickHeader.DocumentNo }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">Date:
            <span *ngIf="pickHeader"><b> {{ pickHeader.DocumentDate }}</b></span>
          </div>
          <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
            <dx-select-box #selectBoxSO [dataSource]="pickOpeartion" [value]=""></dx-select-box>
            <dx-button type="default" text="GO" (onClick)="PickOrderOperationsGo(selectBoxSO.text)">
            </dx-button>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" itemType="group" [formData]="pickHeader" accept-charset="UTF-8">
            <dxi-item cssClass="font-for-formlable" dataField="DocumentNo" [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' },  readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="LocationCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DefPickStorage" [label]="{text: 'Storage Unit'}"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SourceNo" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DeliveryStatus" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <!-- <dxi-item cssClass="font-for-formlable" dataField="SODate" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item> -->
          </dx-form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" itemType="group" [formData]="pickHeader" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="SelltoCustomerNo" caption="Sell-To Code" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="ShiptoCode" caption="Ship-To Code" [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true  }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SOShipmentDate" caption="Deliver Date" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="HandHeldStatus" caption="HandHeld Status"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Remarks" caption="Remarks" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true  }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="RemarksExternal" caption="Remarks To Print"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true  }"></dxi-item>

          </dx-form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <ngb-tabset type="pills">
          <ngb-tab title="Pick Lines">
            <ng-template ngbTabContent>
              <dx-data-grid #gridContainerPL [columnAutoWidth]="true" id="gridContainerPL" [dataSource]="dataSource"
                [showBorders]="true" [allowColumnResizing]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-editing mode="row" [allowDeleting]="true" [texts]="{ deleteRow:'UNDO SHIPPING' }">
                  <dxo-texts confirmDeleteMessage="Are you sure want to Undo the Shipping?"></dxo-texts>
                </dxo-editing>
                <dxi-column dataField="LineNo" [allowSearch]="true" [visible]="false"></dxi-column>
                <dxi-column dataField="ItemCode" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="Lookup" caption="" cellTemplate="cellTemplate" [allowEditing]="false"
                  [allowSearch]="false"></dxi-column>
                <dxi-column dataField="Description" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxi-column dataField="BaseUOM" [allowSearch]="true" dataType="string"></dxi-column>
                <dxi-column dataField="QtyinBaseUOM" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="SOUOM" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxi-column dataField="QtyinSOUOM" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="ShippingQty" caption="Shipped Qty" dataType="number" [allowSearch]="false"
                  [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="SOUnitPrice" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Barcode" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-summary>
                  <dxi-total-item column="QtyinBaseUOM" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="QtyinSOUOM" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="ShippingQty" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="ShippedQty" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="BaseUOM" summaryType="sum" displayFormat="Total: ">
                  </dxi-total-item>
                </dxo-summary>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>