<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
          [showBorders]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-editing mode="row" [allowDeleting]="true" [allowUpdating]="false" [allowAdding]="true">
          </dxo-editing>
          <dxi-column dataField="Code"></dxi-column>
          <dxi-column dataField="Name"></dxi-column>
          <dxi-column dataField="TenderType" [allowSearch]="true" dataType="string"
            [editorOptions]="{showClearButton: true}">
            <dxo-lookup [dataSource]="tenderSuggestions" [valueExpr]="suggestionFormateForCustomer"
              [displayExpr]="suggestionFormateForCustomer" hoverStateEnabled="true">
            </dxo-lookup>
          </dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>