<a [routerLink]="[ '/warehouse/posted-transfer-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-12">
    <div class="card bg-darkerbg">
      <div class="card-body">
        <dx-form id="PurchaseOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp3'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="2">
            <dxi-item [template]="'MainTemp2'">
            </dxi-item>
          </dxi-item>
          <div *dxTemplate="let data of 'MainTemp'">
            <span *ngIf="transHeader" style="color: #fff; font-size:22px;"><b>{{ transHeader.DocumentNo }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">Status:
            <span *ngIf="transHeader"><b> {{ transHeader.DocumentStatus }}</b></span>
          </div>
          <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
            <dx-select-box #selectBoxTR [dataSource]="TransferDetailsOperations" [value]=""></dx-select-box>
            <dx-button type="default" text="GO" (onClick)="SalesOrderOperationsGo(selectBoxTR.text)">
            </dx-button>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-form id="PickOrderForm" [formData]="transHeader" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
            [label]="{text: 'Date'}"
            [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly: isLinesExist }">
          </dxi-item>
        </dx-form>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" [formData]="transHeader" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="Reason"
              [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
          </dx-form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body font-for-formlable">
        <h3 class="card-title">Send From</h3>
        <dx-form id="PickOrderForm" [formData]="transHeader" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item cssClass="font-for-formlable" dataField="FromLocationCode"
            [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="FromStorageUnitCode"
            [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
        </dx-form>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <h3 class="card-title">In Transits</h3>
          <dx-form id="PickOrderForm" [formData]="transHeader" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="InTransitCode"
              [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="InTrasnitStorageUnitCode"
              [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
          </dx-form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <h3 class="card-title">Recieve At</h3>
          <dx-form id="PickOrderForm" [formData]="transHeader" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="ToLocationCode"
              [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="ToStorageUnitCode"
              [editorOptions]="{  elementAttr:{'class': 'font-for-formlable' } }"></dxi-item>
          </dx-form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
          [showBorders]="true" [allowColumnResizing]="true" [allowColumnReordering]="true" [wordWrapEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-editing mode="row" [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="false">
          </dxo-editing>
          <dxi-column dataField="ItemCode" [allowSearch]="true" [allowEditing]="false" dataType="string"></dxi-column>
          <dxi-column dataField="BaseUOM" [allowEditing]="false" [allowSearch]="true" dataType="string"></dxi-column>
          <dxi-column dataField="Description" [allowEditing]="false" [allowSearch]="true" dataType="string">
          </dxi-column>
          <dxi-column dataField="LotNo" [allowEditing]="false" [allowSearch]="true" dataType="string"></dxi-column>
          <dxi-column dataField="QtySent" dataType="number" [allowSearch]="false"
            [editorOptions]="{min: 0, format: ' #,##0' }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>