<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <dx-data-grid id="gridContainer" [dataSource]="movementListSource" [showBorders]="true"
                [allowColumnResizing]="true" [columnAutoWidth]="true" (onRowClick)="onUserRowSelect($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                <dxi-column dataField="DocumentDate" caption="Date"> </dxi-column>
                <dxi-column dataField="FromLocationCode" caption="Location Code"></dxi-column>
                <dxi-column dataField="FromUserID" caption="Created By"> </dxi-column>
                <dxi-column dataField="Reason" caption="Comments"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
            </dx-data-grid>
        </div>
    </div>
</div>
</div>