<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <div class="col-12">
            <h3 *ngIf="getCompanyInfo!=null">{{ getCompanyInfo.Name }}</h3>
          </div>
          <hr>
          <div class="row">
            <div class="col-10">
              <div *ngIf="itemImageData;else ALTERNATE_IMAGE">
                <img [src]="itemimagePath" class="img-circle" width="150" />
              </div>
              <ng-template #ALTERNATE_IMAGE>
                <img src="assets/images/big/img.png" class="img-circle" width="150" />
              </ng-template>
            </div>
            <div class="col-2">
              <a (click)="showInfo()">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div id="form-container">
              <dx-form [colCount]="2" [(formData)]="getCompanyInfo" accept-charset="UTF-8" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                itemType="group">

                <dxi-item dataField="Name" [label]="{text: 'Company Name'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="HomePage" [label]="{text: 'HomePage'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="Address1" [label]="{text: 'Address'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="VATID" [label]="{text: 'VAT ID'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="Address2" [label]="{text: 'Address2'}"></dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'OneSUperLocation'" [label]="{text: 'One SU/Location'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="City" [label]="{text: 'City'}"></dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'QCLocation'" [label]="{text: 'QC Location'}">
                </dxi-item>
                <dxi-item class="font-for-formlable" dataField="PostCode" [label]="{text: 'PostCode'}"></dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'AmountIncludingVAT'" [label]="{text: 'Amt Inc VAT'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="Phone" [label]="{text: 'Phone'}" [editorOptions]="{ 
                          mask: '',
                          useMaskedValue: true,
                          maskInvalidMessage: 'The phone must have a correct phone format eg: +66 000000000'
                      }">
                  <!-- <dxi-validation-rule type="pattern" 
                    message="The phone must have a correct THAILAND phone format">
                  </dxi-validation-rule> -->
                </dxi-item>

                <dxi-item cssClass="font-for-formlable" [template]="'DefaultLocation'" [label]="{text: 'Default Location'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="Fax" [label]="{text: 'Fax'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="PrintHeight" [label]="{text: 'Report Height'}"></dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'IsHO'" [label]="{text: 'HO'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="PrintWidth" [label]="{text: 'Report Width'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="BranchID" [label]="{text: 'Branch ID'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="PIBackDateLimit" [label]="{text: 'PIDate Limit(mos)'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="BranchName" [label]="{text: 'Branch Name'}"></dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="HasINLocalization" [label]="{text: 'GST (INDIA)'}"
                  [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'CountryCode'" [label]="{text: 'Country Code'}">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" [template]="'StateCode'" [label]="{text: 'State Code'}">
                </dxi-item>
                <dxi-item class="font-for-formlable" dataField="CurrencyCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="CIN" [label]="{text: 'CIN'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="PAN" [label]="{text: 'PAN'}"></dxi-item>
                <dxi-item class="font-for-formlable" dataField="IEC" [label]="{text: 'IEC'}"></dxi-item>

                <div *dxTemplate="let data of 'IsHO'">
                  <dx-select-box #selectBox2 [dataSource]="hoSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormatForIsHO"
                    valueExpr="Code" [minSearchLength]="0" fieldTemplate="field" [value]="hoSuggestions ? getCompanyInfo.IsHO:''"
                    (onValueChanged)="onIsHOvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                    <div *dxTemplate="let itemData1 of 'field'">
                      <dx-text-box [text]="itemData1 ? itemData1.Code:getCompanyInfo ? getCompanyInfo.IsHO:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'OneSUperLocation'">
                  <dx-select-box #selectBox2 [dataSource]="OneSUperLocationSuggestions" [searchEnabled]="true"
                    [displayExpr]="suggestionFormatForOneSUperLocation" valueExpr="Code" [minSearchLength]="0"
                    fieldTemplate="field1" [value]="OneSUperLocationSuggestions ? getCompanyInfo.OneSUperLocation:''"
                    (onValueChanged)="onOneSUperLocationvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover2">
                    <div *dxTemplate="let itemData1 of 'field1'">
                      <dx-text-box [text]="itemData1 ? itemData1.Code:getCompanyInfo ? getCompanyInfo.OneSUperLocation:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'AmountIncludingVAT'">
                  <dx-select-box #selectBox2 [dataSource]="AmountIncludingVATSuggestions" [searchEnabled]="true"
                    [displayExpr]="suggestionFormatForAmountIncludingVAT" valueExpr="Code" [minSearchLength]="0"
                    fieldTemplate="field2" [value]="AmountIncludingVATSuggestions ? getCompanyInfo.AmountIncludingVAT:''"
                    (onValueChanged)="onAmountIncludingVATvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover3">
                    <div *dxTemplate="let itemData1 of 'field2'">
                      <dx-text-box [text]="itemData1 ? itemData1.Code:getCompanyInfo ? getCompanyInfo.AmountIncludingVAT:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'HasINLocalization'">
                  <dx-select-box #selectBox2 [dataSource]="HasINLocalizationSuggestions" [searchEnabled]="true"
                    [displayExpr]="suggestionFormatForHasINLocalization" valueExpr="Code" [minSearchLength]="0"
                    fieldTemplate="field3" [value]="HasINLocalizationSuggestions ? getCompanyInfo.HasINLocalization:''"
                    (onValueChanged)="onHasINLocalizationvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover4">
                    <div *dxTemplate="let itemData1 of 'field3'">
                      <dx-text-box [text]="itemData1 ? itemData1.Code:getCompanyInfo ? getCompanyInfo.HasINLocalization:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'QCLocation'">
                  <dx-select-box #selectBox2 [dataSource]="getLocationList" [searchEnabled]="true" [displayExpr]="suggestionFormatForQCLocation"
                    valueExpr="LocationCode" [minSearchLength]="0" fieldTemplate="field4" [value]="getLocationList ? getCompanyInfo.QCLocation:''"
                    (onValueChanged)="onQCLocationvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover5">
                    <div *dxTemplate="let itemData1 of 'field4'">
                      <dx-text-box [text]="itemData1 ? itemData1.LocationCode : getCompanyInfo ? getCompanyInfo.QCLocation:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'DefaultLocation'">
                  <dx-select-box #selectBox2 [dataSource]="getLocationListAll" [searchEnabled]="true" [displayExpr]="suggestionFormatForDefaultLocation"
                    valueExpr="LocationCode" [minSearchLength]="0" fieldTemplate="field5" [value]="getLocationListAll ? getCompanyInfo.DefaultLocation:''"
                    (onValueChanged)="onDefaultLocationvalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover6">
                    <div *dxTemplate="let itemData1 of 'field5'">
                      <dx-text-box [text]="itemData1 ? itemData1.LocationCode:getCompanyInfo ? getCompanyInfo.DefaultLocation:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'CountryCode'">
                  <dx-select-box [dataSource]="getCountryCodeListAll" [searchEnabled]="true" [displayExpr]="suggestionFormatForCountryCode"
                    valueExpr="countrycode" [minSearchLength]="0" fieldTemplate="field6" [value]="getCountryCodeListAll ? getCompanyInfo.CountryCode:''"
                    (onValueChanged)="onDefaultCountryCodevalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover7">
                    <div *dxTemplate="let itemData1 of 'field6'">
                      <dx-text-box [text]="itemData1 ? itemData1.countrycode:getCompanyInfo ? getCompanyInfo.CountryCode:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'StateCode'">
                  <dx-select-box [dataSource]="getStateCodeListAll" [searchEnabled]="true" [displayExpr]="suggestionFormatForStateCode"
                    valueExpr="Code" [minSearchLength]="0" fieldTemplate="field7" [value]="getStateCodeListAll ? getCompanyInfo.StateCode:''"
                    (onValueChanged)="onDefaultStateCodevalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover8">
                    <div *dxTemplate="let itemData1 of 'field7'">
                      <dx-text-box [text]="itemData1 ? itemData1.Code:getCompanyInfo ? getCompanyInfo.StateCode:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'CurrencyCode'">
                  <dx-select-box [dataSource]="getCurrencyCodeListAll" [searchEnabled]="true" [displayExpr]="suggestionFormatForCurrencyCode"
                    valueExpr="CurrencyCode" [minSearchLength]="0" fieldTemplate="field6" [value]="getCountryCodeListAll ? getCompanyInfo.CurrencyCode:''"
                    (onValueChanged)="onDefaultCountryCodevalueChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover7">
                    <div *dxTemplate="let itemData1 of 'field6'">
                      <dx-text-box [text]="itemData1 ? itemData1.countrycode:getCompanyInfo ? getCompanyInfo.CurrencyCode:'' "
                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                  </dx-select-box>
                </div>
              </dx-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [width]="500" [height]="300" [showTitle]="true" title="Upload/Change Image" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <div id="form-container">
          <label class="image-upload-container">
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" id="filePicker">
            <br>
            <span class="note">Allowed file extensions: <span>.jpg, .jpeg, .gif, .png</span>.</span>
            <br>
            <span class="note">Maximum file size: <span>1 MB</span>.</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</dx-popup>