<a [routerLink]="['/administrator/user-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" [width]="500" [height]="300" [showTitle]="true" title="Upload/Change Image" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <div id="form-container">
          <label class="image-upload-container">
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" id="filePicker">
            <br>
            <span class="note">Allowed file extensions: <span>.jpg, .jpeg, .gif, .png</span>.</span>
            <br>
            <span class="note">Maximum file size: <span>1 MB</span>.</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</dx-popup>

<div class="row">
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <div class="col-10">
            <h3 *ngIf="userDetails!=null">{{userDetails.userid}}</h3>
          </div>
          <hr>
          <div class="row">
            <div class="col-10">
              <div *ngIf="itemImageData;else ALTERNATE_IMAGE">
                <img [src]="itemimagePath" class="img-circle" width="150" />
              </div>
              <ng-template #ALTERNATE_IMAGE>
                <img src="assets/images/big/img.png" class="img-circle" width="150" />
              </ng-template>
            </div>
            <div class="col-2">
              <a (click)="showInfo()">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </div>

          <hr>
          <div class="row" (clickOutside)="onClickedOutside($event)">
            <div class="col-10">
              <label class="text-center" *ngIf="!editMode&&userDetails!=null">{{userDetails.userName}}</label>
              <dx-text-box class="text-center" id="test" *ngIf="userDetails!=null&&editMode==true"
                [(value)]="userDetails.userName" (onEnterKey)="onEnterKey($event)"
                (onValueChanged)="onUserNameChanged($event)"></dx-text-box>
            </div>
            <div class="col-2">
              <i class="fa fa-edit" (click)="editMode=true"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card-body font-for-formlable">
      <div class="card">
        <div class="card-body">
          <div id="form-container">
            <dx-form [(formData)]="userDetails" accept-charset="UTF-8" [colCount]="2">
              <dxi-item itemType="group">
                <dxi-item class="font-for-formlable" dataField="company" [template]="'CompanyTemplate'"
                  [editorOptions]="{ disabled: false }" [label]="{text: 'Company'}"></dxi-item>
                <dxi-item class="font-for-formlable" [template]="'BusinessUnitTemplate'"
                  [label]="{text: 'Business Unit'}"></dxi-item>
                <dxi-item class="font-for-formlable" [template]="'RoleIdTemplate'" [label]="{text: 'RoleID'}">
                </dxi-item>
                <dxi-item class="font-for-formlable" [template]="'PositionTemplate'" [label]="{text: 'Position'}">
                </dxi-item>
                <dxi-item class="font-for-formlable" [template]="'AreaTemplate'" [label]="{text: 'Area'}"></dxi-item>
                <dxi-item class="font-for-formlable" [template]="'SupervisorTemplate'" [label]="{text: 'Supervisor'}">
                </dxi-item>
                <dxi-item class="font-for-formlable" dataField="BrandFilter"
                  [editorOptions]="{onValueChanged: onBrandFilter}" [label]="{text: 'BrandFilter'}"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="buUser" editorType="dxCheckBox"
                  [editorOptions]="{text: 'B.U.User', elementAttr:{ 'class': 'font-for-formlable' },onValueChanged: checkBox_valueChanged  }">
                  <dxo-label [visible]="false">
                  </dxo-label>
                </dxi-item>
              </dxi-item>

              <div *dxTemplate="let data of 'CompanyTemplate'">
                <dx-select-box #selectBox2 [dataSource]="CompanySuggestions" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForCompany" valueExpr="Name"
                  [minSearchLength]="0" fieldTemplate="field2" [value]="userDetails ? userDetails.company:''"
                  [disabled]="CompanySuggestions!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('company',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.Name:userDetails ? userDetails.company:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>

              <div *dxTemplate="let data of 'BusinessUnitTemplate'">
                <dx-select-box #selectBox2 [dataSource]="BUSuggestionsLsit" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForBU" valueExpr="ID" [minSearchLength]="0"
                  fieldTemplate="field2" [value]="BUSuggestionsLsit ? BUSuggestionsLsit.buUnit:''"
                  [disabled]="BUSuggestionsLsit!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('buUnit',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.ID:BUSuggestionsLsit ? BUSuggestionsLsit.buUnit:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>

              <div *dxTemplate="let data of 'RoleIdTemplate'">
                <dx-select-box #selectBox2 [dataSource]="RoleSuggestionsList" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForRole" valueExpr="RoleID"
                  [minSearchLength]="0" fieldTemplate="field2" [value]="userDetails ? userDetails.RoleId:''"
                  [disabled]="RoleSuggestionsList!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('RoleId',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.RoleID:userDetails ? userDetails.RoleId:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>

              <div *dxTemplate="let data of 'PositionTemplate'">
                <dx-select-box #selectBox2 [dataSource]="PostionSuggestionsList" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForPostion" valueExpr="Name"
                  [minSearchLength]="0" fieldTemplate="field2" [value]="userDetails ? userDetails.JobPosition:''"
                  [disabled]="PostionSuggestionsList!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('JobPosition',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.Name:userDetails ? userDetails.JobPosition:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>

              <div *dxTemplate="let data of 'AreaTemplate'">
                <dx-select-box #selectBox2 [dataSource]="AreaSuggestionsList" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForArea" valueExpr="Code"
                  [minSearchLength]="0" fieldTemplate="field2" [value]="userDetails ? userDetails.AreaCode:''"
                  [disabled]="AreaSuggestionsList!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('AreaCode',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.Code:userDetails ? userDetails.AreaCode:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>

              <div *dxTemplate="let data of 'SupervisorTemplate'">
                <dx-select-box #selectBox2 [dataSource]="SupervisorSuggestionsList" [searchEnabled]="true"
                  [showClearButton]="true" [displayExpr]="suggestionFormatForSupervisor" valueExpr="userid"
                  [minSearchLength]="0" fieldTemplate="field2" [value]="userDetails ? userDetails.SupervisorCode:''"
                  [disabled]="SupervisorSuggestionsList!=null ? false:true"
                  (onValueChanged)="formSummary_fieldDataChanged('SupervisorCode',$event)">
                  <div *dxTemplate="let itemData2 of 'field2'">
                    <dx-text-box [text]="itemData2 ? itemData2.userid:userDetails ? userDetails.SupervisorCode:'' "
                      [elementAttr]="{ 'class': 'font-for-formlable' }">
                    </dx-text-box>
                  </div>
                </dx-select-box>
              </div>
            </dx-form>
          </div>
          <br>
          <div class="row">

            <div class="col-4">
              <dx-button text="Change Password" type="default" (onClick)="onClickPassword()">
              </dx-button>
            </div>
            <div class="col-4">

            </div>
            <div class="col-4">
              <dx-button text="Delete User" type="default" (onClick)="onDeleteUser()">
              </dx-button>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [width]="400" [height]="'auto'" [showTitle]="true" title="Please confirm" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="deleteconfirmpopup">
  <div *dxTemplate="let data of 'content'">
    <div class="row">
      <div class="col-6">
        <dx-button text="Yes" type="default" (onClick)="deleteconfirmbyuser()">
        </dx-button>
      </div>
      <div class="col-6">
        <dx-button text="No" type="default" (onClick)="deleteconfirmbyuserNo()">
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="400" [height]="'auto'" [showTitle]="true" title="Change Password" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="changePopUp">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <div id="form-container">
          <dx-form id="CustomerDetails" [(formData)]="changePass" accept-charset="UTF-8">
            <dxi-item class="font-for-formlable" dataField="OldPassword" [editorOptions]="{ mode: 'password' }">
              <dxi-validation-rule type="required" message="Old Password is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item class="font-for-formlable" dataField="NewPassword" [editorOptions]="{ mode: 'password' }">
              <dxi-validation-rule type="required" message="NewPassword is required">
              </dxi-validation-rule>
            </dxi-item>
          </dx-form>
        </div>
      </div>
      <br>
      <div class="row">
        <dx-button text="Save" type="default" (onClick)="validateOldPassword()">
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>