<a [routerLink]="[ '/finance/posted-purchase-credit-note-list']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
    <div class="col-12">
        <div class="card bg-darkerbg">
            <div class="card-body">
                <dx-form id="SalesOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp4'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item [template]="'MainTemp2'">
                        </dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'MainTemp'">
                        <span *ngIf="PurchaseCNDetails"
                            style="color: #fff; font-size:22px;"><b>{{PurchaseCNDetails.DocumentNo }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp4'" style="color: #fff; font-size:22px;">Status:
                        <span #docStatus id="docStatus" class="label" *ngIf="PurchaseCNDetails"><b>
                                {{PurchaseCNDetails.FlowResult }}</b></span>
                    </div>
                    <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
                        <dx-select-box #selectBoxSI [dataSource]="POOperations" [value]=""></dx-select-box>
                        <dx-button type="default" text="GO" (onClick)="SalesInvoiceOperationsGo(selectBoxSI.text)">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form id="CustomerDetailsGropu" itemType="group" [readOnly]="true" [colCount]="3"
                    [formData]="PurchaseCNDetails" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
                            [editorOptions]="{ value: null, width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="FlowCompleted"
                            [label]="{text: 'Flow Completed'}"
                            [editorOptions]="{ readOnly: true, elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="PayToVendor"
                            [label]="{text: 'Pay To'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="PayToName" [label]="{text: 'Name'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="PayToAddress" [label]="{text: 'Address'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="PayToAddress2" [label]="{text: 'Address 2'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="PayToCity" [label]="{text: 'City'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="PayToZip" [label]="{text: 'ZipCode'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="VendorGroup" [label]="{text: 'Vendor Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATGroup" [label]="{text: 'VAT Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="DueDate" [label]="{text: 'Due Date'}"
                            editorType="dxDateBox"
                            [editorOptions]="{ value: null, width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="FromInvoiceNo"
                            [label]="{text: 'Invoice Number'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="ConnectedOrder"
                            [label]="{text: 'Purch Ret. Order'}"
                            [editorOptions]="{elementAttr:{'class': 'font-for-formlable'}}"></dxi-item>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-data-grid #gridContainer [columnAutoWidth]="true" id="gridContainer" [dataSource]="dataSource"
                    [showBorders]="true" [allowColumnResizing]="true">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"
                        [form]="{items: ['Description','ItemCode','UOM','UnitPrice','UnitPriceFCY','Quantity','LineDiscountAmount','AmountIncludingVAT'], colCount:4}">
                    </dxo-editing>
                    <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="GRDocumentNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="GRLineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="LineCode" [allowSearch]="true" dataType="string">
                    </dxi-column>
                    <dxi-column dataField="LineType" [allowSearch]="true" dataType="string">
                    </dxi-column>
                    <dxi-column dataField="Description" [allowSearch]="true" dataType="string"></dxi-column>
                    <dxi-column dataField="BaseQuantity" [allowSearch]="false" dataType='number'>
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="QuantityToInvoice" [allowSearch]="false" dataType='number'>
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="DirectUnitCost" [allowSearch]="false" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="CostIncVAT" [allowSearch]="false" dataType="number" [allowEditing]="true">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="LineDiscountAmount" [allowSearch]="false" dataType="number"
                        [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="AmountIncludingVAT" dataType="number" [allowSearch]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="VatAmount" [allowSearch]="false" dataType="number" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
                    </dxo-pager>
                    <dxo-summary>
                        <dxi-total-item displayFormat="{0}" showInColumn="AmountIncludingVAT"
                            column="AmountIncludingVAT" summaryType="sum" dataType="number">
                        </dxi-total-item>
                        <dxi-total-item displayFormat="{0}" showInColumn="VatAmount" column="VatAmount"
                            summaryType="sum" dataType="number">
                        </dxi-total-item>
                        <dxi-total-item displayFormat="{0}" showInColumn="QuantityToInvoice" column="Amount"
                            summaryType="sum" dataType="number">
                        </dxi-total-item>
                    </dxo-summary>
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>