<dx-popup class="popup" [width]="500" [height]="300" [showTitle]="true" title="Upload/Change Image" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible2">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <div id="form-container">
          <label class="image-upload-container">
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput,$event)" id="filePicker">
            <br>
            <span class="note">Allowed file extensions: <span>.jpg, .jpeg, .png</span>.</span>
            <br>
            <span class="note">* Maximum file size: <span>1 MB</span>.</span>
            <br>
            <span class="note">* Recomended Resolution: 900*600</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="700" [height]="600" [showTitle]="true" title="Existing Policy Groups"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="showPolicyPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="policyList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="700" [height]="600" [showTitle]="true" title="Existing Currencies" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showCurrencyPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="currencyList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="LocalCurrency" caption="Local Currency"></dxi-column>
          <dxi-column dataField="CurrencyCode" caption="Currency Code"></dxi-column>
          <dxi-column dataField="ExchangeRate" caption="Exchange Rate"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="700" [height]="600" [showTitle]="true" title="Existing Payment" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showPaymentPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="paymentList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing TAX Business Setup"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="showVATPopup1">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="VATList1" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing TAX Production Setup"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="showVATPopup2">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="VATList2" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing WHT Business Setup"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="showWHTPopup1">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="WHTList1" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing WHT Production Setup"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="showWHTPopup2">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="WHTList2" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing AR Setup" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showAPPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="APList" [showBorders]="true" [allowColumnReordering]="true"
          [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing AR Setup" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showARPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="ARList" [showBorders]="true" [allowColumnReordering]="true"
          [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing UOMs" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showUOMPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="getAllUOMs" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="Code" caption="Code"></dxi-column>
          <dxi-column dataField="Description" caption="Description"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing Roles" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showRolesPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="roleList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="RoleID" caption="Role ID"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing Users" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showUsersPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="usersList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="userid" caption="User ID"></dxi-column>
          <dxi-column dataField="userName" caption="User Name"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="600" [showTitle]="true" title="Existing FY" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="showFYPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-data-grid [columnAutoWidth]="true" [dataSource]="fiscalYearList" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="FiscalYearID" caption="User ID"></dxi-column>
          <dxi-column dataField="FYStartDate" caption="User Name"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<div class="login-register" style="background-color:#0DA5FF;padding-top: 5px;">
  <div class="text-center">
    <img width="100" src="assets/images/logo.png">
    <h2 style="color:#fff;">Welcome to Setup Wizard</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <aw-wizard #wizard [navBarLocation]="'left'">
            <aw-wizard-step [stepTitle]="'Company'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Info">
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="companySetupOne" accept-charset="UTF-8">
                          <dxi-item dataField="Name" [label]="{text: 'Company Name'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }">
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="HomePage" [label]="{text: 'Website'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="BranchID" [label]="{text: 'Branch ID'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="BranchName" [label]="{text: 'Branch Name'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Address1" [label]="{text: 'Address '}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Address2" [label]="{text: 'Address 2'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="City" [label]="{text: 'City'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="PostCode" [label]="{text: 'PostCode'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="VATID" [label]="{text: 'Tax ID '}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Phone" [label]="{text: 'Phone'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Fax" [label]="{text: 'Fax'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="EMail" [label]="{text: 'Email'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item>
                            <dx-button type="success" text="Save" (onClick)="companySetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                        <br>
                        <div class="float-right">
                          <button type="button" class="btn btn-secondary" awNextStep>Next</button>
                        </div>
                        <!-- <button type="button" class="btn btn-secondary" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button> -->
                      </div>
                    </div>
                  </aw-wizard-step>
                  <aw-wizard-step stepTitle="Logo" awOptionalStep>
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <ng-template matStepLabel>Logo</ng-template>
                        <img [src]="itemimagePath" class="img-circle" width="150" />
                        <br>
                        <div>
                          <button mat-button (click)="showInfo()">Change/Upload Logo</button>
                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" class="btn btn-secondary" awPreviousStep>Go to previous step</button>
                      <button type="button" class="btn btn-secondary" awNextStep>Go to next step</button> -->
                  </aw-wizard-step>
                </aw-wizard>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('1')" awNextStep>Go
                    to Users</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Users'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Users">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <form action="your-action" (submit)="userSetupOneButtonClick($event)">
                          <dx-form [colCount]="2" [(formData)]="userSetupOne" accept-charset="UTF-8">
                            <dxi-item class="font-for-formlable" dataField="userid" [label]="{text: 'User ID'}">
                              <dxi-validation-rule type="stringLength" [min]="2"
                                message="ID must have at least 2 Characters"></dxi-validation-rule>
                              <dxi-validation-rule type="pattern" [pattern]="namePattern"
                                message="Do not use space in the ID"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item class="font-for-formlable" dataField="userName" [label]="{text: 'User Name'}">
                              <dxi-validation-rule type="stringLength" [min]="2"
                                message="Name must have at least 2 Characters"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item class="font-for-formlable" dataField="password" [label]="{text: 'Password'}"
                              [editorOptions]="{ mode:'password'}">
                              <dxi-validation-rule type="required"></dxi-validation-rule>
                              <dxi-validation-rule type="pattern" pattern="^(?=[^\d_].*?\d)\w(\w|[!@#$%]){7,20}"
                                message="The password must be of length of 8 to 20 aplhanumeric characters and select special characters. The password also can not start with a digit, underscore or special character and must contain at least one digit.">
                              </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item class="font-for-formlable" dataField="confirmpassword"
                              [label]="{ text: 'Confirm Password' }" [editorOptions]="{ mode:'password' }">
                              <dxi-validation-rule type="required" message="Confirm Password is required">
                              </dxi-validation-rule>
                              <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                message="Password and Confirm Password do not match"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item>
                              <dx-button icon="spinright" type="default" text="Show Existing Users"
                                (onClick)="showUSers()">
                              </dx-button>
                            </dxi-item>
                            <dxi-item itemType="button" horizontalAlignment="left"
                              [buttonOptions]="{text: 'Save',icon:'spinright', type: 'default', useSubmitBehavior: true }">
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('2')" awNextStep>Go
                    to Fiscal year</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Fiscal year'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="FIscal Year">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <form action="your-action" (submit)="FYSetupOneButtonClick()">
                          <dx-form [colCount]="2" [(formData)]="FYSetupOne" accept-charset="UTF-8">
                            <dxi-item class="font-for-formlable" dataField="FiscalYearID"
                              [label]="{text: 'Fiscal Year ID'}">
                              <dxi-validation-rule type="required" message="Fiscal Year is required">
                              </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item cssClass="font-for-formlable" dataField="StartingDate" editorType="dxDateBox"
                              [editorOptions]="{ displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                              <dxi-validation-rule type="required" message="Starting Date is required">
                              </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item>
                              <dx-button icon="spinright" type="default" text="Show Existing FY" (onClick)="showFY()">
                              </dx-button>
                            </dxi-item>
                            <dxi-item itemType="button" horizontalAlignment="left"
                              [buttonOptions]="{text: 'Save',icon:'spinright', type: 'success', useSubmitBehavior: true }">
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('3')" awNextStep>Go
                    to General Accounting</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'General Accounting'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="General Accounting">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="generalAccountingSetupOne" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" [template]="'CurrentFiscalYear'"
                            [label]="{text: 'Current Fiscal Year'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                          </dxi-item>
                          <dxi-item cssClass="font-for-formlable" [template]="'AllowBackDate'"
                            [label]="{text: 'Allow BackDate:'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                          </dxi-item>
                          <dxi-item cssClass="font-for-formlable" [template]="'CurrencyCode'"
                            [label]="{text: 'Currency Code:'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                          </dxi-item>
                          <dxi-item cssClass="font-for-formlable" [template]="'CostingMethod'"
                            [label]="{text: 'Costing Method:'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                          </dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="RoundingPrecision"
                            [label]="{text: 'Rounding Precision'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item></dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save"
                              (onClick)="generalAccountingSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>

                          <div *dxTemplate="let data of 'CurrencyCode'">
                            <dx-select-box #selectBox1 [dataSource]="currencyArray" [searchEnabled]="true"
                              [displayExpr]="suggestionFormateForcurrencyArray" valueExpr="CurrencyCode"
                              [minSearchLength]="0" fieldTemplate="field1"
                              [value]="generalAccountingSetupOne ? generalAccountingSetupOne.CurrencyCode:''"
                              (onValueChanged)="onCurrencyCodeChange($event)" hoverStateEnabled="true"
                              [itemTemplate]="hover6">
                              <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box
                                  [text]="itemData1 ? itemData1.CurrencyCode:generalAccountingSetupOne ? generalAccountingSetupOne.CurrencyCode:'' "
                                  [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                              </div>
                            </dx-select-box>
                          </div>

                          <div *dxTemplate="let data of 'CurrentFiscalYear'">
                            <dx-select-box #selectBox1 [dataSource]="CurrentFiscalYear" [searchEnabled]="true"
                              [displayExpr]="suggestionFormateForDropDown3" valueExpr="FiscalYearID"
                              [minSearchLength]="0" fieldTemplate="field1"
                              [value]="generalAccountingSetupOne ? generalAccountingSetupOne.CurrentFiscalYear:''"
                              (onValueChanged)="onCurrentFiscalYearChange($event)" hoverStateEnabled="true"
                              [itemTemplate]="hover3">
                              <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box
                                  [text]="itemData1 ? itemData1.FiscalYearID:generalAccountingSetupOne ? generalAccountingSetupOne.CurrentFiscalYear:'' "
                                  [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                              </div>
                            </dx-select-box>
                          </div>

                          <div *dxTemplate="let data of 'AllowBackDate'">
                            <dx-select-box [dataSource]="AllowBackDate" [searchEnabled]="true"
                              [displayExpr]="suggestionFormateForDropDown2" valueExpr="Code" [minSearchLength]="0"
                              [value]="generalAccountingSetupOne ? generalAccountingSetupOne.AllowBackDate:''"
                              (onValueChanged)="AllowBackDateChange($event)" hoverStateEnabled="true">
                            </dx-select-box>
                          </div>

                          <div *dxTemplate="let data of 'CostingMethod'">
                            <dx-select-box [dataSource]="CostingMethod" [searchEnabled]="true"
                              [displayExpr]="suggestionFormateForDropDown2" valueExpr="Code" [minSearchLength]="0"
                              [value]="generalAccountingSetupOne ? generalAccountingSetupOne.CostingMethod:''"
                              (onValueChanged)="onCostingMethodChange($event)" hoverStateEnabled="true">
                            </dx-select-box>
                          </div>

                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('4')" awNextStep>Go
                    to Roles</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Roles'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Roles">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="roleSetupOne" accept-charset="UTF-8">
                          <dxi-item class="font-for-formlable" dataField="RoleID" [label]="{text: 'Role ID'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show Existing Roles"
                              (onClick)="showRole()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save"
                              (onClick)="roleSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('5')" awNextStep>Go
                    to AR</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Account Receivables'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="AR">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="ARSetupOne" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show Existing AR List"
                              (onClick)="showARList()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="ARSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('6')" awNextStep>Go
                    to AP</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Account Payable'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="AP">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="APSetupOne" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show Existing AP List"
                              (onClick)="showAPList()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="APSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('7')" awNextStep>Go
                    to WHT</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'With Holding Tax'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="WHT Business Group">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="WHTSetupOne" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show WHT Business List"
                              (onClick)="showWHTList1()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="WHTSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                        <br>
                        <div class="float-right">
                          <button type="button" class="btn btn-secondary" awNextStep>Next</button>
                        </div>
                      </div>
                    </div>
                  </aw-wizard-step>
                  <aw-wizard-step stepTitle="WHT Production Group">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="WHTSetupTwo" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show TAX Production List"
                              (onClick)="showWHTList2()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="WHTSetupTwoButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('8')" awNextStep>Go
                    to Tax</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'TAX'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Tax Business Group">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="VATSetupOne" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show TAX Business List"
                              (onClick)="showVATList1()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="VATSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                        <br>
                        <div class="float-right">
                          <button type="button" class="btn btn-secondary" awNextStep>Next</button>
                        </div>
                      </div>
                    </div>
                  </aw-wizard-step>
                  <aw-wizard-step stepTitle="Tax Production Group">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="VATSetupTwo" accept-charset="UTF-8">
                          <dxi-item cssClass="font-for-formlable" dataField="Code"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [label]="{text: 'Description'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                          <dxi-item itemType="group">
                            <dx-button icon="spinright" type="default" text="Show TAX Production List"
                              (onClick)="showVATList2()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="VATSetupTwoButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('9')" awNextStep>Go
                    to Payments</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Payments'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Payments">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="PaymentSetupOne" accept-charset="UTF-8">
                          <dxi-item class="font-for-formlable" dataField="Code" [label]="{text: 'Payment ID'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Description" [label]="{text: 'Description'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="default" text="Show Existing Payment"
                              (onClick)="showPayment()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save"
                              (onClick)="paymentSetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('10')" awNextStep>Go
                    to Currency Exchange</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Currency Exchange'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Currency Exchange">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="currencySetupOne" accept-charset="UTF-8">
                          <dxi-item class="font-for-formlable" dataField="CurrencyCode"
                            [label]="{text: 'Currency Code'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [max]="3" message="Key in the Currency Code">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="ExchangeRate"></dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="default" text="Show Existing Currencies"
                              (onClick)="showCurrency()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save"
                              (onClick)="currencySetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('11')" awNextStep>Go
                    to General Policy</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'General Policy'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="General Policy">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="policySetupOne" accept-charset="UTF-8">
                          <dxi-item class="font-for-formlable" dataField="Code" [label]="{text: 'Policy Code'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Description" [label]="{text: 'Description'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="default" text="Show Existing General Policy"
                              (onClick)="showPolicy()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save"
                              (onClick)="policySetupOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" (click)="updateCompanySetupNumber('12')" awNextStep>Go
                    to UOM</button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'UOMs'">
              <div class="centered-content">
                <aw-wizard>
                  <aw-wizard-step stepTitle="Info">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-10">
                        <dx-form [colCount]="2" [(formData)]="uomsOne" accept-charset="UTF-8">
                          <dxi-item class="font-for-formlable" dataField="Code" [label]="{text: 'Code'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item class="font-for-formlable" dataField="Description" [label]="{text: 'Description'}">
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="default" text="Show Existing UOMs" (onClick)="showUoms()">
                            </dx-button>
                          </dxi-item>
                          <dxi-item>
                            <dx-button icon="spinright" type="success" text="Save" (onClick)="UomsOneButtonClick()">
                            </dx-button>
                          </dxi-item>
                        </dx-form>
                      </div>
                    </div>
                  </aw-wizard-step>
                </aw-wizard>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="btn-group">
                  <dx-button icon="spinright" type="default" text="Finish Setup" (onClick)="finishSetup()">
                  </dx-button>
                </div>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="btn-group">
      <dx-button icon="spinright" type="default" text="Skip Setup for Now" (onClick)="skipSetup()">
      </dx-button>
    </div>
  </div>
</div>