<a [routerLink]="" class="float" (click)="onCreateNewVatSubbmission()">
  <i class="fa fa-plus my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-12">
    <div class="card-body font-for-formlable">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
                [showBorders]="true" [hoverStateEnabled]="true" (onRowClick)="onUserRowSelect($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
                <dxi-column dataField="DocumentNo"></dxi-column>
                <dxi-column dataField="DocumentDate"></dxi-column>
                <dxi-column dataField="ForYear"></dxi-column>
                <dxi-column dataField="ForMonth"></dxi-column>
                <dxi-column dataField="SubmissionLocked"></dxi-column>
                <dxi-column dataField="UserID"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [showCloseButton]="true" [showTitle]="true" title="Create Tax Report"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="popupVisibleForNewRegister">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <div id="form-container">
          <dx-form id="VatDetails" [(formData)]="newVatDetail" accept-charset="UTF-8">
            <dxi-item class="font-for-formlable" dataField="ForYear" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, mode: 'number', min: '2000'}"
              [label]="{text: 'For Year'}">
              <dxi-validation-rule type="required" message="Year is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item class="font-for-formlable" dataField="ForMonth" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, mode: 'number', min: '1', max: '12'}"
              [label]="{text: 'For Month'}">
              <dxi-validation-rule type="required" message="Moth is required"></dxi-validation-rule>
            </dxi-item>
          </dx-form>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <dx-button text="Create" type="default" (onClick)="CreateNewRegister()"></dx-button>
      </div>
      <br>
      <br>
    </div>
  </div>
</dx-popup>