<dx-popup class="popup" [width]="200" [height]="200" [showTitle]="true" title="Fetching Orders" [dragEnabled]="true"
  [closeOnOutsideClick]="false" [(visible)]="waitingDialogue" [showCloseButton]="false">
  <div *dxTemplate="let data of 'content'">
    <img width="150" src="assets/images/spinner.gif">
  </div>
</dx-popup>

<ngb-tabset type="pills" (tabChange)="onTabChange($event)">
  <ngb-tab id="PickOrderForm" title="Import Sales Orders">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-form itemType="group" [colCount]="2" [formData]="importData" accept-charset="UTF-8">
                <dxi-item [colSpan]="2" cssClass="font-for-formlable" dataField="uuID" [editorOptions]="{ readOnly: true }"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import Type'}"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" dataField="CustomerCode" [editorOptions]="{ readOnly: true }"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" dataField="AttirbuteCode" [editorOptions]="{ readOnly: true }"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" dataField="LocationCode" [editorOptions]="{ readOnly: true }"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
                <div *dxTemplate="let data of 'nameTemplate1'">
                  <dx-select-box [dataSource]="chooseSOImportFormat" [minSearchLength]="0" [value]="importData ? importData.userselected:''"
                    (onValueChanged)="onCodeChanged($event,'userselected')" [showClearButton]="true">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate5'">
                  <dx-select-box [dataSource]="CustSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForCustomer"
                    valueExpr="CustCode" [minSearchLength]="0" [value]="importData ? importData.CustomerCode:''"
                    (onValueChanged)="onCodeChanged($event,'CustomerCode')" hoverStateEnabled="true" [itemTemplate]="hover"
                    [showClearButton]="true" [searchExpr]="['CustCode', 'Name']">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate6'">
                  <dx-select-box [dataSource]="ImportTypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForImportType"
                    valueExpr="Name" [minSearchLength]="0" [value]="importData ? importData.Type:''" (onValueChanged)="onCodeChanged($event,'Type')"
                    hoverStateEnabled="true" [itemTemplate]="hoverFormatForImportType" [showClearButton]="true"
                    [searchExpr]="['Name']">
                  </dx-select-box>
                </div>
              </dx-form>
              <br>
              <br>
              <div *ngIf="ChoosefileFlag">
                Choose a File(.xlsx, .xls, .csv) :
                <span class="btn btn-primary btn-sm btn-file">
                  Browse file<input #selectedfile class="selectedfile" type="file" (click)="clearFile()" (change)="onFileChange2($event)"
                    multiple="false" accept=".xlsx, .xls, .csv" />
                </span>
                <br>
                <br>
                <div>
                  <!-- class="col-3 font-for-formlable" style="text-align: right;"-->
                  <a href="assets/xlsx/salesorders-import-sample.xlsx" download>
                    <button type="button" class="btn btn-outline-dark btn-sm">DOWNLOAD IMPORT TEMPLATE</button>
                  </a>
                </div>
              </div>
              <div *ngIf="APIButtonFlag">
                <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="importData">
                  <dxi-item itemType="group">
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date/Time'}"
                      [editorOptions]="{  width: '100%', type:'datetime',
                            elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                  </dxi-item>
                </dx-form>
              </div>
              <div *ngIf="APIButtonFlagButton">
                <br>
                <button type="button" class="btn btn-primary btn-sm" (click)="APICallImport()">IMPORT FROM
                  API</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-data-grid #gridContainer2 id="gridContainer2" [columnAutoWidth]="true" [showBorders]="true"
                [dataSource]="dataSourceIJ1" [repaintChangesOnly]="true" keyExpr="LineNo" [allowColumnResizing]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-editing mode="cell" [allowDeleting]="false"></dxo-editing>
                <dxo-export [enabled]="true" fileName="SO-Import-Data"></dxo-export>
                <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple"></dxo-selection>
                <dxi-column dataField="LineNo" [visible]="false"></dxi-column>
                <dxi-column dataField="ItemValidation" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="isDuplicate" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="OrderNumber" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="OrderItemID" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="ThirdPartyID" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="CrossRefCode" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="ThirdPartySKU" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="ItemCode" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="CreatedAT" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="CustomerName" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="ShippingName" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="Quantity" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="PaidPrice" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="UnitPrice" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="PaymentMethod" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="ShippingMode" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="TrackingNo" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="Reason" [allowEditing]="true"></dxi-column>
                <dxi-column dataField="Status" [allowEditing]="false"></dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showInfo]="true"></dxo-pager>
              </dx-data-grid>
              <br>
              <span style="float: right;">Total Count : {{ rowCount1 }}</span>
              <dx-button class="mr-2" type="danger" icon="clear" text="DELETE LINE(S)" [disabled]="rowCount1==0"
                (onClick)="onDeleteClicked()">
              </dx-button>
              <dx-button type="default" icon="todo" text="CREATE-SALES ORDER" [disabled]="rowCount1==0" (onClick)="btnImport_clickHandler2()">
              </dx-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="approve" title="Approve All SO">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-12">
          <dx-form itemType="group" [colCount]="4" accept-charset="UTF-8" [formData]="FormDate">
            <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
            <div *dxTemplate="let data of 'nameTemplate1'">
              <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="FormDate ? FormDate.userselected:''"
                (onValueChanged)="onCodeChanged1($event,'userselected')" [showClearButton]="false">
              </dx-select-box>
            </div>
          </dx-form>
          <br>
          <div *ngIf="DateForApprove">
            <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
              accept-charset="UTF-8" [formData]="FormDate">
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date'}"
                  [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
                  [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Approve All SO" (onClick)="approveSO()"></dx-button>
              </dxi-item>
            </dx-form>
          </div>
          <div *ngIf="BatchIDForApprove">
            <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="FormDate">
              <dxi-item itemType="group">
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import BatchID'}"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Approve All SO" (onClick)="approveSO()"></dx-button>
              </dxi-item>
              <div *dxTemplate="let data of 'nameTemplate6'">
                <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                  valueExpr="BatchID" [minSearchLength]="0" [value]="FormDate ? FormDate.BatchID:''" (onValueChanged)="onCodeChanged1($event,'BatchID')"
                  hoverStateEnabled="true" [itemTemplate]="hoverFormatForType" [searchExpr]="['BatchID']">
                </dx-select-box>
              </div>
            </dx-form>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="soListSource"
                [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                <dxi-column dataField="BatchID"></dxi-column>
                <dxi-column dataField="orderdate" caption="Date"> </dxi-column>
                <dxi-column dataField="AmountIncludingVAT" caption="Amount Inc. Taxes" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="DocumentAmount" caption="Document Amount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="docStatus" caption="Status"></dxi-column>
                <dxi-column dataField="SOStatus" caption="SO Status"></dxi-column>
                <dxi-column dataField="SoCreatedBy" caption="Created By"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="convert" title="Convert All SO to Pick">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-12">
          <dx-form itemType="group" [colCount]="4" accept-charset="UTF-8" [formData]="FormDate2">
            <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
            <div *dxTemplate="let data of 'nameTemplate1'">
              <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="FormDate2 ? FormDate2.userselected:''"
                (onValueChanged)="onCodeChanged2($event,'userselected')" [showClearButton]="false">
              </dx-select-box>
            </div>
          </dx-form>
          <br>
          <div *ngIf="DateForPICK">
            <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged2($event)"
              accept-charset="UTF-8" [formData]="FormDate2">
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date'}"
                  [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
                  [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Convert to Pick" (onClick)="convertSOtoPick()"></dx-button>
              </dxi-item>
            </dx-form>
          </div>
          <div *ngIf="BatchIDForPICK">
            <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="FormDate2">
              <dxi-item itemType="group">
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import BatchID'}"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Convert to Pick" (onClick)="convertSOtoPick()"></dx-button>
              </dxi-item>
              <div *dxTemplate="let data of 'nameTemplate6'">
                <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                  valueExpr="BatchID" [minSearchLength]="0" [value]="FormDate2 ? FormDate2.BatchID:''" (onValueChanged)="onCodeChanged2($event,'BatchID')"
                  hoverStateEnabled="true" [itemTemplate]="hoverFormatForType" [searchExpr]="['BatchID']">
                </dx-select-box>
              </div>
            </dx-form>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-data-grid #gridContainer2 id="gridContainer2" [columnAutoWidth]="true" [dataSource]="soListSource2"
                [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                <dxi-column dataField="BatchID"></dxi-column>
                <dxi-column dataField="orderdate" caption="Date"> </dxi-column>
                <dxi-column dataField="AmountIncludingVAT" caption="Amount Inc. Taxes" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="DocumentAmount" caption="Document Amount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="docStatus" caption="Status"></dxi-column>
                <dxi-column dataField="SOStatus" caption="SO Status"></dxi-column>
                <dxi-column dataField="SoCreatedBy" caption="Created By"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="autopick" title="Auto Pick All Pick">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-12">
          <dx-form itemType="group" [colCount]="4" accept-charset="UTF-8" [formData]="FormDate3">
            <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
            <div *dxTemplate="let data of 'nameTemplate1'">
              <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="FormDate3 ? FormDate3.userselected:''"
                (onValueChanged)="onCodeChanged3($event,'userselected')" [showClearButton]="false" [readOnly]="true">
              </dx-select-box>
            </div>
          </dx-form>
          <br>
          <div *ngIf="DateForAutoPICK">
            <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged3($event)"
              accept-charset="UTF-8" [formData]="FormDate3">
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date'}"
                  [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
                  [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Auto Pick All" (onClick)="transactionAutoPick()"></dx-button>
              </dxi-item>
            </dx-form>
          </div>
          <div *ngIf="BatchIDForAutoPICK">
            <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="FormDate3">
              <dxi-item itemType="group">
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import BatchID'}"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Auto Pick All" (onClick)="transactionAutoPick()"></dx-button>
              </dxi-item>
              <div *dxTemplate="let data of 'nameTemplate6'">
                <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                  valueExpr="BatchID" [minSearchLength]="0" [value]="FormDate3 ? FormDate3.BatchID:''" (onValueChanged)="onCodeChanged3($event,'BatchID')"
                  hoverStateEnabled="true" [itemTemplate]="hoverFormatForType" [searchExpr]="['BatchID']">
                </dx-select-box>
              </div>
            </dx-form>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-data-grid #gridContainer3 id="gridContainer3" [columnAutoWidth]="true" [dataSource]="soListSource3"
                [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                <dxi-column dataField="BatchID"></dxi-column>
                <dxi-column dataField="DocumentDate" caption="Date"> </dxi-column>
                <dxi-column dataField="SourceType"></dxi-column>
                <dxi-column dataField="SourceNo"></dxi-column>
                <dxi-column dataField="LocationCode"></dxi-column>
                <dxi-column dataField="HandledBy" caption="Handled-By"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="pickpost" title="Post Pick All Pick">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-12">
          <dx-form itemType="group" [colCount]="4" accept-charset="UTF-8" [formData]="FormDate4">
            <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
            <div *dxTemplate="let data of 'nameTemplate1'">
              <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="FormDate4 ? FormDate4.userselected:''"
                (onValueChanged)="onCodeChanged4($event,'userselected')" [showClearButton]="false" [readOnly]="true">
              </dx-select-box>
            </div>
          </dx-form>
          <br>
          <div *ngIf="DateForPostPICK">
            <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged4($event)"
              accept-charset="UTF-8" [formData]="FormDate4">
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date'}"
                  [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
                  [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Post Pick All" (onClick)="transactionPostPick()"></dx-button>
              </dxi-item>
            </dx-form>
          </div>
          <div *ngIf="BatchIDForPostPICK">
            <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="FormDate4">
              <dxi-item itemType="group">
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import BatchID'}"></dxi-item>
              </dxi-item>
              <dxi-item itemType="group">
                <dx-button type="default" text="Post Pick All" (onClick)="transactionPostPick()"></dx-button>
              </dxi-item>
              <div *dxTemplate="let data of 'nameTemplate6'">
                <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                  valueExpr="BatchID" [minSearchLength]="0" [value]="FormDate4 ? FormDate4.BatchID:''" (onValueChanged)="onCodeChanged4($event,'BatchID')"
                  hoverStateEnabled="true" [itemTemplate]="hoverFormatForType" [searchExpr]="['BatchID']">
                </dx-select-box>
              </div>
            </dx-form>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <dx-data-grid #gridContainer4 id="gridContainer4" [columnAutoWidth]="true" [dataSource]="soListSource4"
                [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                <dxi-column dataField="BatchID"></dxi-column>
                <dxi-column dataField="DocumentDate" caption="Date"> </dxi-column>
                <dxi-column dataField="SourceType"></dxi-column>
                <dxi-column dataField="SourceNo"></dxi-column>
                <dxi-column dataField="LocationCode"></dxi-column>
                <dxi-column dataField="HandledBy" caption="Handled-By"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>