<div class="row">
    <div class="col-lg-4 col-md-8 col-sm-12">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
    </div>
    <a [routerLink]="" class="float" (click)="showInfo()">
        <i class="fa fa-plus my-float"></i>
    </a>
    <a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
        <i class="fa fa-home my-float-home"></i>
    </a>
</div>
<br>
<div class="row">
    <div class="col-12">
        <div class="row" *ngIf="itemList;else loader_GIF">
            <div class="col-lg-3 col-md-12 col-sm-12 px-1"
                *ngFor="let user of itemList | filter: searchText|  paginate: { itemsPerPage: 20, currentPage: p }">
                <a (click)="itemCode(user.Code)">
                    <div class="card mb-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                    <p class="font-weight-light font-for-formlable"
                                        *ngIf="user.Code;else ALTERNATE_HEAD">{{
                                        user.Code }}</p>
                                    <ng-template #ALTERNATE_HEAD>
                                        <p class="font-weight-light font-for-formlable">No Item Code</p>
                                    </ng-template>
                                    <h6 class="card-title font-weight-bold"
                                        *ngIf="user.Description;else ALTERNATE_DESC">{{
                                        user.Description }}</h6>
                                    <ng-template #ALTERNATE_DESC>
                                        <h6 class="card-title font-weight-bold"> &nbsp; </h6>
                                    </ng-template>
                                    <p class="font-weight-light font-for-formlable">{{ user.UnitPrice }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <ng-template #loader_GIF>
            <div class="text-center">
                <img src="assets/images/big/loader.gif">
            </div>
        </ng-template>
        <div class="text-center py-2">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [showTitle]="true" title="Create Item" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <div id="form-container">
                    <dx-form id="CustomerDetails" [(formData)]="newItemDetail" accept-charset="UTF-8">
                        <dxi-item class="font-for-formlable" dataField="Code" [label]="{text: 'Service Code'}">
                            <dxi-validation-rule type="required" message="Customer Code is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item cssClass="font-for-formlable" [template]="'BrandTemplate'"
                            [label]="{text: 'Tax Group'}">
                            <dxi-validation-rule type="required" message="Brand is required"> </dxi-validation-rule>
                        </dxi-item>
                        <div *dxTemplate="let data of 'BrandTemplate'">
                            <dx-select-box [dataSource]="itemFamilySuggestions" [searchEnabled]="true"
                                [showClearButton]="true" [displayExpr]="suggestionFormatForCode" valueExpr="Code"
                                [minSearchLength]="0" fieldTemplate="field2" [value]=""
                                (onValueChanged)="onDropDownChange($event,'TaxGroup')">
                                <div *dxTemplate="let itemData2 of 'field2'">
                                    <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                                </div>
                            </dx-select-box>
                        </div>
                        <dxi-item cssClass="font-for-formlable" [template]="'categoryTemplate'"
                            [label]="{text: 'Policy Group'}">
                            <dxi-validation-rule type="required" message="Category is required"> </dxi-validation-rule>
                        </dxi-item>
                        <div *dxTemplate="let data of 'categoryTemplate'">
                            <dx-select-box [dataSource]="categorySuggestions" [searchEnabled]="true"
                                [showClearButton]="true" [displayExpr]="suggestionFormatForCode" valueExpr="Code"
                                [minSearchLength]="0" fieldTemplate="field2" [value]=""
                                (onValueChanged)="onDropDownChange($event,'PolicyGroup')">
                                <div *dxTemplate="let itemData2 of 'field2'">
                                    <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                        [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                                </div>
                            </dx-select-box>
                        </div>
                    </dx-form>
                </div>
            </div>
            <br>
            <div class="row">
                <dx-button text="Add" type="default" (onClick)="Save()">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>