<a [routerLink]="[ '/finance/postedsalescreditnote-list']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="itemDetailsPopup">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8"
                    [readOnly]="true">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="ItemCode"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Description"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Description2"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="BaseUOM"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="UnitPrice"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="UnitCost"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="SalesUOM"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="HSNCode"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LotNoRequired"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="COGSAccount"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="InventoryAccount"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LineDiscountAccount"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="LegacyCode"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Brand"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Category"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="SubCategory"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Color"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VatProdPostGroup"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="GenPolicyGroup"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Active"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="ShelfDays"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VatAmount"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATPerct"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Billing Details"
    [closeOnOutsideClick]="true" [(visible)]="popupSelltoCustDetails">
    <div id="form-container">
        <dx-form itemType="group" [formData]="SalesCNDetails" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="BillToCustomer" [label]="{text: 'Bill To'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToName" [label]="{text: 'Name'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToAddress" [label]="{text: 'Address'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToAddress2" [label]="{text: 'Address 2'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToCity" [label]="{text: 'City'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToZip" [label]="{text: 'ZipCode'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
        </dx-form>
    </div>
</dx-popup>


<div class="row">
    <div class="col-12">
        <div class="card bg-darkerbg">
            <div class="card-body">
                <dx-form id="SalesOrderOperation" itemType="group" [colCount]="4" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp4'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp3'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item [template]="'MainTemp2'">
                        </dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'MainTemp'">
                        <span *ngIf="SalesCNDetails"
                            style="color: #fff; font-size:20px;"><b>{{SalesCNDetails.DocumentNo }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp4'" style="color: #fff; font-size:20px;">Status:
                        <span #docStatus id="docStatus" class="label" *ngIf="SalesCNDetails"><b>
                                {{SalesCNDetails.FlowResult }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">
                        <span *ngIf="SalesCNDetails"><b>{{ SalesCNDetails.CurrencyCode }}
                                {{ SalesCNDetails.DocumentAmount | number: '1.2-2' }}</b></span>
                    </div>
                    <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
                        <dx-select-box #selectBoxSI [dataSource]="['Print Order']" [value]=""></dx-select-box>
                        <dx-button type="default" text="GO"
                            (onClick)="PostedSalesInvoiceOperationsGo(selectBoxSI.text)">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form readOnly="true" [formData]="SalesCNDetails" accept-charset="UTF-8">
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
                        [editorOptions]="{  readOnly: true, width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="DueDate" [label]="{text: 'Due Date'}"
                        editorType="dxDateBox"
                        [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="ExternalDocumentNo"
                        [label]="{text: 'Ext Doc Number'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="ConnectedOrder"
                        [label]="{text: 'Sale Ret. Order'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="RemarksToPrint"
                        [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }">
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form readOnly="true" [formData]="SalesCNDetails" accept-charset="UTF-8">
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'Code'}">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'Name'}"
                        [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="SalesCNDetails ? SalesCNDetails.BillToCustomer:''"
                            [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-text-box [value]="SalesCNDetails ? SalesCNDetails.BillToName:''"
                            [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="info" (onClick)="getSellToCustomerDetail($event)"
                            [disabled]="isFlowCompleted">
                        </dx-button>
                    </div>
                    <dxi-item cssClass="font-for-formlable" dataField="CustPostingGroup"
                        [label]="{text: 'Customer Group'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="VATGroup" [label]="{text: 'VAT Group'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="FromInvoiceNo"
                        [label]="{text: 'From Invoice No'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
                    [showBorders]="true" [allowColumnResizing]="true">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="true">
                    </dxo-editing>
                    <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="PickNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="PickLineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="LineCode" [allowSearch]="true">
                    </dxi-column>
                    <div *dxTemplate="let data of 'cellTemplate2'">
                        <div class="icon">
                            <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data)"></i></a>
                        </div>
                    </div>
                    <dxi-column dataField="Details" caption="" cellTemplate="cellTemplate2" [allowEditing]="false"
                        [allowSearch]="false"></dxi-column>
                    <dxi-column dataField="LineType" [allowSearch]="true" dataType="string">
                    </dxi-column>
                    <dxi-column dataField="Description" [allowSearch]="true" dataType="string"></dxi-column>
                    <dxi-column dataField="BaseQuantity" [allowSearch]="false" dataType='number'>
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="QuantityToInvoice" [allowSearch]="false" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="UnitPrice" dataType="number" [allowSearch]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="AmountIncludingVAT" dataType="number" [allowSearch]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Amount" [allowSearch]="false" dataType="number" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="VatAmount" [allowSearch]="false" dataType="number" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
                    </dxo-pager>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>