<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
  accept-charset="UTF-8" [formData]="FormDate">
  <dxi-item itemType="group">
    <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox"
      [label]="{text: 'From Date'}"
      [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
    </dxi-item>
  </dxi-item>
  <dxi-item itemType="group">
    <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox"
      [label]="{text: 'To Date'}"
      [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
    </dxi-item>
  </dxi-item>
</dx-form>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true" [allowColumnResizing]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-export [enabled]="true" fileName="wms-po-list"></dxo-export>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="DocumentNo"  caption="Doc No"></dxi-column>
          <dxi-column dataField="BuyFromVendor"  caption="Vender No"></dxi-column>
          <dxi-column dataField="BuyFromName"  caption="Name"></dxi-column>
          <dxi-column dataField="DocumentDate"  caption="Date"></dxi-column>
          <dxi-column dataField="ItemCode" caption="Item"></dxi-column>
          <dxi-column dataField="Description"></dxi-column>
          <dxi-column dataField="UOM"></dxi-column>
          <dxi-column dataField="DirectUnitCost"  caption="Cost" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="Quantity" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="QuantityReceived" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="OutstandingQty" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="ExpectedReciptDate"></dxi-column>
          <dxi-column dataField="ETD"></dxi-column>
          <dxi-column dataField="ShipBy"></dxi-column>
          <dxi-column dataField="DocumentStatus"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>