<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
          [showBorders]="true" (onInitNewRow)="onInitNewRow($event)" (onEditingStart)="onEditNewRow($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-editing mode="row" [allowDeleting]="false" [allowUpdating]="true" [allowAdding]="true">
          </dxo-editing>
          <dxi-column dataField="CurrencyCode" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="LocalCurrency" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="EffectiveDate" [allowEditing]="false" dataType="date" [format]="{ type: 'yyyy-MM-dd'}">
          </dxi-column>
          <dxi-column dataField="ExchangeRate" [allowEditing]="false" dataType="number"
            [editorOptions]="{ format: ' #,##0.##' }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>