<a [routerLink]="" class="float" (click)="onCreateNewSO()">
    <i class="fa fa-plus my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>
<a [routerLink]="" (click)="import()" class="float-download">
    <i class="fa fa-download my-float-download"></i>
</a>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="soListSource"
                    [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
                    (onRowClick)="onUserRowSelect($event)">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="FlowResult" cellTemplate="cellTemplate" caption="Status"></dxi-column>
                    <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                    <dxi-column dataField="DocumentNo" caption="Document No"></dxi-column>
                    <dxi-column dataField="orderdate" caption="Date"> </dxi-column>
                    <dxi-column dataField="AmountIncludingVAT" caption="Amount Inc. Taxes" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="SOStatus" caption="SQ Status"></dxi-column>
                    <dxi-column dataField="SoCreatedBy" caption="Created By"></dxi-column>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <div title="FlowResult"></div>
                    </div>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<dx-popup class="popup" [width]="500" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Choose Attribute"
    [closeOnOutsideClick]="true" [(visible)]="attributesPopup">
    <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="dataAttributes"
        (onRowClick)="onAttributesSelected($event)" [hoverStateEnabled]="true">
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="AttributeValue" [allowEditing]="false"></dxi-column>
        <dxo-paging [pageSize]="7"></dxo-paging>
    </dx-data-grid>
</dx-popup>


<dx-popup class="popup" [showTitle]="true" [showCloseButton]="true" title="Sales Quote Import" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [deferRendering]="false" [(visible)]="importpopup">
    <div class="row font-for-formlable">
        <div class="col-9 font-for-formlable">
            <dx-form id="PickOrderForm" itemType="group" [colCount]="2" [formData]="importData" accept-charset="UTF-8">
                <dxi-item [colSpan]="2" cssClass="font-for-formlable" dataField="uuID" [editorOptions]="{ readOnly: true }"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import Type'}"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate5'" [label]="{text: 'Customer'}"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate7'" [label]="{text: 'Attirbute'}"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate8'" [label]="{text: 'Location'}"></dxi-item>
                <dxi-item [colSpan]="1" cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
                <div *dxTemplate="let data of 'nameTemplate1'">
                    <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="importData ? importData.userselected:''"
                        (onValueChanged)="onCodeChanged($event,'userselected')" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate5'">
                    <dx-select-box [dataSource]="CustSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForCustomer"
                        valueExpr="CustCode" [minSearchLength]="0" [value]="importData ? importData.CustomerCode:''"
                        (onValueChanged)="onCodeChanged($event,'CustomerCode')" hoverStateEnabled="true" [itemTemplate]="hover"
                        [searchExpr]="['CustCode', 'Name']">
                    </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate7'">
                    <dx-select-box [dataSource]="attributeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForAttributes"
                        valueExpr="AttributeValue" [minSearchLength]="0" [value]="importData ? importData.AttirbuteCode:''"
                        (onValueChanged)="onCodeChanged($event,'AttirbuteCode')" hoverStateEnabled="true"
                        [itemTemplate]="hoverFormatForAttributes">
                    </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate8'">
                    <dx-select-box [dataSource]="locationSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForLocation"
                        valueExpr="LocationCode" [minSearchLength]="0" [value]="importData ? importData.LocationCode:''"
                        (onValueChanged)="onCodeChanged($event,'LocationCode')" hoverStateEnabled="true" [itemTemplate]="hoverFormatForLocation"
                        [searchExpr]="['LocationCode', 'Name']">
                    </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'nameTemplate6'">
                    <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                        valueExpr="Name" [minSearchLength]="0" [value]="importData ? importData.Type:''"
                        (onValueChanged)="onCodeChanged($event,'Type')" hoverStateEnabled="true" [itemTemplate]="hoverFormatForType"
                        [searchExpr]="['Name']">
                    </dx-select-box>
                </div>
            </dx-form>
            <br>
            <br>
            <div *ngIf="ChoosefileFlag">
                Choose a File(.xlsx, .xls, .csv) :
                <span class="btn btn-primary btn-sm btn-file">
                    Browse file<input #selectedfile class="selectedfile" type="file" (click)="clearFile()" (change)="onFileChange2($event)"
                        multiple="false" accept=".xlsx, .xls, .csv" />
                </span>
                <br>
                <br>
                <div>
                    <!-- class="col-3 font-for-formlable" style="text-align: right;"-->
                    <a href="assets/xlsx/salesquotes-import-sample.xlsx" download>
                        <button type="button" class="btn btn-outline-dark btn-sm">DOWNLOAD IMPORT TEMPLATE</button>
                    </a>
                </div>
            </div>
            <div *ngIf="APIButtonFlag">
                <!-- <dx-form itemType="group" [colCount]="2" accept-charset="UTF-8" [formData]="importData">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox"
                            [label]="{text: 'From Date/Time'}" [editorOptions]="{  width: '100%', type:'datetime',
                            elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                </dx-form>
                <br>
                <button type="button" class="btn btn-primary btn-sm" (click)="APICallImport()">IMPORT FROM
                    API</button> -->
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [showTitle]="true" [showCloseButton]="true" title="Sales Order Import" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [deferRendering]="false" [(visible)]="isFileSelected1">
    <div class="font-for-formlable">
        <dx-data-grid #gridContainer2 id="gridContainer2" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="dataSourceIJ1"
            [repaintChangesOnly]="true" keyExpr="LineNo" [allowColumnResizing]="true">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-editing mode="cell" [allowDeleting]="false"></dxo-editing>
            <dxo-export [enabled]="true" fileName="SQ-Import-Data"></dxo-export>
            <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple"></dxo-selection>
            <dxi-column dataField="LineNo" [visible]="false"></dxi-column>
            <dxi-column dataField="ItemValidation" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="isDuplicate" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="OrderNumber" [allowEditing]="false"></dxi-column>
            <!-- <dxi-column dataField="OrderItemID" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="ThirdPartyID" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="CrossRefCode" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ThirdPartySKU" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="CustomerName" [allowEditing]="true"></dxi-column> -->
            <dxi-column dataField="ItemCode" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="Quantity" dataType="number">
                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
            </dxi-column>
            <dxi-column dataField="PaidPrice" dataType="number">
                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
            </dxi-column>
            <dxi-column dataField="UnitPrice" dataType="number">
                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
            </dxi-column>
            <dxi-column dataField="CreatedAT" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="ShippingName" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ShippingAddress" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ShippingPhoneNumber" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ShippingCity" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ShippingPostcode" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="ShippingCountry" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="TaxCode" [allowEditing]="true"></dxi-column>
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showInfo]="true"></dxo-pager>
        </dx-data-grid>
        <br>
        <span style="float: right;">Total Count : {{ rowCount1 }}</span>
        <dx-button class="mr-2" type="danger" icon="clear" text="DELETE LINE(S)" [disabled]="rowCount1==0" (onClick)="onDeleteClicked()">
        </dx-button>
        <dx-button type="default" icon="todo" text="CREATE-SALES QUOTE" [disabled]="rowCount1==0" (onClick)="btnImport_clickHandler2()">
        </dx-button>
    </div>
</dx-popup>