<a [routerLink]="[ '/integration/woo-order-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="row font-for-formlable">
        <dx-form [colCount]="4" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item cssClass="font-for-formlable" dataField="id"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="number"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="order_key"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="customer_id"></dxi-item>
          <dxi-item cssClass="font-for-formlable" [template]="'billingInfo'" [label]="{text: 'Billing Info'}"></dxi-item>
          <dxi-item cssClass="font-for-formlable" [template]="'shippingInfo'" [label]="{text: 'Shipping Info'}"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="customer_note"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="transaction_id"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="status"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="created_via"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="prices_include_tax" editorType="dxCheckBox"></dxi-item>
          <div class="clearfix2" *dxTemplate="let data of 'billingInfo'">
            <dx-text-box [value]="itemDetails ? itemDetails.billing.first_name:''"></dx-text-box>
            <dx-button type="default" icon="info" (onClick)="getToCustomerDetail('BILL')"></dx-button>
          </div>
          <div class="clearfix2" *dxTemplate="let data of 'shippingInfo'">
            <dx-text-box [value]="itemDetails ? itemDetails.shipping.first_name:''"></dx-text-box>
            <dx-button type="default" icon="info" (onClick)="getToCustomerDetail('SHIP')"></dx-button>
          </div>
          <dxi-item cssClass="font-for-formlable" dataField="currency"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="date_created"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="date_modified"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="discount_total"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="discount_tax"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="shipping_total"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="shipping_tax"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="cart_tax"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="total"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="total_tax"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="payment_method"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="payment_method_title"></dxi-item>
        </dx-form>
        <br>
        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="soListSource" [showBorders]="true"
          [allowColumnReordering]="true" [hoverStateEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="product_id" [allowSearch]="true"></dxi-column>
          <dxi-column dataField="name" [allowSearch]="true"></dxi-column>
          <dxi-column dataField="sku" [allowSearch]="true"></dxi-column>
          <dxi-column dataField="quantity" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="price" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="subtotal_tax" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="subtotal" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="total" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 10, 20]"></dxo-pager>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Billing Details"
  [closeOnOutsideClick]="true" [(visible)]="billtoInfo">
  <div id="form-container">
    <dx-form [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
      <dxi-item cssClass="font-for-formlable" dataField="billing.first_name"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.last_name"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.address_1"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.address_2"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.city"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.postcode"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.state"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.country"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.company"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.phone"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="billing.email"></dxi-item>
    </dx-form>
  </div>
</dx-popup>

<dx-popup class="popup" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Shiping Details"
  [closeOnOutsideClick]="true" [(visible)]="shiptoInfo">
  <div id="form-container">
    <dx-form [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
      <dxi-item cssClass="font-for-formlable" dataField="shipping.first_name"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.last_name"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.address_1"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.address_2"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.city"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.postcode"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.state"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.country"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.company"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.phone"></dxi-item>
      <dxi-item cssClass="font-for-formlable" dataField="shipping.email"></dxi-item>
    </dx-form>
  </div>
</dx-popup>