<a [routerLink]="[ '/finance/salescreditnote-list']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Customer Selection"
    [closeOnOutsideClick]="true" [(visible)]="globalCustomerLookupPopup">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div id="form-container">
                    <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="customerSuggestions"
                        (onRowClick)="onCustomerRowClicked($event)">
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column dataField="CustCode" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="Address1" [allowEditing]="false"> </dxi-column>
                        <dxi-column dataField="City" [allowEditing]="false"></dxi-column>
                        <dxo-paging [pageSize]="7"></dxo-paging>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Customer Details"
    [closeOnOutsideClick]="true" [(visible)]="popupSelltoCustDetails">
    <div id="form-container">
        <dx-form [formData]="SalesCNDetails" accept-charset="UTF-8" (onFieldDataChanged)="onCustomerDetailsFieldsChanges($event)">
            <dxi-item cssClass="font-for-formlable" dataField="BillToCustomer" [label]="{text: 'Customer Code'}">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToName" [label]="{text: 'Customer Name'}">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToAddress" [label]="{text: 'Address'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToAddress2" [label]="{text: 'Address 2'}"
                [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToCity" [label]="{text: 'City'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BillToZip" [label]="{text: 'ZipCode'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="VATID" [label]="{text: 'Tax ID'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
        </dx-form>
    </div>
</dx-popup>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="itemDetailsPopup">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="LineCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="BaseUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="UnitPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="NetPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATBusPostingGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="GenPolicyGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATPerct" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="LineType" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="QuantityToInvoice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="NetPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="InvDiscountAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LineDiscountAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATProdPostingGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="SOUnitprice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VatAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="700" [height]="500" [showTitle]="true" title="Check and Confirm Posting" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p><b>Document Number</b>: {{ SalesCNDetails["DocumentNo"]}}</p>
                </div>
                <div class="col-6">
                    <p><b>Customer Code</b>: {{ SalesCNDetails["BillToName"]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p><b>Document Date</b>: {{ SalesCNDetails["DocumentDate"]}}</p>
                </div>
            </div>
            <div class="row">
                <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="onCreateGLBuffResultSet"
                    [repaintChangesOnly]="true" [allowColumnResizing]="true">

                    <dxi-column dataField="AccountCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="DebitAmount" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="CreditAmount" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>

                </dx-data-grid>
            </div>
            <br>
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <p><b>Balance</b>: {{ this.balanceforpost}}</p>
                </div>
            </div>
            <div class="row">
                <dx-button text="Post" type="default" (onClick)="PostBtn()">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>

<div class="row">
    <div class="col-12">
        <div class="card bg-darkerbg">
            <div class="card-body">
                <dx-form id="SalesOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp4'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item [template]="'MainTemp2'">
                        </dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'MainTemp'">
                        <span *ngIf="SalesCNDetails" style="color: #fff; font-size:22px;"><b>{{SalesCNDetails.DocumentNo
                                }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp4'" style="color: #fff; font-size:22px;">Status:
                        <span #docStatus id="docStatus" class="label" *ngIf="SalesCNDetails"><b>
                                {{SalesCNDetails.FlowResult }}</b></span>
                    </div>
                    <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
                        <dx-select-box #selectBoxSI [dataSource]="dropdownmenu" [value]=""></dx-select-box>
                        <dx-button type="default" text="GO" (onClick)="SalesInvoiceOperationsGo(selectBoxSI.text)">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <dx-form id="CustomerDetailsGropu" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                    [formData]="SalesCNDetails" accept-charset="UTF-8">
                    <dxi-item [template]="'nameTemplate3'" [label]="{text: 'Bill To'}">
                    </dxi-item>
                    <dxi-item [template]="'nameTemplate4'" [label]="{text: 'Name'}">
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="SalesCNDetails ? SalesCNDetails.BillToCustomer:''">
                        </dx-text-box>
                        <dx-button type="default" icon="find" (onClick)="onCustomerSearchClicked()" [disabled]="isLinesExist">
                        </dx-button>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-text-box [value]="SalesCNDetails ? SalesCNDetails.BillToName:''">
                        </dx-text-box>
                        <dx-button type="default" icon="info" (onClick)="getSellToCustomerDetail()">
                        </dx-button>
                    </div>
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
                        [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly: isLinesExist }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="DueDate" [label]="{text: 'Due Date'}" editorType="dxDateBox"
                        [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <dx-form id="CustomerDetailsGropu" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                    [formData]="SalesCNDetails" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate2'" [label]="{text: 'Customer Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'VAT Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'From Sales Return'}"
                            [editorOptions]="{elementAttr:{'class': 'font-for-formlable'}}"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2">
                        <dxi-item itemType="group">
                            <dxi-item cssClass="font-for-formlable" dataField="FromInvoiceNo" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item cssClass="font-for-formlable" dataField="PaymentTerm" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        </dxi-item>
                    </dxi-item>
                    <!-- <dxi-item cssClass="font-for-formlable" dataField="ExternalDocumentNo"
                        [label]="{text: 'Ext Doc Number'}"
                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item> -->
                    <div *dxTemplate="let data of 'nameTemplate2'">
                        <dx-select-box #selectBox1 [dataSource]="customergrpSuggestions" [searchEnabled]="true"
                            [displayExpr]="suggestionFormateForCustomerGrp" valueExpr="Code" [minSearchLength]="0"
                            fieldTemplate="field1" [value]="SalesCNDetails ? SalesCNDetails.CustPostingGroup:''"
                            (onValueChanged)="onSellToCustomerGrpCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover2">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.Code:SalesCNDetails ? SalesCNDetails.CustPostingGroup:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                    <div *dxTemplate="let data of 'nameTemplate3'">
                        <dx-select-box #selectBox1 [dataSource]="vatGrpSuggestions" [searchEnabled]="true"
                            [displayExpr]="suggestionFormateForvatGrp" valueExpr="Code" [minSearchLength]="0"
                            fieldTemplate="field1" [value]="SalesCNDetails ? SalesCNDetails.VATGroup:''"
                            (onValueChanged)="onSellToVatGrpCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover3">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.Code:SalesCNDetails ? SalesCNDetails.VATGroup:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-select-box #selectBox1 [dataSource]="SoListSuggestions" [searchEnabled]="true"
                            [displayExpr]="suggestionFormateForSolist" valueExpr="DocumentNo" [minSearchLength]="0"
                            fieldTemplate="field1" [value]="SalesCNDetails ? SalesCNDetails.ConnectedOrder:''"
                            (onValueChanged)="onSellToSoListCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover4">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.DocumentNo:SalesCNDetails ? SalesCNDetails.ConnectedOrder:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                        <dx-button type="default" icon="clear" (onClick)="clearConnectedOrderfromPI()"></dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
                    [showBorders]="true" [allowColumnResizing]="true">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="true"></dxo-editing>
                    <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="PickNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="PickLineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="LineCode" [allowSearch]="true" [allowEditing]="false"> </dxi-column>
                    <dxi-column dataField="Details" caption="" cellTemplate="cellTemplate2" [allowEditing]="false"
                        [allowSearch]="false"></dxi-column>
                    <div *dxTemplate="let data of 'cellTemplate2'">
                        <div class="icon">
                            <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data)"></i></a>
                        </div>
                    </div>
                    <dxi-column dataField="LineType" [allowSearch]="true" dataType="string" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="Description" [allowSearch]="true" dataType="string" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="BaseQuantity" [allowSearch]="false" dataType='number' [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="QuantityToInvoice" [allowSearch]="false" dataType="number" [editorOptions]="{ mode:number, min: 0, format: ' #,##0.##' }">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="UnitPrice" dataType="number" [allowSearch]="false" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="AmountIncludingVAT" dataType="number" [allowSearch]="false" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Amount" [allowSearch]="false" dataType="number" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="VatAmount" [allowSearch]="false" dataType="number" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
                    </dxo-pager>
                    <dxo-summary>
                        <dxi-total-item column="LineDiscountAmount" summaryType="sum" displayFormat="{0}"
                            [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="Amount" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="VatAmount" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="QuantityToInvoice" summaryType="sum" displayFormat="Total: {0}"
                            [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                    </dxo-summary>
                </dx-data-grid>
                <div class="row" style="padding: 10px; float: right; color:#000;">
                    <div>
                        <p style="float: right; color:#000;"> Deposit Amount : {{ DepositAmount |
                            number: '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Discount : {{ totalDiscount |
                            number: '1.2-2'}} </p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Amount Ex Tax : {{ SalesCNDetails.Amount | number:
                            '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Tax : {{ TAX | number: '1.2-2'}} </p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Amount Inc Tax : {{
                            SalesCNDetails.AmountIncludingVAT | number: '1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>