<a [routerLink]="" class="float" (click)="onCreateNewPick()">
    <i class="fa fa-plus my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" [width]="200" [height]="200" [showTitle]="true" title="Fetching Details" [dragEnabled]="true"
  [closeOnOutsideClick]="false" [(visible)]="waitingDialogue" [showCloseButton]="false">
  <div *dxTemplate="let data of 'content'">
    <img width="150" src="assets/images/spinner.gif">
  </div>
</dx-popup>

<dx-popup class="popup" [width]="500" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Print Shipping Labels"
    [closeOnOutsideClick]="true" [(visible)]="shippingLablePopup">
    <div class="row">
        <div class="col-12">
            <dx-form accept-charset="UTF-8" [formData]="FormDate">
                <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate1'" [label]="{text: 'Import Type'}"></dxi-item>
                <div *dxTemplate="let data of 'nameTemplate1'">
                    <dx-select-box [dataSource]="chooseImportFormat" [minSearchLength]="0" [value]="FormDate ? FormDate.userselected:''"
                        (onValueChanged)="onCodeChanged1($event,'userselected')" [showClearButton]="false">
                    </dx-select-box>
                </div>
            </dx-form>
            <br>
            <div *ngIf="DateForApprove">
                <dx-form (onFieldDataChanged)="formSummary_fieldDataChanged($event)" accept-charset="UTF-8" [formData]="FormDate">
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox" [label]="{text: 'From Date'}"
                        [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
                        [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                </dx-form>
            </div>
            <div *ngIf="BatchIDForApprove">
                <dx-form accept-charset="UTF-8" [formData]="FormDate">
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate6'" [label]="{text: 'Import BatchID'}"></dxi-item>
                    <div *dxTemplate="let data of 'nameTemplate6'">
                        <dx-select-box [dataSource]="TypeSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForType"
                            valueExpr="BatchID" [minSearchLength]="0" [value]="FormDate ? FormDate.BatchID:''"
                            (onValueChanged)="onCodeChanged1($event,'BatchID')" hoverStateEnabled="true" [itemTemplate]="hoverFormatForType"
                            [searchExpr]="['BatchID']">
                        </dx-select-box>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
    <br>
    <div>
        <dx-button type="default" text="Print Labels" (onClick)="getShippingLabelsfromLazada()"></dx-button>
    </div>
</dx-popup>

<div class="row">
    <div class="col-12">
        <div class="text-right">
            <dx-button type="default" text="Print Shipping Labels" (onClick)="getShippingLabels()"></dx-button>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <dx-data-grid id="gridContainer" [dataSource]="pickListSource" [showBorders]="true"
                    [allowColumnResizing]="true" [hoverStateEnabled]="true" [columnAutoWidth]="true" (onRowClick)="onUserRowSelect($event)">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="DocumentNo" caption="Pick No"></dxi-column>
                    <dxi-column dataField="DocumentDate" caption="Date"> </dxi-column>
                    <dxi-column dataField="SelltoCustomerName" caption="Customer"></dxi-column>
                    <dxi-column dataField="SourceType"> </dxi-column>
                    <dxi-column dataField="SourceNo" caption="SourceNo"></dxi-column>
                    <dxi-column dataField="LocationCode" caption="Location"> </dxi-column>
                    <dxi-column dataField="HandledBy" caption="Handled-By"></dxi-column>
                    <dxi-column dataField="CreatedTime" caption="CreatedTime"> </dxi-column>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>
<dx-popup class="popup" [width]="500" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Choose Attribute"
    [closeOnOutsideClick]="true" [(visible)]="attributesPopup">
    <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="dataAttributes"
        (onRowClick)="onAttributesSelected($event)" [hoverStateEnabled]="true">
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="AttributeValue" [allowEditing]="false"></dxi-column>
        <dxo-paging [pageSize]="7"></dxo-paging>
    </dx-data-grid>
</dx-popup>