<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-12">
    <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged($event)" accept-charset="UTF-8"
      [formData]="FormDate">
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox" [label]="{text: 'To Date'}"
          [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ngb-tabset type="pills">
          <ngb-tab id="one" title="All Inventory with Cost">
            <ng-template ngbTabContent>
              <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource" [showBorders]="true"
                [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="ItemCode"></dxi-column>
                <dxi-column dataField="Description"></dxi-column>
                <dxi-column dataField="BaseUOM"></dxi-column>
                <dxi-column dataField="StorageCode"></dxi-column>
                <dxi-column dataField="Stock" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="AverageCost" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="CostAmount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="CategoryCode"></dxi-column>
                <dxi-column dataField="SubCategoryCode"></dxi-column>
                <dxi-column dataField="BrandCode"></dxi-column>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-summary>
                  <dxi-total-item column="Stock" summaryType="sum" displayFormat="Total: {0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="CostAmount" summaryType="sum" displayFormat="Total: {0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                </dxo-summary>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="two" title="Lot Costing">
            <ng-template ngbTabContent>
              <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource2" [showBorders]="true"
                [allowColumnReordering]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="ItemCode"></dxi-column>
                <dxi-column dataField="Description"></dxi-column>
                <dxi-column dataField="UOM"></dxi-column>
                <dxi-column dataField="LotNumber"></dxi-column>
                <dxi-column dataField="DocumentNo"></dxi-column>
                <dxi-column dataField="LotType"></dxi-column>
                <dxi-column dataField="Quantity" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="GR" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="ADJMTPOSITIVE" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="OUTPUT" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="TRANSFERIN" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="RR" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="PICK" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="ADJMTNEGATIVE" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="BOM" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="TRANSFEROUT" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>