::ng-deep .color-for-column-Approved{
    background-color :#157FFB;
    color: #fff;
    text-align: center !important;
    }
    ::ng-deep .color-for-column-OPEN{
        background-color : #6e859e;
        color: #fff;
        text-align: center !important;
    }
    ::ng-deep .color-for-column-SFApproval{
        background-color : #67CB64;
        color: #fff;
            text-align: center !important;
    }
    ::ng-deep .color-for-column-Rejected{
        background-color :#FF0000;
        color: #fff;
                text-align: center !important;
    }
    
    .dx-data-row td {
            text-align: left!important;
        }
    
        
    .dx-button-default{
        background-color: #0c9 !important;
      }

      .float-download {
        position: fixed;
        width: 50px;
        height: 50px;
        top:5px;
        right: 540px;
        background-color: #ffb732;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 999;
      }
      
      .my-float-download {
        margin-top: 17px;
      }

      .btn-file {
        position: relative;
        overflow: hidden;
      }
      
      .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }