<a [routerLink]="[ '/finance/vatsubmission-register-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-10">
    <div id="form-container">
      <dx-form id="VatSubmissionOperations" itemType="group" [colCount]="2" accept-charset="UTF-8">
        <dxi-item itemType="group" dataField="VAT Submission Operation">
          <dx-select-box #selectBoxSO [dataSource]="VatSubmissionOperations" [value]=""></dx-select-box>
        </dxi-item>
        <dxi-item itemType="group" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
          <dx-button icon="spinright" type="default" text="GO" (onClick)="VatSubmissionOperationssGo(selectBoxSO.text)">
          </dx-button>
        </dxi-item>
      </dx-form>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div id="form-container">
    <dx-form id="vatSubbmisionForm" (onFieldDataChanged)="formSummary_fieldDataChanged($event)" itemType="group"
      [colCount]="2" [formData]="vatSubmissionFormDetail" accept-charset="UTF-8">
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="DocumentNo" [editorOptions]="{ readOnly: true, elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="ForYear" [editorOptions]="{ readOnly: true,  elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="ForMonth" [editorOptions]="{ readOnly: true,  elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="SubmissionLocked" editorType="dxCheckBox" [editorOptions]="{ readOnly: true,text: 'Locked', elementAttr:{ 'class': 'font-for-formlable' } }">
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <ngb-tabset type="pills">
          <ngb-tab id="SalesVat" title="Sales Vat">
            <ng-template ngbTabContent>
              <br>
              <div class="row">
                <div class="col-4">
                  <div class="dx-fieldset">
                    <div class="dx-field">
                      <div class="dx-field-label">From Date</div>
                      <div class="dx-field-value">
                        <dx-date-box [value]="fromdate" type="date" displayFormat='dd-MM-yyyy' disabled="true">
                        </dx-date-box>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="dx-fieldset">
                    <div class="dx-field">
                      <div class="dx-field-label">To Date</div>
                      <div class="dx-field-value">
                        <dx-date-box [value]="todate" type="date" displayFormat='dd-MM-yyyy' disabled="true">
                        </dx-date-box>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <dx-data-grid id="gridContainer1" #gridContainer1 [columnAutoWidth]="true" [allowColumnResizing]="true"
                [dataSource]="dataSource" [showBorders]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="VatReport"></dxo-export>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxi-column dataField="DocumentNo" disabled="true"></dxi-column>
                <dxi-column dataField="DocumentDate"></dxi-column>
                <dxi-column dataField="PostingDate"></dxi-column>
                <dxi-column dataField="DocumentType"></dxi-column>
                <dxi-column dataField="VATID"></dxi-column>
                <dxi-column dataField="SourceCode"></dxi-column>
                <dxi-column dataField="VATProdPostingGroup"></dxi-column>
                <dxi-column dataField="VATBusPostingGroup"></dxi-column>
                <dxi-column dataField="VATPercentage" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="IsUnRealizedVAT"></dxi-column>
                <dxi-column dataField="BaseAmount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Amount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Submitted"></dxi-column>
                <dxi-column dataField="LineLocked"></dxi-column>
                <dxi-column cellTemplate="cellTemplate"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                  <dx-button text="Submit/Reset" (onClick)="submitVatLine($event, data)">
                  </dx-button>
                </div>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true"></dxo-pager>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="PurchaseVat" title="Purchase Vat">
            <ng-template ngbTabContent>
              <br>
              <div class="row">
                <div class="col-4">
                  <div class="dx-fieldset">
                    <div class="dx-field">
                      <div class="dx-field-label">From Date</div>
                      <div class="dx-field-value">
                        <dx-date-box [value]="fromdate" type="date" displayFormat='dd-MM-yyyy' disabled="true">
                        </dx-date-box>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="dx-fieldset">
                    <div class="dx-field">
                      <div class="dx-field-label">To Date</div>
                      <div class="dx-field-value">
                        <dx-date-box [value]="todate" type="date" displayFormat='dd-MM-yyyy' disabled="true">
                        </dx-date-box>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <dx-data-grid id="gridContainer2" #gridContainer2 [columnAutoWidth]="true" [allowColumnResizing]="true"
                [dataSource]="PurchdataSource" [showBorders]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="VatReport"></dxo-export>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxi-column dataField="DocumentNo"></dxi-column>
                <dxi-column dataField="DocumentDate"></dxi-column>
                <dxi-column dataField="PostingDate"></dxi-column>
                <dxi-column dataField="DocumentType"></dxi-column>
                <dxi-column dataField="VATID"></dxi-column>
                <dxi-column dataField="SourceCode"></dxi-column>
                <dxi-column dataField="VATProdPostingGroup"></dxi-column>
                <dxi-column dataField="VATBusPostingGroup"></dxi-column>
                <dxi-column dataField="VATPercentage" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="IsUnRealizedVAT"></dxi-column>
                <dxi-column dataField="BaseAmount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Amount" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Submitted"></dxi-column>
                <dxi-column dataField="LineLocked"></dxi-column>
                <dxi-column cellTemplate="cellTemplate1"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplate1'">
                  <dx-button text="Submit/Reset" (onClick)="submitPurchVatLine($event, data)">
                  </dx-button>
                </div>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true"></dxo-pager>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>