<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-12">
    <dx-form itemType="group" [colCount]="4" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
      accept-charset="UTF-8" [formData]="FormDate">
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="DocumentFromDate" editorType="dxDateBox"
          [label]="{text: 'From Date'}"
          [editorOptions]="{  width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" dataField="DocumentToDate" editorType="dxDateBox"
          [label]="{text: 'To Date'}"
          [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item cssClass="font-for-formlable" [template]="'store'" [label]="{text: 'Store ID'}">
        </dxi-item>
      </dxi-item>
      <div *dxTemplate="let data of 'store'">
        <dx-select-box #selectBox1 [dataSource]="storeList" [searchEnabled]="true"
          [displayExpr]="suggestionFormateForStore" valueExpr="StoreID" [minSearchLength]="0"
          [value]="storeList ? storeList.StoreID:''" (onValueChanged)="onStoreIDCodeChanged($event)"
          hoverStateEnabled="true" [itemTemplate]="hover">
        </dx-select-box>
      </div>
    </dx-form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true"
          [dataSource]="dataSource" [showBorders]="true" [columns]="columns" [hoverStateEnabled]="true">
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
          <dxo-export [enabled]="true" fileName="posSalesbyPayment"></dxo-export>
          <!-- <dxi-column dataField="01_Transdate" caption="Transaction Date"></dxi-column>
          <dxi-column dataField="KBANK"></dxi-column>
          <dxi-column dataField="PAYTM"></dxi-column>
          <dxi-column dataField="RCASH"></dxi-column>
          <dxi-column dataField="VOUCHER"></dxi-column> -->
          <dxo-paging [pageSize]="8"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>