<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <ngb-tabset type="pills">
          <ngb-tab id="Aging" title="Aging">
            <ng-template ngbTabContent>
              <br>
              <dx-form id="CustomerDetailsGropu" itemType="group" [colCount]="3" [formData]="dateValue" accept-charset="UTF-8"
                (onFieldDataChanged)="formSummary_fieldDataChanged($event)">
                <dxi-item itemType="group">
                  <dxi-item cssClass="font-for-formlable" dataField="Date" editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                </dxi-item>
              </dx-form>
              <br>
              <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true"
                [dataSource]="dataSource" [showBorders]="true" [hoverStateEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="VatReport"></dxo-export>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxi-column dataField="VendorNo"></dxi-column>
                <dxi-column dataField="current" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="1-30Days" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="31-60Days" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="61-90Days" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="MoreThan90Days" dataType="number">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
              </dx-data-grid>
              <br>

              <div class="row">
                <div class="col-12" *ngIf="barChartData">
                  <dx-chart id="chart" [dataSource]="barChartData" palette="soft">
                    <dxi-series valueField="current" name="Current"></dxi-series>
                    <dxi-series valueField="1-30Days" name="1-30 Days"></dxi-series>
                    <dxi-series valueField="31-60Days" name="31-60 Days"></dxi-series>
                    <dxi-series valueField="61-90Days" name="61-90 Days"></dxi-series>
                    <dxi-series valueField="MoreThan90Days" name="More Than 90 Days"></dxi-series>
                    <dxo-common-series-settings argumentField="VendorNo" type="bar" [ignoreEmptyPoints]="true"
                      [barPadding]="0.5">
                      <dxo-label [visible]="true" [format]="{ type: 'fixedPoint',precision: '0'}">
                      </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxi-value-axis>
                      <dxo-title text="Balance"></dxo-title>
                    </dxi-value-axis>
                    <dxo-zoom-and-pan [dragToZoom]="true" panKey="ctrl" argumentAxis="both" valueAxis="both">
                    </dxo-zoom-and-pan>
                    <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                    <dxo-argument-axis title="Customer Code">
                    </dxo-argument-axis>
                    <dxo-tooltip [enabled]="true" width="200" [customizeTooltip]="customizeTooltip">
                    </dxo-tooltip>
                    <dxo-export [enabled]="true"></dxo-export>
                  </dx-chart>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>