<a [routerLink]="[ '/warehouse/posted-movement-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-12">
    <div class="card bg-darkerbg">
      <div class="card-body">
        <dx-form id="PurchaseOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp3'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="2">
            <dxi-item [template]="'MainTemp2'">
            </dxi-item>
          </dxi-item>
          <div *dxTemplate="let data of 'MainTemp'">
            <span *ngIf="movementHeader" style="color: #fff; font-size:22px;"><b>{{ movementHeader.DocumentNo }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">Status:
            <span *ngIf="movementHeader"><b> {{ movementHeader.DocumentStatus }}</b></span>
          </div>
          <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
            <dx-select-box #selectBoxMovement [dataSource]="MovementOperations" [value]=""></dx-select-box>
            <dx-button type="default" text="GO" (onClick)="MovementOperationsGo(selectBoxMovement.text)">
            </dx-button>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" [formData]="movementHeader" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item cssClass="font-for-formlable" dataField="FromLocationCode" [label]="{text: 'Location Code'}"
              [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly: isLinesExist }">
            </dxi-item>
          </dx-form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-form id="PickOrderForm" [formData]="movementHeader" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item cssClass="font-for-formlable" dataField="FromStorageUnitCode" [label]="{text: 'From SU Code'}"
            [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ToStorageUnitCode" [label]="{text: 'To SU Code'}"
            [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <!-- <dxi-item cssClass="font-for-formlable" dataField="Reason" [label]="{text: 'Comments/Reason For Moving'}"
            [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item> -->
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
          [showBorders]="true" [allowColumnResizing]="true" [allowColumnReordering]="true" [wordWrapEnabled]="true">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-editing mode="row" [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="false">
          </dxo-editing>
          <dxi-column dataField="ItemCode" [allowSearch]="true" [allowEditing]="false" dataType="string"></dxi-column>
          <dxi-column dataField="Description" [allowEditing]="false" [allowSearch]="true" dataType="string">
          </dxi-column>
          <dxi-column dataField="BaseUOM" [allowEditing]="false" [allowSearch]="true" dataType="string"></dxi-column>
          <dxi-column dataField="Quantity" dataType="number" [allowSearch]="false" [editorOptions]="{min: 0, format: ' #,##0' }">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="LotNo" [allowEditing]="false" [allowSearch]="true" dataType="string"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>