<a [routerLink]="[ '/warehouse/pick-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="itemDetailsPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="ItemCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BaseUOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="Location" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="StorageCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item cssClass="font-for-formlable" dataField="CategoryCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SubCatcode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="BrandCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SOUnitPrice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="LineStatus" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" width="600" [showTitle]="true" title="Customer Details" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupShipToVendorDetails">
  <div *dxTemplate="let data of 'content'">
    <div class="col-12">
      <div class="row">
        <dx-form (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [formData]="pickHeader" accept-charset="UTF-8">
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoName" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoAddress" [label]="{text: 'Ship-To Address'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoAddress2" [label]="{text: 'Ship-To Address2'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoCity" [label]="{text: 'Sell-To City'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
          <dxi-item cssClass="font-for-formlable" dataField="ShiptoPostCode" [label]="{text: 'Sell-To Zip'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        </dx-form>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup class="popup" [showTitle]="true" title="Sales Orders" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="globalPOLookupPopup">
  <div *dxTemplate="let data of 'content'">
    <div class="row">
      <div class="col-12">
        <dx-data-grid [columnAutoWidth]="true" [showBorders]="true" [dataSource]="SOForSuggestions" [hoverStateEnabled]="true"
          [allowColumnResizing]="true" (onRowClick)="purchaseOrderOnClicked($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="DocumentNo"></dxi-column>
          <dxi-column dataField="OrderDate"></dxi-column>
          <dxi-column dataField="SelltoCustomerNo"></dxi-column>
          <dxi-column dataField="SelltoCustomerName"></dxi-column>
          <dxi-column dataField="ShipmentDate"></dxi-column>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>

<div class="row">
  <div class="col-12">
    <div class="card bg-darkerbg">
      <div class="card-body">
        <dx-form id="PurchaseOrderOperation" itemType="group" [colCount]="3" accept-charset="UTF-8">
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [template]="'MainTemp3'"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="2">
            <dxi-item [template]="'MainTemp2'">
            </dxi-item>
          </dxi-item>
          <div *dxTemplate="let data of 'MainTemp'">
            <span *ngIf="pickHeader" style="color: #fff; font-size:22px;"><b>{{ pickHeader.DocumentNo }}</b></span>
          </div>
          <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">Date:
            <span *ngIf="pickHeader"><b>{{ pickHeader.DocumentDate }}</b></span>
          </div>
          <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
            <dx-select-box #selectBoxSO [dataSource]="['Post Ship','Print Order','Print Shipping Label']" [value]="">
            </dx-select-box>
            <dx-button type="default" text="GO" (onClick)="PickOrderOperationsGo(selectBoxSO.text)">
            </dx-button>
          </div>
        </dx-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" itemType="group" [formData]="pickHeader" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
            accept-charset="UTF-8">
            <dxi-item cssClass="font-for-formlable" dataField="DocumentNo" [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox" [editorOptions]="{ value: null, width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate5'" [label]="{text: 'Location Code'}">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="DefPickStorage" [label]="{text: 'Storage Unit'}"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{ text: 'Sales Order'}"
              [editorOptions]="{ width: '100%', elementAttr:{ 'class': 'font-for-formlable' } }">
            </dxi-item>

            <dxi-item cssClass="font-for-formlable" dataField="Remarks" [label]="{text: 'Remarks'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="RemarksExternal" [label]="{text: 'Remarks To Print'}"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <div *dxTemplate="let data of 'nameTemplate5'">
              <dx-select-box #selectBox4 [dataSource]="ShipFromSuggestions" [searchEnabled]="true" [showClearButton]="!isPickLinesAdded"
                [displayExpr]="suggestionFormateForLocationCode" valueExpr="LocationCode" [minSearchLength]="0"
                [readOnly]="isPickLinesAdded" [value]="pickHeader ? pickHeader.LocationCode:''" (onValueChanged)="onLocationCodeChanged($event)"
                hoverStateEnabled="true" [itemTemplate]="hoverFormateForLocationCode" [searchExpr]="['LocationCode', 'Name']">
              </dx-select-box>
            </div>
            <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
              <dx-text-box [value]="pickHeader ? pickHeader.SourceNo:''" [elementAttr]="{ 'class': 'font-for-formlable' }">
              </dx-text-box>
              <dx-button type="default" icon="find" (onClick)="SOLookupClicked()" [disabled]="isPickLinesAdded">
              </dx-button>
            </div>
          </dx-form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body font-for-formlable">
        <div id="form-container">
          <dx-form id="PickOrderForm" itemType="group" [formData]="pickHeader" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
            accept-charset="UTF-8">
            <dxi-item cssClass="font-for-formlable" dataField="SelltoCustomerNo" [label]="{text: 'Sell-To Code'}"
              [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'Ship-To Code'}"
              [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SOShipmentDate" [label]="{text: 'Deliver Date'}"
              editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <dxi-item class="font-for-formlable" dataField="InternalShipmentType" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:APIPickFlag }"
              [label]="{text: 'Internal Shipment'}" editorType="dxCheckBox">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate5'" [label]="{text: 'Ship Provider'}"
              [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="TrackingID" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' },readOnly:!flagForInternalShipment }">
            </dxi-item>
            <dxi-item cssClass="font-for-formlable" dataField="SODate" editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
            </dxi-item>
            <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
              <dx-text-box [value]="pickHeader ? pickHeader.ShiptoCode:''">
              </dx-text-box>
              <dx-button type="default" icon="info" (onClick)="getShipToVendorDetail2()">
              </dx-button>
            </div>
            <div class="clearfix2" *dxTemplate="let data of 'nameTemplate5'">
              <div *ngIf="flagForInternalShipment;else ALTERNATE_IMAGE">
                <dx-text-box [value]="pickHeader ? pickHeader.ShipmentMethodCode:''" (onValueChanged)="onShipmentMethodChanged2($event)">
                </dx-text-box>
              </div>
              <ng-template #ALTERNATE_IMAGE>
                <dx-select-box [dataSource]="ShipmentMethodFromSuggestions" [searchEnabled]="true" [showClearButton]="!isPickLinesAdded"
                  [displayExpr]="suggestionFormateForShipmentMethod" valueExpr="name" [minSearchLength]="0" [value]="pickHeader ? pickHeader.ShipmentMethodCode:''"
                  (onValueChanged)="onShipmentMethodChanged($event)" hoverStateEnabled="true" [itemTemplate]="hoverFormateForShipmentMethod"
                  [searchExpr]="['cod', 'name']">
                </dx-select-box>
                <dx-button type="default" text="Get Tracking ID" (onClick)="getShipToVendorDetail()"></dx-button>
              </ng-template>
            </div>
          </dx-form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <ngb-tabset type="pills" (tabChange)="onTabChange($event)">
          <ngb-tab title="Pick Lines">
            <ng-template ngbTabContent>
              <dx-data-grid #gridContainerPL [columnAutoWidth]="true" id="gridContainerPL" [dataSource]="dataSource"
                [showBorders]="true" [allowColumnResizing]="true" [masterDetail]="{ enabled: true, template: 'detail' }"
                keyExpr="LineNo">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-editing mode="form" [allowAdding]="true" [form]="{items: ['Barcode']}"></dxo-editing>
                <dxi-column dataField="LineNo" [allowSearch]="true" [visible]="false"></dxi-column>
                <dxi-column dataField="ItemCode" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="Lookup" caption="" cellTemplate="cellTemplate" [allowEditing]="false"
                  [allowSearch]="false"></dxi-column>
                <dxi-column dataField="Description" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxi-column dataField="BaseUOM" [allowSearch]="true" dataType="string"></dxi-column>
                <dxi-column dataField="QtyinBaseUOM" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="SOUOM" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxi-column dataField="QtyinSOUOM" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="ShippingQty" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="ShippedQty" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="SOUnitPrice" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                  <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="Barcode" [allowSearch]="true" dataType="string">
                </dxi-column>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showInfo]="true"></dxo-pager>
                <div *dxTemplate="let data of 'cellTemplate'">
                  <div class="icon">
                    <i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data)"></i>
                  </div>
                </div>
                <div *dxTemplate="let employee of 'detail'">
                  <div class="master-detail-caption">Transfer Movement Log</div>
                  <dx-data-grid [dataSource]="getTasksdataSource(employee.key)" [showBorders]="true" [columnAutoWidth]="true">
                    <dxi-column dataField="EntryType"></dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="FromStorageUnit"></dxi-column>
                    <dxi-column dataField="ToStorageUnit"></dxi-column>
                    <dxi-column dataField="Quantity" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="ReversalFor"></dxi-column>
                    <dxo-paging [pageSize]="4"></dxo-paging>
                    <dxo-pager [showInfo]="true"></dxo-pager>
                  </dx-data-grid>
                </div>
                <dxo-summary>
                  <dxi-total-item column="QtyinBaseUOM" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="QtyinSOUOM" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="ShippingQty" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="ShippedQty" summaryType="sum" displayFormat="{0}" [customizeText]="getFormatOfNumber">
                  </dxi-total-item>
                  <dxi-total-item column="BaseUOM" summaryType="sum" displayFormat="Total: ">
                  </dxi-total-item>
                </dxo-summary>
              </dx-data-grid>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Pick Suggestions">
            <ng-template ngbTabContent>
              <br>
              <div id="form-container">
                <dx-form id="PickSuggestionsOperation" itemType="group" [colCount]="2" accept-charset="UTF-8">
                  <dxi-item itemType="group" dataField="Pick Suggestions Operation">
                    <dx-select-box #selectBoxPOSuggestions [dataSource]="['Print Suggestions']" [value]="">
                    </dx-select-box>
                  </dxi-item>
                  <dxi-item itemType="group" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    <dx-button icon="spinright" type="default" text="GO" (onClick)="PickOrderOperationsGo(selectBoxPOSuggestions.text)">
                    </dx-button>
                  </dxi-item>
                </dx-form>
                <br>
                <dx-data-grid #gridContainerPS [columnAutoWidth]="true" id="gridContainerPS" [dataSource]="dataSourcePICKSUGG"
                  [showBorders]="true" [allowColumnResizing]="true">
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
                  <dxi-column dataField="ItemCode" [allowSearch]="true"></dxi-column>
                  <dxi-column dataField="BaseUOM" [allowSearch]="true" dataType="string">
                  </dxi-column>
                  <dxi-column dataField="StorageCode" [allowSearch]="true" dataType="string"></dxi-column>
                  <dxi-column dataField="Stock" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showInfo]="true"></dxo-pager>
                </dx-data-grid>
              </div>
              <br>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Pick Adhoc">
            <ng-template ngbTabContent>
              <br>
              <div id="form-container">
                <dx-form id="PickAdhocOperation" itemType="group" [colCount]="2" accept-charset="UTF-8">
                  <dxi-item itemType="group" dataField="Pick Adhoc Operation">
                    <dx-select-box #selectBoxPOAdhoc [dataSource]="['Print Suggestion']" [value]=""></dx-select-box>
                  </dxi-item>
                  <dxi-item itemType="group" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    <dx-button icon="spinright" type="default" text="GO" (onClick)="PickOrderOperationsGo(selectBoxPOAdhoc.text)">
                    </dx-button>
                  </dxi-item>
                </dx-form>
                <br>
                <dx-data-grid #gridContainerPA id="gridContainerPA" [columnAutoWidth]="true" [dataSource]="dataSourcePICKADH"
                  [showBorders]="true" [allowColumnResizing]="true" [repaintChangesOnly]="false" (onCellPrepared)="onCellPrepared($event)">
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
                  <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                    <dxo-texts confirmDeleteMessage=""></dxo-texts>
                    <!--[texts]="{ deleteRow:'Move to Ship Zone' }"-->
                  </dxo-editing>
                  <dxi-column dataField="ItemCode" [allowSearch]="true" [allowEditing]="false"></dxi-column>
                  <dxi-column dataField="LotNumber" [allowSearch]="true" dataType="string" [allowEditing]="false">
                  </dxi-column>
                  <dxi-column dataField="SUCode" [allowSearch]="true" [allowEditing]="false"></dxi-column>
                  <dxi-column dataField="ExpiryDate" [allowSearch]="true" dataType="string" [allowEditing]="false">
                  </dxi-column>
                  <dxi-column dataField="reqQty" dataType="number" [allowSearch]="false" [allowEditing]="false"
                    [editorOptions]="{ mode:number }">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxi-column dataField="Available" dataType="number" [allowEditing]="false" [allowSearch]="false"
                    [editorOptions]="{ mode:number }">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxi-column dataField="QuantityToPick" dataType="number" [allowSearch]="false" [allowEditing]="true"
                    [editorOptions]="{ mode:number, min: 0, format: ' #,##0.##' }" [setCellValue]="setBaseUOMValueItemCode">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxi-column type="buttons">
                    <dxi-button name="delete" class="deletebuttonadhoc" hint="Move to Ship Zone" icon="fa fa-cubes">
                    </dxi-button>
                  </dxi-column>
                  <!-- <dxi-column dataField="Action" cellTemplate="cellTemplate" [allowEditing]="false" [allowSearch]="false">
                  </dxi-column> 
                  <div *dxTemplate="let data of 'cellTemplate'">
                    <dx-button type="default" class="button-small-for-DG" text="Bluetooth" (onClick)="onButtonClick(data)"></dx-button>
                  </div> -->
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showInfo]="true"></dxo-pager>
                </dx-data-grid>
              </div>
              <br>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="Auto Pick" title="Auto Pick">
            <ng-template ngbTabContent>
              <br>
              <div id="form-container">
                <dx-form id="PickAutoOperation" itemType="group" [colCount]="2" accept-charset="UTF-8">
                  <dxi-item itemType="group" dataField="AutoPick Operation">
                    <dx-select-box #selectBoxPA [dataSource]="autoPickLinesOperation" [value]=""></dx-select-box>
                  </dxi-item>
                  <dxi-item itemType="group" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                    <dx-button icon="spinright" type="default" text="GO" (onClick)="PickOrderOperationsGo(selectBoxPA.text)">
                    </dx-button>
                  </dxi-item>
                </dx-form>
                <br>
                <dx-data-grid #gridContainerAP id="gridContainerAP" [columnAutoWidth]="true" [dataSource]="dataSourcePICKAUTO"
                  [showBorders]="true" [allowColumnResizing]="true">
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
                  <dxi-column dataField="ItemCode" [allowSearch]="true"></dxi-column>
                  <dxi-column dataField="BaseUOM" [allowSearch]="true" dataType="string"></dxi-column>
                  <dxi-column dataField="QtyinBaseUOM" caption="Required Quantity(BaseUOM)" [allowSearch]="true"
                    dataType="number">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxi-column dataField="LotNumber" [allowSearch]="true" dataType="string"></dxi-column>
                  <dxi-column dataField="ExpiryDate" [allowSearch]="true" dataType="string"></dxi-column>
                  <dxi-column dataField="QtyApplied" dataType="number" [allowSearch]="false" [editorOptions]="{ mode:number, min: 1 }">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                  </dxi-column>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showInfo]="true"></dxo-pager>
                </dx-data-grid>
              </div>
              <br>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>