<a [routerLink]="[ '/finance/purchaseinvoicelist']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>
<a href="https://rhbussolutions.com/documentation/purchase-invoice/" target="_blank" class="float-help">
    <button type="button" class="btn btn-secondary float-right disabled">
        <i class="fa fa-info"></i>
        Help</button>
</a>

<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Vendor Selection"
    [closeOnOutsideClick]="true" [(visible)]="globalVendorLookupPopup">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div id="form-container">
                    <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="vendorSuggestions"
                        (onRowClick)="onVendorRowClicked($event)">
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column dataField="VendCode" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="VATID" [allowEditing]="false"> </dxi-column>
                        <dxi-column dataField="Address1" [allowEditing]="false"></dxi-column>
                        <dxo-paging [pageSize]="7"></dxo-paging>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Vendor Details"
    [closeOnOutsideClick]="true" [(visible)]="globalVendorDetailsPopup">
    <div id="form-container">
        <dx-form itemType="group" [formData]="PurchaseInvoiceDetails" accept-charset="UTF-8" [readOnly]="true">
            <dxi-item itemType="group">
                <dxi-item cssClass="font-for-formlable" dataField="PayToVendor" [label]="{text: 'Pay To'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="PayToName" [label]="{text: 'Name'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="PayToAddress" [label]="{text: 'Address'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="PayToAddress2" [label]="{text: 'Address 2'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="PayToCity" [label]="{text: 'City'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                </dxi-item>
                <dxi-item cssClass="font-for-formlable" dataField="PayToZip" [label]="{text: 'ZipCode'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                </dxi-item>
            </dxi-item>
        </dx-form>
    </div>
</dx-popup>

<div class="row">
    <div class="col-12">
        <div class="card bg-darkerbg">
            <div class="card-body">
                <dx-form id="SalesOrderOperation" itemType="group" [colCount]="4" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp4'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp3'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item [template]="'MainTemp2'">
                        </dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'MainTemp'">
                        <span *ngIf="PurchaseInvoiceDetails" style="color: #fff; font-size:22px;"><b>{{PurchaseInvoiceDetails.DocumentNo
                                }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp4'" style="color: #fff; font-size:22px;">Status:
                        <span #docStatus id="docStatus" class="label" *ngIf="PurchaseInvoiceDetails"><b>
                                {{PurchaseInvoiceDetails.FlowResult }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">{{PurchaseInvoiceDetails.CurrencyCode
                        }}
                        <span #docDate *ngIf="PurchaseInvoiceDetails"><b>
                                {{ PurchaseInvoiceDetails.Amount | number: '1.2-2'}}</b></span>
                    </div>
                    <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
                        <dx-select-box #selectBoxSO [dataSource]="POOperations" [value]=""></dx-select-box>
                        <dx-button type="default" text="GO" (onClick)="SalesInvoiceOperationsGo(selectBoxSO.text)">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [formData]="PurchaseInvoiceDetails"
                    accept-charset="UTF-8">
                    <dxi-item [template]="'nameTemplate3'" [label]="{text: 'Code'}">
                    </dxi-item>
                    <dxi-item [template]="'nameTemplate4'" [label]="{text: 'Name'}">
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.PayToVendor:''">
                        </dx-text-box>
                        <dx-button type="default" icon="find" (onClick)="onVendorSearchClicked()" [disabled]="isLinesExist">
                        </dx-button>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-text-box [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.PayToName:''">
                        </dx-text-box>
                        <dx-button type="default" icon="info" (onClick)="getBuyFromVendorDetail()">
                        </dx-button>
                    </div>
                    <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
                        [editorOptions]="{width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly : isLinesExist }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="DueDate" [label]="{text: 'Due Date'}" editorType="dxDateBox"
                        [editorOptions]="{width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="AmtIncvat" editorType="dxCheckBox" [disabled]="true"
                        [label]="{text: 'Price Inc TAX'}" [editorOptions]="{ readOnly:false}">
                        <dxo-label [visible]="false">
                        </dxo-label>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form itemType="group" (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [colCount]="1"
                    [formData]="PurchaseInvoiceDetails" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate2'" [label]="{text: 'Vendor Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'VAT Group'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'From Order'}"
                            [editorOptions]="{elementAttr:{'class': 'font-for-formlable'}}"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="InvoiceCompoundDiscount" [label]="{text: 'Discount'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VendorInvoiceNo" [label]="{text: 'Invoice Number'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }}"></dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'nameTemplate2'">
                        <dx-select-box #selectBox1 [dataSource]="vendorgrpSuggestions" [searchEnabled]="true"
                            [displayExpr]="suggestionFormateForVendorGrp" valueExpr="Code" [minSearchLength]="0"
                            fieldTemplate="field1" [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.VendorGroup:''"
                            (onValueChanged)="onSellToVendorGrpCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover2">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.Code:PurchaseInvoiceDetails ? PurchaseInvoiceDetails.VendorGroup:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                    <div *dxTemplate="let data of 'nameTemplate3'">
                        <dx-select-box #selectBox1 [dataSource]="vatGrpSuggestions" [searchEnabled]="true"
                            [displayExpr]="suggestionFormateForvatGrp" valueExpr="Code" [minSearchLength]="0"
                            fieldTemplate="field1" [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.VATGroup:''"
                            (onValueChanged)="onSellToVatGrpCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover3">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.Code:PurchaseInvoiceDetails ? PurchaseInvoiceDetails.VATGroup:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-select-box [dataSource]="PoListSuggestions" [searchEnabled]="true" [displayExpr]="suggestionFormateForPolist"
                            valueExpr="DocumentNo" [minSearchLength]="0" fieldTemplate="field1" [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.ConnectedOrder:''"
                            (onValueChanged)="onSellToPoListCodeChanged($event)" hoverStateEnabled="true"
                            [itemTemplate]="hover4">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.DocumentNo:PurchaseInvoiceDetails ? PurchaseInvoiceDetails.ConnectedOrder:'' "
                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                        <dx-button type="default" icon="clear" (onClick)="clearConnectedOrderfromPI()">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-data-grid #gridContainer [columnAutoWidth]="true" id="gridContainer" [dataSource]="dataSource"
                    [showBorders]="true" [allowColumnResizing]="true" (onInitNewRow)="getthelines()">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="isPayToVendorSelected"
                        [form]="{items: ['Description','ItemCode','UOM','UnitPrice','UnitPriceFCY','Quantity','LineDiscountAmount','AmountIncludingVAT'], colCount:4}">
                    </dxo-editing>
                    <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="GRDocumentNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="GRLineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                    <dxi-column dataField="LineCode" [allowSearch]="true" dataType="string" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="LineType" [allowSearch]="true" dataType="string" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="Description" [allowSearch]="true" dataType="string"></dxi-column>
                    <dxi-column dataField="QuantityToInvoice" [allowSearch]="false" dataType='number' [allowEditing]="true"
                        [editorOptions]="{ mode: 'number', min: 0, format: ' #,##0.##' }">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <!--[setCellValue]="setQuantityValue"-->
                    <dxi-column dataField="DirectUnitCost" [editorOptions]="{ mode:'number', min: 0, format: ' #,##0.##' }"
                        [allowSearch]="false" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="LineDiscountAmount" [allowSearch]="false" [visible]="true" dataType="string"
                        [allowEditing]="true">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="LineAmount" dataType="number" [allowSearch]="false" [allowEditing]="false">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Lookup" caption="" cellTemplate="cellTemplate" [allowEditing]="false"
                        [allowSearch]="false"></dxi-column>
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <div class="icon">
                            <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data)"></i></a>
                        </div>
                    </div>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
                    </dxo-pager>
                    <dxo-summary>

                        <dxi-total-item column="LineAmount" summaryType="sum" displayFormat="Total: {0}"
                            [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="DirectUnitCost" summaryType="sum" displayFormat="Total: {0}"
                            [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="LineDiscountAmount" summaryType="sum" displayFormat="Total: {0}"
                            [customizeText]="getFormatOfNumber">
                        </dxi-total-item>
                        <dxi-total-item column="QuantityToInvoice" displayFormat="Total: ">
                        </dxi-total-item>
                    </dxo-summary>
                </dx-data-grid>
                <div class="row" style="padding: 10px; float: right; color:#000;">
                    <div>
                        <p style="float: right; color:#000;"> Quantity :
                            {{ Quantity | number: '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Deposit Amount :
                            {{ PurchaseInvoiceDetails.DepositAmount | number: '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Discount : {{ totalInvoiceDisocunt}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Amount Ex Tax :
                            {{ PurchaseInvoiceDetails.Amount | number: '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Tax : {{ TAX | number: '1.2-2'}}</p>
                        <br>
                        <br>
                        <p style="float: right; color:#000;"> Amount Inc Tax :
                            {{ PurchaseInvoiceDetails.AmountIncludingVAT | number: '1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-popup class="popup" [width]="800" [height]="500" [showTitle]="true" title="Check and Confirm Posting" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p><b>Document Number</b>: {{ PurchaseInvoiceDetails["DocumentNo"]}}</p>
                </div>
                <div class="col-6">
                    <p><b>Customer Code</b>: {{ PurchaseInvoiceDetails["PayToVendor"]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p><b>Document Date</b>: {{ PurchaseInvoiceDetails["DocumentDate"]}}</p>
                </div>
            </div>
            <div class="">
                <dx-data-grid [showBorders]="true" [columnAutoWidth]="true" [dataSource]="onCreateGLBuffResultSet"
                    [repaintChangesOnly]="true" [allowColumnResizing]="true">

                    <dxi-column dataField="AccountCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="DebitAmount" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="CreditAmount" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>

                </dx-data-grid>
            </div>
            <br>
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <p><b>Balance</b>: {{ this.balanceforpost}}</p>
                </div>
            </div>
            <div class="row">
                <dx-button text="Post" type="default" (onClick)="PostBtn()">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="1000" [height]="600" [showTitle]="true" title="Create Lines" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupforlines" (onHidden)="onHiding($event)">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <ngb-tabset type="pills">
                    <ngb-tab title="Select by Service Item">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-4">
                                    <div class="dx-field">
                                        <br>
                                        <div class="dx-field-label">Cost Inc TAX</div>
                                        <div class="dx-field-value">
                                            <dx-select-box #costincVAT [items]="['Yes','No']" [value]="'Yes'">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <dx-data-grid #getlinesforgrid2 [columnAutoWidth]="true" [allowColumnResizing]="true"
                                [dataSource]="serviceitemArray" [showBorders]="true" (onRowClick)="onUserRowSelect($event,'SERVICEITEM',costincVAT.text)">
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="20"></dxo-paging>
                                <dxi-column dataField="Code"></dxi-column>
                                <dxi-column dataField="Description"></dxi-column>
                            </dx-data-grid>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Select by Deposit Item">
                        <ng-template ngbTabContent>
                            <dx-data-grid #getlinesforgrid2 [columnAutoWidth]="true" [allowColumnResizing]="true"
                                [dataSource]="deposititemArray" [showBorders]="true" (onRowClick)="onUserRowSelect($event,'DEPOSIT','event')">
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="20"></dxo-paging>
                                <dxi-column dataField="DocumentNo"></dxi-column>
                                <dxi-column dataField="DocumentDate"></dxi-column>
                                <dxi-column dataField="DocumentType"></dxi-column>
                                <dxi-column dataField="EntryNo"></dxi-column>
                            </dx-data-grid>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Select by PO">
                        <ng-template ngbTabContent>
                            <br>
                            <dx-form itemType="group" [colCount]="3" [formData]="PurchaseInvoiceDetails" accept-charset="UTF-8">
                                <dxi-item itemType="group">
                                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate2'" [label]="{text: 'Select PO'}"
                                        [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                                    <div *dxTemplate="let data of 'nameTemplate4'">
                                        <dx-select-box #selectBox1 [dataSource]="PoListSuggestions" [searchEnabled]="true"
                                            [displayExpr]="suggestionFormateForPolist" valueExpr="DocumentNo"
                                            [minSearchLength]="0" fieldTemplate="field1" [value]="PurchaseInvoiceDetails ? PurchaseInvoiceDetails.ConnectedOrder:''"
                                            (onValueChanged)="PoListforlines($event)" hoverStateEnabled="true"
                                            [itemTemplate]="hover4">
                                            <div *dxTemplate="let itemData1 of 'field1'">
                                                <dx-text-box [text]="itemData1 ? itemData1.DocumentNo:PurchaseInvoiceDetails ? PurchaseInvoiceDetails.ConnectedOrder:'' "
                                                    [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                                            </div>
                                        </dx-select-box>
                                    </div>
                                </dxi-item>
                            </dx-form>
                            <dx-data-grid #getlinesforgrid2 [columnAutoWidth]="true" [allowColumnResizing]="true"
                                [dataSource]="dataSource1" [showBorders]="true">
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="20"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                </dxo-pager>
                                <dxi-column dataField="DocumentNo"></dxi-column>
                                <dxi-column dataField="AmountIncludingVAT" dataType="number">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                            </dx-data-grid>
                            <br>
                            <div class="row">
                                <dx-button text="Add Lines" type="default" (onClick)="addLinesbyPoNumber()">
                                </dx-button>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- <ngb-tab title="Select by Lines">
                                <ng-template ngbTabContent>
                                    <br>
                                    <dx-data-grid #getlinesforgrid [columnAutoWidth]="true" [allowColumnResizing]="true"
                                        [dataSource]="dataSource2" [showBorders]="true">
                                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                                        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                        <dxo-paging [pageSize]="20"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"
                                            [showInfo]="true">
                                        </dxo-pager>
                                        <dxi-column dataField="DocumentNo"></dxi-column>
                                        <dxi-column dataField="GRNo"></dxi-column>
                                        <dxi-column dataField="ItemCode"></dxi-column>
                                        <dxi-column dataField="UOM"></dxi-column>
                                        <dxi-column dataField="Qty" dataType="number">
                                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                        </dxi-column>
                                        <dxi-column dataField="DirectUnitCost" dataType="number">
                                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                        </dxi-column>
                                        <dxi-column dataField="ReceiveToLocation"></dxi-column>
                                        <dxi-column dataField="Action" cellTemplate="cellTemplate" [allowEditing]="false"
                                            [allowSearch]="false"></dxi-column>
                                        <dxo-paging [pageSize]="12"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                                        <div *dxTemplate="let data of 'cellTemplate'">
                                            <dx-button type="default" text="ADD" (onClick)="PickAdHAction(data)"></dx-button>
                                        </div>
                                    </dx-data-grid>
                                </ng-template>
                            </ngb-tab> -->
                </ngb-tabset>
            </div>
            <br>
        </div>
    </div>
</dx-popup>
<dx-popup class="popup" width="600" [showTitle]="true" title="Line Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="itemDetailsPopup">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="LineCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="BaseQuantity" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="QuantityToInvoice" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="UOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="DirectUnitCost" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="AmountIncludingVAT" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LineDiscountAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VatAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="CostIncVAT" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="InvDiscountAmount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LineType" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</dx-popup>