<a [routerLink]="[ '/purchases/service-item-list']" class="float">
  <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <div class="col-12">
            <h3 *ngIf="serviceDetails!={}">{{ serviceDetails.Code }}</h3>
          </div>
          <hr>
          <div class="row">
            <div class="col-10">
              <img src="assets/images/big/img.png" class="img-circle" width="150" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-10">
              <label class="text-center" *ngIf="!NameEditMode&&serviceDetails!={}">{{serviceDetails.Description}}</label>
              <dx-text-box class="text-center" id="test" *ngIf="serviceDetails!={}&&NameEditMode==true" [(value)]="serviceDetails.Description"
                (onValueChanged)="onItemDescriptionChanged($event)" placeholder="Enter the Description"></dx-text-box>
            </div>
            <div class="col-2">
              <i class="fa fa-edit" (click)="NameEditMode=true"></i>
            </div>
          </div>
          <div class="col-10">
            <h3 *ngIf="serviceDetails!={}">{{serviceDetails.UnitPrice}}</h3>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <ngb-tabset type="pills">
          <ngb-tab id="ItemDetails" title="Details">
            <ng-template ngbTabContent>
              <div id="form-container">
                <dx-form [colCount]="2" [(formData)]="serviceDetails" accept-charset="UTF-8" itemType="group"
                  (onFieldDataChanged)="form_fieldDataChanged($event)">
                  <dxi-item dataField="Code" [label]="{text: 'Service Code'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                  <dxi-item class="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'OneSUperLocation'" [label]="{text: 'Status'}"></dxi-item>
                  <div *dxTemplate="let data of 'OneSUperLocation'">
                    <dx-select-box #selectBox2 [dataSource]="OneSUperLocationSuggestions" [searchEnabled]="true"
                      [displayExpr]="suggestionFormatForCode" valueExpr="Code" [minSearchLength]="0" fieldTemplate="field1"
                      [value]="OneSUperLocationSuggestions ? serviceDetails.ItemStatus:''" (onValueChanged)="onDefaultCodevalueChanged($event,'ItemStatus')"
                      hoverStateEnabled="true" [itemTemplate]="hoverFormatForCode">
                      <div *dxTemplate="let itemData1 of 'field1'">
                        <dx-text-box [text]="itemData1 ? itemData1.Code:serviceDetails ? serviceDetails.ItemStatus:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                  <dxi-item cssClass="font-for-formlable" [template]="'VatProdGroup'" [label]="{text: 'VAT GROUP'}"></dxi-item>
                  <div *dxTemplate="let data of 'VatProdGroup'">
                    <dx-select-box [dataSource]="VatProdGroupSuggestion" [searchEnabled]="true" [displayExpr]="suggestionFormatForCodeAndDesc"
                      valueExpr="Code" [minSearchLength]="0" fieldTemplate="field6" [value]="VatProdGroupSuggestion ? serviceDetails.VatProdGroup:''"
                      (onValueChanged)="onDefaultCodevalueChanged($event,'VatProdGroup')" hoverStateEnabled="true"
                      [itemTemplate]="hoverFormatForCodeAndDesc">
                      <div *dxTemplate="let itemData1 of 'field6'">
                        <dx-text-box [text]="itemData1 ? itemData1.Code:serviceDetails ? serviceDetails.VatProdGroup:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                  <dxi-item cssClass="font-for-formlable" [template]="'WHTProdGroup'" [label]="{text: 'WHT GROUP'}"></dxi-item>
                  <div *dxTemplate="let data of 'WHTProdGroup'">
                    <dx-select-box [dataSource]="WHTProdGroupSuggestion" [searchEnabled]="true" [displayExpr]="suggestionFormatForCodeAndDesc"
                      valueExpr="Code" [minSearchLength]="0" fieldTemplate="field6" [value]="WHTProdGroupSuggestion ? serviceDetails.WHTProdGroup:''"
                      (onValueChanged)="onDefaultCodevalueChanged($event,'WHTProdGroup')" hoverStateEnabled="true"
                      [itemTemplate]="hoverFormatForCodeAndDesc">
                      <div *dxTemplate="let itemData1 of 'field6'">
                        <dx-text-box [text]="itemData1 ? itemData1.Code:serviceDetails ? serviceDetails.WHTProdGroup:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                  <dxi-item cssClass="font-for-formlable" [template]="'ProdPostingGroup'" [label]="{text: 'POLICY GROUP'}"></dxi-item>
                  <div *dxTemplate="let data of 'ProdPostingGroup'">
                    <dx-select-box [dataSource]="ProdPostingGroupSuggestion" [searchEnabled]="true" [displayExpr]="suggestionFormatForCodeAndDesc"
                      valueExpr="Code" [minSearchLength]="0" fieldTemplate="field6" [value]="ProdPostingGroupSuggestion ? serviceDetails.ProdPostingGroup:''"
                      (onValueChanged)="onDefaultCodevalueChanged($event,'ProdPostingGroup')" hoverStateEnabled="true"
                      [itemTemplate]="hoverFormatForCodeAndDesc">
                      <div *dxTemplate="let itemData1 of 'field6'">
                        <dx-text-box [text]="itemData1 ? itemData1.Code:serviceDetails ? serviceDetails.ProdPostingGroup:'' "
                          [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                      </div>
                    </dx-select-box>
                  </div>
                  <dxi-item class="font-for-formlable" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, mode: 'number'}"
                    dataField="UnitPrice">
                  </dxi-item>
                  <dxi-item class="font-for-formlable" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, mode: 'number'}"
                    dataField="UnitCost">
                  </dxi-item>
                  <dxi-item class="font-for-formlable" dataField="HSNCode" [label]="{text: 'HSN Code'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                </dx-form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <div class="row">
          <div class="col-6">
            <dx-button text="Save" type="default" (onClick)="update()">
            </dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>