<a [routerLink]="" class="float" (click)="onCreateNewPI()">
  <i class="fa fa-plus my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<a href="https://rhbussolutions.com/documentation/purchase-invoice/" target="_blank" class="float-help">
  <button type="button" class="btn btn-secondary float-right disabled">
      <i class="fa fa-info"></i>
      Help</button>
</a>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
          [showBorders]="true" [hoverStateEnabled]="true" (onRowClick)="onUserRowSelect($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
          </dxo-pager>
          <dxi-column dataField="DocumentNo"></dxi-column>
          <dxi-column dataField="PayToVendor"></dxi-column>
          <dxi-column dataField="PayToName"></dxi-column>
          <dxi-column dataField="DocumentDate"></dxi-column>
          <dxi-column dataField="Amount" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="VendorInvoiceNo"></dxi-column>
          <dxi-column dataField="ConnectedOrder"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [width]="500" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Choose Attribute"
  [closeOnOutsideClick]="true" [(visible)]="attributesPopup">
  <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="dataAttributes"
    (onRowClick)="onAttributesSelected($event)" [hoverStateEnabled]="true">
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="ID" [allowEditing]="false"></dxi-column>
    <dxo-paging [pageSize]="7"></dxo-paging>
  </dx-data-grid>
</dx-popup>