<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body font-for-formlable">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="continents"
          [showBorders]="true" [hoverStateEnabled]="true" (onRowClick)="onUserRowSelect($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-editing mode="cell" [allowAdding]="true"></dxo-editing>
          <dxi-column dataField="Code"></dxi-column>
          <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body font-for-formlable">
        <h3 style="color:#20aee3;">Details</h3>
        <div id="form-container">
          <dx-form [(formData)]="PurchaserDetails" (onFieldDataChanged)="purchaser_fieldData($event)" accept-charset="UTF-8">
            <dxi-item class="font-for-formlable" dataField="Code" [editorOptions]="{ readOnly: true }"></dxi-item>
            <dxi-item class="font-for-formlable" dataField="Name"></dxi-item>
            <dxi-item class="font-for-formlable" dataField="Commision" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, mode: 'number'}"></dxi-item>
          </dx-form>
        </div>
      </div>
    </div>
  </div>
</div>