<a [routerLink]="[ '/sales/customer-list']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" [width]="500" [height]="300" [showTitle]="true" title="Upload/Change Image" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <div id="form-container">
                    <label class="image-upload-container">
                        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" id="filePicker">
                        <br>
                        <span class="note">Allowed file extensions: <span>.jpg, .jpeg, .gif, .png</span>.</span>
                        <br>
                        <span class="note">Maximum file size: <span>1 MB</span>.</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</dx-popup>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="col-10">
                    <h4 class="card-title m-t-10 text-center  font-weight-bold mb-0 " *ngIf="custDetail!={}">
                        {{custDetail.CustCode}}</h4>
                </div>
                <div class="m-t-30 text-center">
                    <hr>
                    <div class="row">
                        <div class="col-10">
                            <div *ngIf="CustImageData;else ALTERNATE_IMAGE">
                                <img [src]="CustimagePath" class="img-circle" width="150" />
                            </div>
                            <ng-template #ALTERNATE_IMAGE>
                                <img src="assets/images/big/img.png" class="img-circle" width="150" />
                            </ng-template>
                        </div>
                        <div class="col-2">
                            <a (click)="showInfo()">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-10">
                            <label class="font-for-formlable" style="text-align:center" *ngIf="!NameEditMode&&custDetail!={}">{{custDetail.Name}}</label>
                            <dx-text-box class="font-for-formlable " id="test" style="text-align:center" *ngIf="custDetail!={}&&NameEditMode==true"
                                [(value)]="custDetail.Name" (onValueChanged)="onCustNameChanged($event)" placeholder="Enter the Customer Name">
                            </dx-text-box>
                        </div>
                        <div class="col-2">
                            <i class="fa fa-edit" (click)="NameEditMode=true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <ngb-rating [(rate)]="currentRate" max="5">
                                <ng-template let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body" *ngIf="custDetail!={}"> <small class="text-muted">Email address </small>
                <h6>{{ custDetail.Email }}</h6> <small class="text-muted p-t-30 db">Phone</small>
                <h6>{{ custDetail.Phone }}</h6> <small class="text-muted p-t-30 db">Address</small>
                <h6>{{ custDetail.Address1 }}, {{ custDetail.Address2 }}, {{ custDetail.Address3 }}</h6>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="font-for-formlable">
            <div class="card">
                <div class="card-body">
                    <ngb-tabset type="pills" (tabChange)="onTabChange($event)">
                        <ngb-tab id="CustomerDetails" title="Details">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="form-container">
                                                    <dx-form id="CustomerDetails" [colCount]="2" [(formData)]="custDetail"
                                                        accept-charset="UTF-8">

                                                        <dxi-item class="font-for-formlable" dataField="Address1"
                                                            [colSpan]="2" [label]="{text: 'Address Line 1'}"></dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Address2"
                                                            [colSpan]="2" [label]="{text: 'Address Line 2'}"></dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Address3"
                                                            [colSpan]="2" [label]="{text: 'Address Line 3'}"></dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="City" [label]="{text: 'City'}"></dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="ZipCode"
                                                            editorType="dxNumberBox" [label]="{text: 'Zip'}">
                                                        </dxi-item>
                                                        <dxi-item cssClass="font-for-formlable" [template]="'CountryCode'"
                                                            [label]="{text: 'Country'}">
                                                        </dxi-item>
                                                        <dxi-item cssClass="font-for-formlable" [template]="'StateCode'"
                                                            [label]="{text: 'State'}">
                                                        </dxi-item>
                                                        <div *dxTemplate="let data of 'CountryCode'">
                                                            <dx-select-box [dataSource]="getCountryCodeListAll"
                                                                [searchEnabled]="true" [displayExpr]="suggestionFormatForCountryCode"
                                                                valueExpr="countrycode" [minSearchLength]="0" [value]="getCountryCodeListAll ? custDetail.Country:''"
                                                                (onValueChanged)="onDefaultDropDownvalueChanged($event,'Country')"
                                                                hoverStateEnabled="true" [itemTemplate]="hover7">
                                                            </dx-select-box>
                                                        </div>
                                                        <div *dxTemplate="let data of 'StateCode'">
                                                            <dx-select-box [dataSource]="getStateCodeListAll"
                                                                [searchEnabled]="true" [displayExpr]="suggestionFormatForStateCode"
                                                                valueExpr="Code" [minSearchLength]="0" [value]="getStateCodeListAll ? custDetail.State:''"
                                                                (onValueChanged)="onDefaultDropDownvalueChanged($event,'State')"
                                                                hoverStateEnabled="true" [itemTemplate]="hover8">
                                                            </dx-select-box>
                                                        </div>
                                                        <dxi-item class="font-for-formlable" dataField="Phone" [label]="{text: 'Phone'}"
                                                            [editorOptions]="{ 
                                                          mask: '',
                                                          maskRules: phoneRules,
                                                          useMaskedValue: true,
                                                          maskInvalidMessage: 'The phone must have a correct phone format eg: +66 000000000'
                                                      }">
                                                            <!--  <dxi-validation-rule type="pattern" [pattern]="phonePattern"
                                                                message="The phone number must be numeric">
                                                            </dxi-validation-rule>-->
                                                        </dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Website"
                                                            [label]="{text: 'Website'}"></dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Fax" [label]="{text: 'Fax' }"
                                                            [editorOptions]="{ 
                                                            mask: '',
                                                            maskRules: phoneRules,
                                                            useMaskedValue: true
                                                        }">
                                                            <dxi-validation-rule type="pattern" [pattern]="phonePattern"
                                                                message="The fax must be numeric">
                                                            </dxi-validation-rule>
                                                        </dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Contact"
                                                            [label]="{text: 'Contact'}"></dxi-item>
                                                        <dxi-item cssClass="font-for-formlable" [template]="'salespersonTemplate'"
                                                            [label]="{text: 'Sales Person'}"></dxi-item>
                                                        <div *dxTemplate="let data of 'salespersonTemplate'">
                                                            <dx-select-box #selectBox2 [dataSource]="salesPersonSuggestions"
                                                                [searchEnabled]="true" [showClearButton]="true"
                                                                [displayExpr]="suggestionFormatForSalesPerson"
                                                                valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                                [value]="salesPersonSuggestions ? custDetail.Salesperson:''"
                                                                [disabled]="salesPersonSuggestions!=null ? false:true"
                                                                (onValueChanged)="onCustSAlesPersonChanged($event)">
                                                                <div *dxTemplate="let itemData2 of 'field2'">
                                                                    <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                        [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                                    </dx-text-box>
                                                                </div>
                                                            </dx-select-box>
                                                        </div>
                                                        <dxi-item class="font-for-formlable" dataField="Email" [label]="{text: 'Email'}">
                                                            <dxi-validation-rule type="email" message="Email is invalid">
                                                            </dxi-validation-rule>
                                                        </dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="CustBlocked"
                                                            [colSpan]="2" editorType="dxCheckBox" [label]="{text: 'Block'}">
                                                        </dxi-item>
                                                        <dxi-item class="font-for-formlable" dataField="Name2" [label]="{text: 'Local Name'}"></dxi-item>
                                                    </dx-form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="CustomerOperations" title="Operations">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-12">
                                        <p><i class="fa fa-info-circle"></i> CUSTOMER GROUP links Customer to
                                            Account Receivables. VAT GROUP links customer to required VAT or GST
                                            type</p>
                                        <div id="form-container">
                                            <dx-form id="CustomerOperations" [colCount]="2" [(formData)]="custDetail"
                                                (onFieldDataChanged)="form_fieldDataChanged($event)" accept-charset="UTF-8">

                                                <dxi-item cssClass="font-for-formlable" [template]="'CustGroupTemplate'"
                                                    [label]="{text: 'Customer Group'}"></dxi-item>
                                                <div *dxTemplate="let data of 'CustGroupTemplate'">
                                                    <dx-select-box #selectBox2 [dataSource]="custGroupSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForCustGroup"
                                                        valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="custGroupSuggestions ? custDetail.CustomerGroup:''"
                                                        [disabled]="custGroupSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustGroupChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item cssClass="font-for-formlable" [template]="'VatGroupTemplate'"
                                                    [label]="{text: 'VAT/GST Group'}"></dxi-item>
                                                <div *dxTemplate="let data of 'VatGroupTemplate'">
                                                    <dx-select-box #selectBox2 [dataSource]="vatGroupSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForVatGroup"
                                                        valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="vatGroupSuggestions ? custDetail.VATGroup:''"
                                                        [disabled]="vatGroupSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustVatGroupChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item>
                                                    <br>
                                                </dxi-item>
                                                <dxi-item>
                                                    <br>
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="BranchID">
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="BranchName">
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="PaymentTerm" dataType="number"
                                                    [editorOptions]="{ showSpinButtons: true, mode: 'number', min: formData.min, max: formData.max }">
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="HO" editorType="dxCheckBox"
                                                    [label]="{text: 'H.O'}">
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="CreditLimit" editorType="dxNumberBox"
                                                    [editorOptions]="{ showSpinButtons: true, mode: 'number'}" [label]="{text: 'Credit Available'}"></dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="VATID" [label]="{text: 'TAX ID'}"></dxi-item>
                                            </dx-form>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="CustomerSales" title="Sales">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-12">
                                        <div id="form-container">
                                            <dx-form id="CustomerSales" [colCount]="2" [(formData)]="custDetail"
                                                accept-charset="UTF-8">
                                                <dxi-item cssClass="font-for-formlable" [template]="'CustPriceGroupTemplate'"
                                                    [label]="{text: 'Price Group'}"></dxi-item>
                                                <div *dxTemplate="let data of 'CustPriceGroupTemplate'">
                                                    <dx-select-box #selectBox2 [dataSource]="custPriceGroupSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForCustPriceGroup"
                                                        valueExpr="SalesCode" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="custPriceGroupSuggestions ? custDetail.PriceGroup:''"
                                                        [disabled]="custPriceGroupSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustPriceGroupChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.SalesCode:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item cssClass="font-for-formlable" [template]="'CustAreaTemplate'"
                                                    [label]="{text: 'Area Code'}"></dxi-item>
                                                <div *dxTemplate="let data of 'CustAreaTemplate'">
                                                    <dx-select-box #selectBox2 [dataSource]="custAreaSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForAreaCode"
                                                        valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="custDetail ? custDetail.AreaCode:''"
                                                        [disabled]="custAreaSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustAreaChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item class="font-for-formlable" dataField="LegacyCode">
                                                </dxi-item>
                                                <dxi-item cssClass="font-for-formlable" [template]="'CustSubAreaTemplate'"
                                                    [label]="{text: 'Sub Area Code'}"></dxi-item>
                                                <div *dxTemplate="let data of 'CustSubAreaTemplate'">
                                                    <dx-select-box #selectBox2 [dataSource]="custSubAreaSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForSubAreaCode"
                                                        valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="custSubAreaSuggestions ? custDetail.SubAreaCode:''"
                                                        [disabled]="custSubAreaSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustSubAreaChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item cssClass="font-for-formlable" [template]="'CustTypeTemplate'"
                                                    [label]="{text: 'Customer Type'}"></dxi-item>
                                                <div *dxTemplate="let data of 'CustTypeTemplate'">
                                                    <!---->
                                                    <dx-select-box #selectBox2 [dataSource]="custTypeSuggestions"
                                                        [searchEnabled]="true" [showClearButton]="true" [displayExpr]="suggestionFormatForCustType"
                                                        valueExpr="Code" [minSearchLength]="0" fieldTemplate="field2"
                                                        noDataText="Want to Add New ?" [value]="custTypeSuggestions ? custDetail.custType:''"
                                                        [disabled]="custTypeSuggestions!=null ? false:true"
                                                        (onValueChanged)="onCustTypeChanged($event)">
                                                        <div *dxTemplate="let itemData2 of 'field2'">
                                                            <dx-text-box [text]="itemData2 ? itemData2.Code:''"
                                                                [elementAttr]="{ 'class': 'font-for-formlable' }">
                                                            </dx-text-box>
                                                            <dx-button *ngIf="selectBox2.text!=''" [visible]="!selectBox2.text.includes('|')"
                                                                icon="plus" (onClick)="allowNewclick($event)"
                                                                [elementAttr]="{ 'class': 'cls' }"></dx-button>
                                                        </div>
                                                    </dx-select-box>
                                                </div>
                                                <dxi-item class="font-for-formlable" dataField="Longitude"></dxi-item>
                                                <dxi-item>
                                                    <br>
                                                </dxi-item>
                                                <dxi-item class="font-for-formlable" dataField="Latitude"></dxi-item>
                                            </dx-form>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="CustomerAREntries" title="AR Entries">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-12">
                                        <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true"
                                            [dataSource]="dataSource" [showBorders]="true">
                                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                            <dxo-export [enabled]="true" fileName="AR-Entries"></dxo-export>
                                            <dxi-column dataField="DocumentNo"></dxi-column>
                                            <dxi-column dataField="Description"></dxi-column>
                                            <dxi-column dataField="DocumentDate"></dxi-column>
                                            <dxi-column dataField="PostingDate"></dxi-column>
                                            <dxi-column dataField="DueDate"></dxi-column>
                                            <dxi-column dataField="DocumentType"></dxi-column>
                                            <dxi-column dataField="TotalVATAmount" dataType="number">
                                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                            </dxi-column>
                                            <dxi-column dataField="RemainingAmount" dataType="number">
                                                <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                            </dxi-column>
                                            <dxi-column dataField="UserID"></dxi-column>
                                            <dxo-paging [pageSize]="10"></dxo-paging>
                                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"
                                                [showInfo]="true">
                                            </dxo-pager>
                                        </dx-data-grid>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <h4 class="font-weight-bold">Total Outstanding Balance {{data}}</h4>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="CustomerStats" title="Stats">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div *ngIf="!showDatagridNew" class="piechart">
                                                            <canvas baseChart height="300px" [data]="pieChartData"
                                                                [labels]="pieChartLabels" [chartType]="pieChartType">
                                                            </canvas>
                                                        </div>
                                                        <div *ngIf="showDatagridNew">
                                                            <dx-data-grid [columnAutoWidth]="true" [dataSource]="dataforNewGrid"
                                                                [showBorders]="true" [allowColumnReordering]="true"
                                                                [hoverStateEnabled]="true">
                                                                <dxo-search-panel [visible]="true"></dxo-search-panel>

                                                                <dxi-column dataField="LineCode" caption="Code">
                                                                </dxi-column>

                                                                <dxi-column dataField="Qty" caption="Amount" dataType="number">
                                                                    <dxo-format type="fixedPoint" [precision]="2">
                                                                    </dxo-format>
                                                                </dxi-column>
                                                                <dxi-column dataField="Amt" caption="Amount" dataType="number">
                                                                    <dxo-format type="fixedPoint" [precision]="2">
                                                                    </dxo-format>
                                                                </dxi-column>

                                                                <dxo-paging [pageSize]="12"></dxo-paging>
                                                                <dxo-pager [showPageSizeSelector]="true"
                                                                    [allowedPageSizes]="[8, 12, 20]"></dxo-pager>

                                                            </dx-data-grid>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <dx-button icon="menu" type="default" (onClick)="showGridNew()">
                                                        </dx-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="contact" title="Contact">
                            <ng-template ngbTabContent>
                              <div class="row p-t-20">
                                <div class="col-12">
                                  <div class="card">
                                    <div class="card-body">
                                      <dx-data-grid [columnAutoWidth]="true" [dataSource]="getCustomerContactdata" [showBorders]="true"
                                        [allowColumnReordering]="true" [hoverStateEnabled]="true">
                                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                                        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                                        </dxo-editing>
                                        <dxi-column dataField="FirstName"></dxi-column>
                                        <dxi-column dataField="LastName"></dxi-column>
                                        <dxi-column dataField="MobilePhone"></dxi-column>
                                        <dxi-column dataField="Email"></dxi-column>
                                        <dxo-paging [pageSize]="12"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                                      </dx-data-grid>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                          </ngb-tab>
                

                        <!-- <ngb-tab id="userDefined" title="User Defined">
                            <ng-template ngbTabContent>
                                <div class="row p-t-20">
                                    <div class="col-6">
                                        <formio (change)="onChange1($event)" [(form)]=jsonSchema></formio>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab> -->
                    </ngb-tabset>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <dx-button text="Save" type="default" [visible]="visiblity" (onClick)="update()">
                    </dx-button>
                </div>
            </div>
        </div>
    </div>

</div>