.cls {
    position: absolute;
    right: 34px;
    top: 0;
  }

  .cls1 {
    right: 34px;
  }

.dx-form .dx-texteditor-input {
    font-weight: bold;
    font-size: 12px;
    color: darkslateblue;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.heart {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}