<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
    <div class="col-12">
      <div class="card-body font-for-formlable">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div id="form-container">
                  <dx-form id="SalesOrderOperation" itemType="group" [(formData)]="dates"
                    (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [colCount]="4" accept-charset="UTF-8">
                    <dxi-item cssClass="font-for-formlable" dataField="fromDate" editorType="dxDateBox"
                      [editorOptions]="{displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" dataField="toDate" editorType="dxDateBox"
                      [editorOptions]="{displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                  </dx-form>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                <dx-data-grid #mainDatagrid id="gridContainer" [columnAutoWidth]="true" [allowColumnResizing]="true"
                  [dataSource]="datasource" (onRowClick)="onUserRowSelect($event)" [showBorders]="true"
                  [hoverStateEnabled]="true">
                  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                  <dxi-column dataField="StoreID"></dxi-column>
                  <dxi-column dataField="POSID"></dxi-column>
                  <dxi-column dataField="StoreName"></dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-body font-for-formlable">
        <div class="card">
          <div class="card-body">
            <ngb-tabset type="pills" (tabChange)="onTabChange($event)">
              <ngb-tab id="transaction" title="Transaction Register">
                <ng-template ngbTabContent>
                  <br>
                  <dx-data-grid #transactionGrid id="transactionGrid" [columnAutoWidth]="true"
                    [allowColumnResizing]="true" [dataSource]="transactionDataGrid" [showBorders]="true"
                    [hoverStateEnabled]="true">
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <dxi-column dataField="EntryType"></dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="VariantCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="Quantity" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="UnitofMeasure"></dxi-column>
                    <dxi-column dataField="LineCompoundDiscount"></dxi-column>
                    <dxi-column dataField="Price" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="DiscountAmount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Amount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                  </dx-data-grid>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="return" title="Return Register">
                <ng-template ngbTabContent>
                  <br>
                  <dx-data-grid #returnGrid id="returnGrid" [columnAutoWidth]="true" [allowColumnResizing]="true"
                    [dataSource]="returnDataGrid" [showBorders]="true" [hoverStateEnabled]="true">
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <dxi-column dataField="EntryType"></dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="VariantCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="Quantity" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="UnitofMeasure"></dxi-column>
                    <dxi-column dataField="LineCompoundDiscount"></dxi-column>
                    <dxi-column dataField="Price" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="DiscountAmount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Amount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                  </dx-data-grid>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="cancel" title="Cancel Register">
                <ng-template ngbTabContent>
                  <br>
                  <dx-data-grid #cancelGrid id="cancelGrid" [columnAutoWidth]="true" [allowColumnResizing]="true"
                    [dataSource]="cancelDataGrid" [showBorders]="true" [hoverStateEnabled]="true">
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <dxi-column dataField="EntryType"></dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="VariantCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="Quantity" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="UnitofMeasure"></dxi-column>
                    <dxi-column dataField="LineCompoundDiscount"></dxi-column>
                    <dxi-column dataField="Price" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="DiscountAmount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Amount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                  </dx-data-grid>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="vat" title="VAT Register">
                <ng-template ngbTabContent>
                  <br>
                  <dx-data-grid #vatGrid id="vatGrid" [columnAutoWidth]="true" [allowColumnResizing]="true"
                    [dataSource]="vatDataGrid" [showBorders]="true" [hoverStateEnabled]="true">
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <dxi-column dataField="tType"></dxi-column>
                    <dxi-column dataField="recp"></dxi-column>
                    <dxi-column dataField="TransTime"></dxi-column>
                    <dxi-column dataField="StoreNo"></dxi-column>
                    <dxi-column dataField="POSTerminalNo" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="Qty" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Price" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="NetAmount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="VATAmount"></dxi-column>
                    <dxi-column dataField="VATPerct"></dxi-column>
                    <dxi-column dataField="Amount"></dxi-column>
                    <dxi-column dataField="TotalDiscAmount"></dxi-column>
                    <dxi-column dataField="LineDiscountAmout"></dxi-column>
                    <dxi-column dataField="VatBusPostingGroup"></dxi-column>
                    <dxi-column dataField="VatProdPostingGroup"></dxi-column>
                  </dx-data-grid>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="sale" title="Sale Register">
                <ng-template ngbTabContent>
                  <br>
                  <dx-data-grid #saleGrid id="saleGrid" [columnAutoWidth]="true" [allowColumnResizing]="true"
                    [dataSource]="saleDataGrid" [showBorders]="true" [hoverStateEnabled]="true">
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                    <dxi-column dataField="tType"></dxi-column>
                    <dxi-column dataField="recp"></dxi-column>
                    <dxi-column dataField="TransTime"></dxi-column>
                    <dxi-column dataField="StoreNo"></dxi-column>
                    <dxi-column dataField="POSTerminalNo" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="Qty" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="Price" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="NetAmount" dataType="number">
                      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxi-column dataField="VATAmount"></dxi-column>
                    <dxi-column dataField="VATPerct"></dxi-column>
                    <dxi-column dataField="Amount"></dxi-column>
                    <dxi-column dataField="TotalDiscAmount"></dxi-column>
                    <dxi-column dataField="LineDiscountAmout"></dxi-column>
                    <dxi-column dataField="VatBusPostingGroup"></dxi-column>
                    <dxi-column dataField="VatProdPostingGroup"></dxi-column>
                  </dx-data-grid>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>