::ng-deep .color-for-column-Approved{
    background-color :#157FFB;
    color: #fff;
    text-align: center !important;
    }
    ::ng-deep .color-for-column-OPEN{
        background-color : #6e859e;
        color: #fff;
        text-align: center !important;
    }
    ::ng-deep .color-for-column-SFApproval{
        background-color : #67CB64;
        color: #fff;
            text-align: center !important;
    }
    ::ng-deep .color-for-column-Rejected{
        background-color :#FF0000;
        color: #fff;
                text-align: center !important;
    }
  
  .dx-data-row td {
          text-align: left!important;
      }
  
      
  .dx-button-default{
      background-color: #0c9 !important;
    }