<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="pickListSource" [showBorders]="true"
                [allowColumnReordering]="true" [hoverStateEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
                 [allowColumnResizing]="true" (onRowClick)="onUserRowSelect($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="DocumentNo" caption="Pick No"></dxi-column>
                <dxi-column dataField="DocumentDate" caption="Date"> </dxi-column>
                <dxi-column dataField="SourceType" caption="SourceType"></dxi-column>
                <dxi-column dataField="SourceNo" caption="SourceNo"></dxi-column>
                <dxi-column dataField="LocationCode" caption="Location"> </dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <div *dxTemplate="let data of 'cellTemplate'">
                  <div title="MovementStatus"></div>
              </div>
            </dx-data-grid>
        </div>
    </div>
</div>
</div>
