<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
          [showBorders]="true" [allowColumnReordering]="true" [hoverStateEnabled]="true" (onInitNewRow)="onInitNewRow($event)"
          (onEditingStart)="onEditingStart($event)">
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-editing mode="row" [allowDeleting]="true" [allowUpdating]="true" [allowAdding]="true">
          </dxo-editing>
          <dxi-column dataField="Code" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="Name"></dxi-column>
          <dxi-column dataField="Commision" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
          </dxi-column>
          <dxi-column dataField="Active" [allowSearch]="true" [editorOptions]="{showClearButton: true, itemTemplate: hover2, searchExpr: ['Code'] }"
            dataType="string">
            <dxo-lookup [dataSource]="Active" [valueExpr]="suggestionFormateForDropDown2" [displayExpr]="suggestionFormateForDropDown2"
              hoverStateEnabled="true">
            </dxo-lookup>
          </dxi-column>
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>