<a [routerLink]="[ '/purchases/purchasereturn-list']" class="float">
    <i class="fa fa-arrow-left my-float"></i>
</a>
<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
    <i class="fa fa-home my-float-home"></i>
</a>

<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Customer Lookup"
    [closeOnOutsideClick]="true" [(visible)]="globalCustomerLookupPopup">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="custListSuggestions"
                    (onRowClick)="onConnectedCustCodeChanged($event)">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="CustCode" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="Address1" [allowEditing]="false"> </dxi-column>
                    <dxi-column dataField="City" [allowEditing]="false"></dxi-column>
                    <dxo-paging [pageSize]="7"></dxo-paging>
                </dx-data-grid>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="'auto'" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Vendor Lookup"
    [closeOnOutsideClick]="true" [(visible)]="globalVendorLookupPopup">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [showBorders]="true" [dataSource]="vendorSuggestions"
                    (onRowClick)="onVendorRowClicked($event)">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="VendCode" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="Address1" [allowEditing]="false"> </dxi-column>
                    <dxi-column dataField="City" [allowEditing]="false"></dxi-column>
                    <dxo-paging [pageSize]="7"></dxo-paging>
                </dx-data-grid>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Buy to Vendor Details"
    [closeOnOutsideClick]="true" [(visible)]="popupBuyVendorDetails">
    <dx-form itemType="group" [formData]="PRHeader" accept-charset="UTF-8" (onFieldDataChanged)="onVendorDetailsFieldsChanges($event)">
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromVendor" [label]="{text: 'Code'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromName" [label]="{text: 'Name'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromAddress" [label]="{text: 'Address'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromAddress2" [label]="{text: 'Address2'}"
            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromCity" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="BuyFromZip" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
    </dx-form>
</dx-popup>

<dx-popup class="popup" [width]="800" [height]="'auto'" [dragEnabled]="true" [showTitle]="true" title="Pay to Vendor Details"
    [closeOnOutsideClick]="true" [(visible)]="popupPayVendorDetails">
    <dx-form itemType="group" [formData]="PRHeader" accept-charset="UTF-8" (onFieldDataChanged)="onVendorDetailsFieldsChanges($event)">
        <dxi-item cssClass="font-for-formlable" dataField="PayToVendor" [label]="{text: 'Code'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly: true  }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="PayToName" [label]="{text: 'Name'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="PayToAddress" [label]="{text: 'Address'}" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="PayToAddress2" [label]="{text: 'Address2'}" [editorOptions]="{  elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="PayToCity" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
        <dxi-item cssClass="font-for-formlable" dataField="PayToZip" [editorOptions]="{elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
    </dx-form>
</dx-popup>

<dx-popup class="popup" [showTitle]="true" title="Item LookUp" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="globalItemLookupPopup">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <dx-data-grid [columnAutoWidth]="true" [showBorders]="true" [dataSource]="itemArray"
                    [hoverStateEnabled]="true" [allowColumnResizing]="true" (onRowClick)="onUserRowSelect($event,'ITEM')">
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="ItemCode"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="SalesUOM"></dxi-column>
                    <dxi-column dataField="UnitPrice" dataType="number">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-column>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                </dx-data-grid>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup class="popup" width="600" [showTitle]="true" title="Item Details" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="itemDetailsPopup">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <dx-form itemType="group" [colCount]="2" [formData]="itemDetails" accept-charset="UTF-8" [readOnly]="true">
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="ItemCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Description" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="UOM" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="DirectUnitCost" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATBusPostingGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="VariantCode" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="LineType" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="Amount" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="VATProdPostingGroup" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                        <dxi-item cssClass="font-for-formlable" dataField="AmountIncludingVAT" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
    </div>
</dx-popup>

<div class="row">
    <div class="col-12">
        <div class="card bg-darkerbg">
            <div class="card-body">
                <dx-form id="SalesOrderOperation" itemType="group" [colCount]="4" accept-charset="UTF-8">
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp4'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item [template]="'MainTemp3'"></dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2">
                        <dxi-item [template]="'MainTemp2'">
                        </dxi-item>
                    </dxi-item>
                    <div *dxTemplate="let data of 'MainTemp'">
                        <span *ngIf="PRHeader" style="color: #fff; font-size:22px;"><b>{{PRHeader.DocumentNo }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp4'" style="color: #fff; font-size:22px;">Status:
                        <span #docStatus id="docStatus" class="label" *ngIf="PRHeader"><b>
                                {{PRHeader.FlowResult }}</b></span>
                    </div>
                    <div *dxTemplate="let data of 'MainTemp3'" style="color: #fff; font-size:22px;">
                        <span #docStatus id="docStatus" class="label" *ngIf="PRHeader"><b>
                                {{PRHeader.CurrencyCode }} {{PRHeader.DocumentAmount }}</b></span>
                    </div>
                    <div class="clearfix" *dxTemplate="let data of 'MainTemp2'">
                        <dx-select-box #selectBoxPR [dataSource]="PurchaseReturnOperations" [value]=""></dx-select-box>
                        <dx-button type="default" text="GO" (onClick)="PurchaseReturnOperationsGo(selectBoxPR.text)">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <h3 class="card-title">Buy From</h3>
                <dx-form id="VendorDetailsGropup1" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                    [formData]="PRHeader" accept-charset="UTF-8" [readOnly]="!PRFlowResult">
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'Code'}">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'Name'}"
                        [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="PRHeader ? PRHeader.BuyFromVendor:''" [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="find" (onClick)="onVendorSearchClicked('BuyFromVendor')"
                            [disabled]="isLinesExist">
                        </dx-button>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-text-box [value]="PRHeader ? PRHeader.BuyFromName:''" [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="info" (onClick)="getBuyFromVendorDetail()" [disabled]="!PRFlowResult">
                        </dx-button>
                    </div>
                </dx-form>
                <br>
                <h3 class="card-title">Pay To</h3>
                <dx-form id="VendorDetailsGropup2" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                    [formData]="PRHeader" accept-charset="UTF-8" [readOnly]="!PRFlowResult">
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'Code'}">
                    </dxi-item>
                    <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate4'" [label]="{text: 'Name'}"
                        [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }">
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="PRHeader ? PRHeader.PayToVendor:''" [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="find" (onClick)="onVendorSearchClicked('PayToVendor')"
                            [disabled]="!PRFlowResult">
                        </dx-button>
                    </div>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate4'">
                        <dx-text-box [value]="PRHeader ? PRHeader.PayToName:''" [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="info" (onClick)="getPayToVendorDetail()" [disabled]="!PRFlowResult">
                        </dx-button>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body font-for-formlable">
                <dx-form id="VendorDetailsGropup1" (onFieldDataChanged)="formSummary_fieldDataChanged($event)"
                    [formData]="PRHeader" accept-charset="UTF-8" [readOnly]="!PRFlowResult" itemType="group" [colCount]="1">
                    <dxi-item itemType="group" [colCount]="2">
                        <dxi-item itemType="group">
                            <dxi-item cssClass="font-for-formlable" dataField="DocumentDate" editorType="dxDateBox"
                                [editorOptions]="{ displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' }, readOnly : isLinesExist }">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item cssClass="font-for-formlable" dataField="AmtIncvat" editorType="dxCheckBox"
                                [label]="{text: 'Price Inc TAX'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' }, readOnly:true }">
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'FromInvoiceNo'" [label]="{text: 'Invoice No'}"
                            [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="VendorInvoiceNo" [label]="{text: 'Vendor Invoice'}"
                            [editorOptions]="{ readOnly: true, elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" dataField="ExpectedReciptDate" editorType="dxDateBox"
                            [editorOptions]="{ text: 'Exp Receipt Date', width: '100%', displayFormat: 'dd-MM-yyyy',elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'receiveAtTemplate'" [label]="{text: 'Ship From'}">
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxi-item cssClass="font-for-formlable" [template]="'nameTemplate3'" [label]="{text: 'For Customer'}"
                            [editorOptions]="{ width: '100%',elementAttr:{ 'class': 'font-for-formlable' } }">
                        </dxi-item>
                    </dxi-item>
                    <div class="clearfix2" *dxTemplate="let data of 'nameTemplate3'">
                        <dx-text-box [value]="PRHeader ? PRHeader.ConnectedCustCode:''" [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                        <dx-button type="default" icon="find" (onClick)="onCustomerSearchClicked()" [disabled]="!PRFlowResult">
                        </dx-button>
                    </div>
                    <div *dxTemplate="let data of 'receiveAtTemplate'">
                        <dx-select-box #selectBox1 [dataSource]="receiveLocSuggestions" [searchEnabled]="true"
                            [showClearButton]="true" [displayExpr]="suggestionFormateForLocation" valueExpr="LocationCode"
                            [minSearchLength]="0" fieldTemplate="field1" noDataText="Want to Add New ?" [value]="PRHeader ? PRHeader.ReceiveToLocation:''"
                            (onValueChanged)="onReceiveLocationChanged($event)" hoverStateEnabled="true" [itemTemplate]="hover2">
                            <div *dxTemplate="let itemData1 of 'field1'">
                                <dx-text-box [text]="itemData1 ? itemData1.LocationCode:'' " [elementAttr]="{ 'class': 'font-for-formlable' }"></dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                    <div *dxTemplate="let data of 'FromInvoiceNo'">
                        <dx-select-box [dataSource]="gotpostedpurchinvoicelines" [searchEnabled]="true" [displayExpr]="suggestionFormateForFromInvoiceNo"
                            valueExpr="DocumentNo" [minSearchLength]="0" fieldTemplate="field5" [value]="PRHeader ? PRHeader.FromInvoiceNo:''"
                            (onValueChanged)="onDropDownCodeChanged($event,'FromInvoiceNo')" hoverStateEnabled="true"
                            [itemTemplate]="hoverforFromInvoiceNo" [readOnly]="isLinesExist">
                            <div *dxTemplate="let itemData5 of 'field5'">
                                <dx-text-box [text]="itemData5 ? itemData5.DocumentNo:PRHeader ? PRHeader.FromInvoiceNo:''"
                                    [elementAttr]="{ 'class': 'font-for-formlable' }">
                                </dx-text-box>
                            </div>
                        </dx-select-box>
                    </div>
                </dx-form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body font-for-formlable">
                <ngb-tabset type="pills">
                    <ngb-tab title="Products and Services">
                        <ng-template ngbTabContent>
                            <div #barcodediv id="barcodediv" class="dx-field" [ngStyle]="{'visibility':isDivVisible ? 'visible' : 'hidden'}">
                                <dx-form *ngIf="isDivVisible" [formData]="barcodeValue" (onFieldDataChanged)="BarcodetxtScan_enterHandler($event)"
                                    [colCount]="2" accept-charset="UTF-8" [focusStateEnabled]="true">
                                    <dxi-item #SalesReturnScanOperations id="SalesReturnScanOperations" dataField="barcode"
                                        [editorOptions]="{ showClearButton: true, onContentReady:setFocus }" [label]="{text: 'Scan-Mode Active'}"></dxi-item>
                                </dx-form>
                            </div>
                            <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
                                [showBorders]="true" [allowColumnResizing]="true" [allowColumnReordering]="true"
                                [wordWrapEnabled]="true" (onInitNewRow)="onInitNewRow($event)" (onRowInserted)="onRowInserted($event)"
                                (onRowUpdated)="onRowInserted($event)" (onEditingStart)="onInitNewRow($event)"
                                (onCellPrepared)="onCellPrepared($event)">
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                                <dxo-editing mode="row" [allowAdding]="isAllowAdd()" [allowUpdating]="PRFlowResult"
                                    [allowDeleting]="PRFlowResult"></dxo-editing>
                                <dxi-column dataField="LineNo" [allowSearch]="false" [visible]="false"></dxi-column>
                                <dxi-column dataField="ItemCode" [allowSearch]="true" [allowEditing]="false"
                                    [setCellValue]="setBaseUOMValueItemCode" dataType="string">
                                </dxi-column>
                                <dxi-column dataField="Lookup" caption="" cellTemplate="cellTemplate" [allowEditing]="false"
                                    [allowSearch]="false" [visible]="false"></dxi-column>
                                <dxi-column dataField="Details" caption="" cellTemplate="cellTemplate2" [allowEditing]="false"
                                    [allowSearch]="false"></dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <div class="icon">
                                        <i class="fa fa-search" (click)="ItemLookupvalueChanged(data)"></i>
                                    </div>
                                </div>
                                <div *dxTemplate="let data of 'cellTemplate2'">
                                    <div class="icon">
                                        <a><i class="fa fa-info-circle" (click)="ItemDeatilsForPopUp(data)"></i></a>
                                    </div>
                                </div>
                                <dxi-column dataField="UOM" [allowSearch]="true" dataType="string" [allowEditing]="false"></dxi-column>
                                <dxi-column dataField="DirectUnitCost" [allowSearch]="false" dataType='number'
                                    [editorOptions]="{ mode:number, min: 0, format: ' #,##0.##' }">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column> <!-- [setCellValue]="setPriceValue"-->
                                <dxi-column dataField="Quantity" dataType="number" [allowSearch]="false" [allowEditing]="true"
                                    [editorOptions]="{ mode:number, min: 0, format: ' #,##0.##' }">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                                <dxi-column dataField="QuantityShipped" dataType="number" [allowSearch]="false"
                                    [allowEditing]="false" [editorOptions]="{ mode:number, min: 0, format: ' #,##0.##' }">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                                <dxi-column dataField="Amount" [allowSearch]="false" dataType="number" [visible]="false"
                                    [allowEditing]="false">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                                <dxi-column dataField="LineDiscountAmount" [allowSearch]="false" dataType="string"
                                    [allowEditing]="true">
                                </dxi-column> <!-- [setCellValue]="setDiscountValue"-->
                                <dxi-column dataField="LineAmount" dataType="number" [allowSearch]="false"
                                    [allowEditing]="false">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                                <dxi-column dataField="QuantityInvoiced" [allowSearch]="false" dataType="number"
                                    [allowEditing]="false">
                                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                </dxi-column>
                                <dxo-paging [pageSize]="12"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]">
                                </dxo-pager>
                                <dxo-summary>
                                    <dxi-total-item [customizeText]="getFormatOfNumber" column="LineAmount" summaryType="sum"
                                        displayFormat="Total: {0}">
                                    </dxi-total-item>
                                    <dxi-total-item [customizeText]="getFormatOfNumber" column="QuantityInvoiced"
                                        summaryType="sum" displayFormat="{0}">
                                    </dxi-total-item>
                                    <dxi-total-item [customizeText]="getFormatOfNumber" column="Amount" summaryType="sum"
                                        displayFormat="{0}" dataType="number">
                                    </dxi-total-item>
                                </dxo-summary>
                            </dx-data-grid>
                            <div class="row" style="padding: 10px; float: right; color:#000;">
                                <div>
                                    <p style="float: right; color:#000;"> Quantity : {{ TotalQuantity | number:
                                        '1.2-2'}}</p>
                                    <br>
                                    <br>
                                    <p style="float: right; color:#000;"> Discount : {{ totalInvoiceDisocunt}}</p>
                                    <br>
                                    <br>
                                    <p style="float: right; color:#000;"> Amount Ex Tax : {{ lineTotal | number:
                                        '1.2-2'}}</p>
                                    <br>
                                    <br>
                                    <p style="float: right; color:#000;"> Tax : {{ Tax | number: '1.2-2'}} </p>
                                    <br>
                                    <br>
                                    <p style="float: right; color:#000;"> Amount Inc Tax : {{ amtincvatvalue | number:
                                        '1.2-2' }} </p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Remarks">
                        <ng-template ngbTabContent>
                            <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSourceComment"
                                [showBorders]="true" [allowColumnResizing]="true" (onInitNewRow)="onInitNewCommentRow($event)">
                                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="false" [allowDeleting]="false">
                                </dxo-editing>
                                <dxi-column dataField="CommentDate" dataType="string" [allowEditing]="false">
                                </dxi-column>
                                <dxi-column dataField="CommentTime" dataType="string" [allowEditing]="false">
                                </dxi-column>
                                <dxi-column dataField="UserID" dataType="string" [allowEditing]="false"></dxi-column>
                                <dxi-column dataField="Comment" dataType="string" [allowEditing]="true"></dxi-column>
                                <dxo-paging [pageSize]="12"></dxo-paging>
                            </dx-data-grid>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>