<a [routerLink]="[ '/dashboard/dashboard1']" class="float-home">
  <i class="fa fa-home my-float-home"></i>
</a>

<ngb-tabset type="pills">
  <ngb-tab title="BUS Group" id="bus">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer4 [columnAutoWidth]="true" [allowColumnResizing]="true" id="gridContainer"
                [dataSource]="dataSource" [showBorders]="true" [hoverStateEnabled]="true" (onInitNewRow)="onInitNewRow($event)"
                (onEditingStart)="onEditingStart($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-editing mode="row" [allowDeleting]="true" [allowUpdating]="true" [allowAdding]="true">
                </dxo-editing>
                <dxi-column dataField="Code" [allowEditing]="false" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="Description" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="PROD Group" id="prod">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer5 [columnAutoWidth]="true" [allowColumnResizing]="true" id="gridContainer2"
                [dataSource]="dataSource2" [showBorders]="true" [hoverStateEnabled]="true" (onInitNewRow)="onInitNewRow2($event)"
                (onEditingStart)="onEditingStart2($event)">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-editing mode="row" [allowDeleting]="true" [allowUpdating]="true" [allowAdding]="true">
                </dxo-editing>
                <dxi-column dataField="Code" [allowEditing]="false" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="Description" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Setup" id="setup">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-2">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="dataSource"
                [showBorders]="true" (onRowClick)="onUserRowSelect($event)" [hoverStateEnabled]="true">
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="Code" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
              </dx-data-grid>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-data-grid #gridContainer3 [columnAutoWidth]="true" [allowColumnResizing]="true" [dataSource]="listforSecondDatarid"
                [showBorders]="true" (onRowClick)="onUserRowSelect2($event)" [hoverStateEnabled]="true">
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="Code" [allowSearch]="true"></dxi-column>
                <dxo-paging [pageSize]="12"></dxo-paging>
              </dx-data-grid>
            </div>
          </div>
        </div>

        <div class="col-8" *ngIf="hasGST">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-form itemType="group" (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [colCount]="2"
                [formData]="gotSelectedLists" accept-charset="UTF-8">
                <dxi-item itemType="group">
                  <dxi-item cssClass="font-for-formlable" dataField="VATpercentage" [label]="{text: 'Tax %'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'IsUnRealizedVAT'" [label]="{text: 'UNREALIZED'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'NOVAT'" [label]="{text: 'NO VAT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="CGST" [label]="{text: 'CGST'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="SGST" [label]="{text: 'SGST'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="IGST" [label]="{text: 'IGST'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'FlexiRate'" [label]="{text: 'Flexi Rate'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item class="font-for-formlable" dataField="AmountThreshold" editorType="dxNumberBox"
                    [editorOptions]="{ showSpinButtons: true, mode: 'number'}" [label]="{text: 'Amount Threshold'}"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="CGST2" [label]="{text: 'CGST2'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="SGST2" [label]="{text: 'SGST2'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" dataField="IGST2" [label]="{text: 'IGST2'}" [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'IsUnRealizedVAT'">
                  <dx-select-box [dataSource]="IsUnRealizedVAT" [searchEnabled]="true" [displayExpr]="suggestionFormatFordropdown"
                    valueExpr="Code" [minSearchLength]="0" [value]="gotSelectedLists.IsUnRealizedVAT" (onValueChanged)="onIsUnRealizedVATChange($event)"
                    hoverStateEnabled="true" [itemTemplate]="hover2">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'NOVAT'">
                  <dx-select-box [dataSource]="NOVAT" [searchEnabled]="true" [displayExpr]="suggestionFormatFordropdown"
                    valueExpr="Code" [minSearchLength]="0" [value]="gotSelectedLists.NOVAT" (onValueChanged)="onNOVATChange($event)"
                    hoverStateEnabled="true" [itemTemplate]="hover2">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'FlexiRate'">
                  <dx-select-box [dataSource]="NOVAT" [searchEnabled]="true" [displayExpr]="suggestionFormatFordropdown"
                    valueExpr="Code" [minSearchLength]="0" [value]="gotSelectedLists.FlexiRate" (onValueChanged)="onFlexiRateChange($event)"
                    hoverStateEnabled="true" [itemTemplate]="hover2">
                  </dx-select-box>
                </div>
                <dxi-item itemType="group">
                  <dxi-item cssClass="font-for-formlable" [template]="'SalesVATAccount'" [label]="{text: 'SALES ACCOUNT.'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'SalesVATUnRealizedAcct'" [label]="{text: 'SALES ACCOUNT(SUSP)'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'PurchVATAccount'" [label]="{text: 'PURCHASE ACCOUNT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'PurchVATUnRealizedAcct'" [label]="{text: 'PURCHASE ACCOUNT(SUSP)'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'ConsignVATAccount'" [label]="{text: 'CONSIGNMENT ACCOUNT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'SalesVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.SalesVATAccount"
                    (onValueChanged)="onSalesVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'SalesVATUnRealizedAcct'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.SalesVATUnRealizedAcct"
                    (onValueChanged)="onSalesVATUnRealizedAcctChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'PurchVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.PurchVATAccount"
                    (onValueChanged)="onPurchVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'PurchVATUnRealizedAcct'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [minSearchLength]="0" [value]="gotSelectedLists.PurchVATUnRealizedAcct"
                    (onValueChanged)="onPurchVATUnRealizedAcctChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'ConsignVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.ConsignVATAccount"
                    (onValueChanged)="onConsignVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
              </dx-form>
              <dx-button type="danger" text="Delete" (onClick)="delete()">
              </dx-button>
            </div>
          </div>
        </div>

        <div class="col-8" *ngIf="!hasGST">
          <div class="card">
            <div class="card-body font-for-formlable">
              <dx-form itemType="group" (onFieldDataChanged)="formSummary_fieldDataChanged($event)" [colCount]="2"
                [formData]="gotSelectedLists" accept-charset="UTF-8">
                <dxi-item itemType="group">
                  <dxi-item cssClass="font-for-formlable" dataField="VATpercentage" [label]="{text: 'Tax %'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }"></dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'IsUnRealizedVAT'" [label]="{text: 'UNREALIZED'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'NOVAT'" [label]="{text: 'NO VAT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'IsUnRealizedVAT'">
                  <dx-select-box [dataSource]="IsUnRealizedVAT" [searchEnabled]="true" [displayExpr]="suggestionFormatFordropdown"
                    valueExpr="Code" [minSearchLength]="0" [value]="gotSelectedLists.IsUnRealizedVAT" (onValueChanged)="onIsUnRealizedVATChange($event)"
                    hoverStateEnabled="true" [itemTemplate]="hover2">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'NOVAT'">
                  <dx-select-box [dataSource]="NOVAT" [searchEnabled]="true" [displayExpr]="suggestionFormatFordropdown"
                    valueExpr="Code" [minSearchLength]="0" [value]="gotSelectedLists.NOVAT" (onValueChanged)="onNOVATChange($event)"
                    hoverStateEnabled="true" [itemTemplate]="hover2">
                  </dx-select-box>
                </div>
                <dxi-item itemType="group">
                  <dxi-item cssClass="font-for-formlable" [template]="'SalesVATAccount'" [label]="{text: 'SALES ACCOUNT.'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'SalesVATUnRealizedAcct'" [label]="{text: 'SALES ACCOUNT(SUSP)'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'PurchVATAccount'" [label]="{text: 'PURCHASE ACCOUNT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'PurchVATUnRealizedAcct'" [label]="{text: 'PURCHASE ACCOUNT(SUSP)'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                  <dxi-item cssClass="font-for-formlable" [template]="'ConsignVATAccount'" [label]="{text: 'CONSIGNMENT ACCOUNT'}"
                    [editorOptions]="{ elementAttr:{ 'class': 'font-for-formlable' } }">
                  </dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'SalesVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.SalesVATAccount"
                    (onValueChanged)="onSalesVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'SalesVATUnRealizedAcct'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.SalesVATUnRealizedAcct"
                    (onValueChanged)="onSalesVATUnRealizedAcctChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'PurchVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.PurchVATAccount"
                    (onValueChanged)="onPurchVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'PurchVATUnRealizedAcct'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [minSearchLength]="0" [value]="gotSelectedLists.PurchVATUnRealizedAcct"
                    (onValueChanged)="onPurchVATUnRealizedAcctChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
                <div *dxTemplate="let data of 'ConsignVATAccount'">
                  <dx-select-box [dataSource]="gotListCHILDONLY" [searchEnabled]="true" [displayExpr]="suggestionFormateForDropDown"
                    valueExpr="AccountCode" [searchExpr]="['AccountCode', 'Name']" [minSearchLength]="0" [value]="gotSelectedLists.ConsignVATAccount"
                    (onValueChanged)="onConsignVATAccountChange($event)" hoverStateEnabled="true" [itemTemplate]="hover">
                  </dx-select-box>
                </div>
              </dx-form>
              <dx-button type="danger" text="Delete" (onClick)="delete()"></dx-button>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </ngb-tab>

</ngb-tabset>